

/* THEME - LIGHT */

.page-header-excerpt
  p
    color: var(--color-grey-medium) !important

body
  background-color: #fcf6dc 

/* THEME - DARK */

body.dark-mode
  background-color: #4A76C7 !important
  background: linear-gradient(180deg,rgba(42, 123, 155, 1) 0%, rgba(120, 206, 255, 1) 0%, rgba(189, 189, 189, 1) 100%)
  background-repeat: no-repeat
  background-size: cover
  height: 100%
  color: white

body.dark-mode 
  .page-header-excerpt
    background-color: var(--color-grey-dark)
