.project-title {
  color: var(--color-grey-dark);
}

/* THEME - LIGHT */
.page-header-excerpt p {
  color: var(--color-grey-medium) !important;
}

body {
  background-color: #fcf6dc;
}

/* THEME - DARK */
body.dark-mode {
  background-color: #4A76C7 !important;
  background: linear-gradient(180deg, rgb(42, 123, 155) 0%, rgb(120, 206, 255) 0%, rgb(189, 189, 189) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
}

body.dark-mode .page-header-excerpt {
  background-color: var(--color-grey-dark);
}
body.dark-mode .project-title {
  color: var(--color-grey-dark);
}
