.bg-cyber
  background: #040D19
  background: linear-gradient(0deg, #081526, #050E1A)

.bg-glass
  background: rgba(230, 230, 230, .05)
  border-radius: 12px

.bg-glass-blue
  background: rgba(0, 225, 237, .035)

.bg-glass-green
  background: rgba(150, 247, 109, .035)

.bg-glass-red
  background: rgba(217, 47, 4, .035)

.bg-glass-orange
  background: rgba(247, 147, 26, .035)

.bg-glass-purple
  background: rgba(113, 100, 255, .045)

.bg-glass-yellow
  background: rgba(247, 204, 21, .035)

.bg-glass-original
  background: rgba(255, 255, 255, .04)
  border-radius: 12px

.bg-home
  background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url('/images/header.jpg')
  background-repeat: no-repeat
  background-position: top
  height: 100vh
  width: 100vw
  position: fixed
  z-index: -9999