.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier Prime", monospace;
  /* figure this out via flexbox */
}
.footer h3 {
  cursor: default;
  font-size: var(--font-m);
}
.footer a {
  font-size: var(--font-xs) !important;
  color: var(--color-retro-aqua) !important;
}

.footer-main {
  display: flex;
  flex-direction: column;
  color: var(--color-light);
  padding: 0 0 128px;
}
.footer-main h3 {
  margin: 0 0 12px;
}
.footer-main a {
  color: var(--color-retro-aqua) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-main a:hover {
  color: var(--color-retro-aqua-highlight) !important;
}

.footer-row {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px 0;
  width: 100%;
}

.footer-row-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-row-title h5 {
  font-size: var(--font-l);
}
.footer-row-title i {
  color: var(--color-pgh-yellow);
  margin-right: 12px;
  font-size: var(--font-l);
}

.footer-column {
  padding: 12px 0;
  display: flex;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-caution {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: red;
  width: 100%;
  height: 75vh;
  font-family: "Courier Prime", monospace;
  font-size: var(--font-xl);
}
.footer-caution i {
  color: var(--color-pgh-red);
}

.footer-caution > .text-flashing {
  animation: blink-animation 0.71s infinite;
  -webkit-animation: blink-animation 0.71 infinite;
}

.text-flashing {
  text-align: center;
}

.footer-caution > .text-flashing-2 {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

/* better way to do this? */
@media screen and (min-width: 320px) and (max-width: 780px) {
  .footer {
    padding: 0 40px;
  }
  .footer-column {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 1180px) {
  .footer-main {
    width: 1420px;
  }
}
@media screen and (min-width: 1180px) and (max-width: 1480px) {
  .footer-main {
    width: 1180px;
  }
}
@media (min-width: 1480px) {
  .footer-main {
    width: 1480px;
  }
}
