
.ingredients
  color: var(--color-base)
  width: 100%
  h2
    margin: 36px 0 0

.ingredients td
  border: 1px solid var(--color-code-bg)
  padding: 12px 24px
  color: var(--color-light)

.ingredients td:nth-of-type(even)
  text-align: right

.ingredients-table
  width: 100%
  margin: 24px 0 0

.ingredients-tr
  th
    text-align: left
    padding: 12px 24px !important
    text-decoration: underline
  
.ingredients-tr th:nth-of-type(even)
    text-align: right

.recipe-recent-list
  padding: 12px 0
  p
    padding: 12px 0 !important
    text-indent: 0rem !important

@media (max-width: 768px)
  .ingredients
    h2
      margin: 96px 0 0
      text-align: center



.recipe-container
  .intro-pink 
    p
      color: pink 
  .column
    background-color: var(--color-bg-menu)
    border-radius: 0
  img
    border-radius: 16px

.column
  flex: 1
  border-radius: 8px

@media (max-width: 768px)
  .column
    flex: 100%

@media print  
  *
    color: blue !important

