.back-to-top
  position: fixed
  bottom: 4rem
  left: 4rem
  display: flex
  justify-content: center
  align-items: center
  height: 5.5rem
  width: 5.5rem
  background-color: #1f1f1f
  border-radius: 50%
  z-index: 9999
  transition: all .4s
  visibility: hidden
  &:hover
    -webkit-filter: invert(.8) /* safari 6.0 - 9.0 */
    filter: invert(.8)
  &:active
    -webkit-filter: invert(1) /* safari 6.0 - 9.0 */
    filter: invert(1)

#menu-button
  i
    font-size: var(--font-l)

.menu-category-title
  display: flex
  flex-direction: row
  align-items: center
  color: var(--color-site-section)
  i
    animation: pulsate 0.11s ease-in-out infinite alternate !important
    color: var(--color-pgh-yellow)
    font-size: var(--font-xl)
    padding: 0 22px 0 0 

.menu-closed
  display: flex
  justify-content: space-between
  margin: 36px 0

.menu-expanded
  display: flex
  height: 100vh

.menu
  width: 100%

.menu-column
  span
    padding: 0 12px 0 0

.menu-category
  padding: 4rem 0 0

.menu-list
  display: flex
  flex-direction: column
  a 
    color: var(--color-retro-aqua)
    font-family: "Yellowtail", monospace
    font-size: var(--font-s)
    padding: 2px 0
    &:hover 
      color: var(--color-retro-aqua-highlight)

.menu-category-title
  cursor: default
  display: flex
  align-items: center
  color: var(--color-light)
  font-family: "Fugaz One", sans-serif
  font-family: "Lexend Exa", sans-serif
  text-transform: uppercase
  font-weight: 400
  margin-bottom: 1rem
  h2
    font-family: "Yellowtail", monospace
    font-size: var(--font-m)
    text-transform: uppercase
  em
    color: var(--color-border)

.menu-category-list
  display: flex
  justify-content: center
  text-align: center

.menu-category-list-right
  display: flex
  justify-content: flex-end
  text-align: right

.menu-icon
  button
    color: var(--color-border)
  button:hover
    color: var(--color-retro-aqua-highlight)

.menu-logo
  a
    color: var(--color-border)
    color: var(--color-retro-aqua)
    color: #ececec
  a:hover
    color: var(--color-retro-aqua-highlight)

#navbar
  backdrop-filter: blur(187px)
  display: flex
  justify-content: center
  position: fixed 
  left: 0
  right: 0
  z-index: 9999
  /*  border-bottom: 7px solid var(--color-bg)*/
  box-shadow: 4px 4px 17px 14px rgba(0,0,0,0.29)
  /*  background: linear-gradient(to right, #451056, orange) !important*/

.navbar-home
  display: flex
  align-items: center
  font-family: "Yellowtail", monospace
  li
    a
      font-family: "Cutive Mono", monospace !important
      padding: 0 0 0 12px
  i
    font-size: var(--font-l)
    color: var(--color-base)
  i:hover
    color: var(--color-retro-aqua-highlight)
@media screen and (min-width: 100px) and (max-width: 360px)
  .menu-closed
    margin: 24px 0

@media screen and (min-width: 360px) and (max-width: 540px)
  .menu-closed
    margin: 24px 0

@media screen and (min-width: 540px) and (max-width: 756px)
  .back-to-top 
    height: 4.5rem
    width: 4.5rem
    bottom: 2rem !important
    right: 2rem !important