/* PAGE ELEMENTS */
* 
  box-sizing: border-box

p
  font-size: var(--font-m)

  /* fontshare fonts */
  font-family: 'Alpino', sans-serif
  font-family: 'Array', sans-serif
  font-family: 'Author', sans-serif
  font-family: 'Boxing', sans-serif
  font-family: 'Clash Display', sans-serif
  font-family: 'Comico', cursive
  font-family: 'Kihim', sans-serif
  font-family: 'Kola', sans-serif
  font-family: 'Literata', serif
  font-family: 'Melodrama', serif
  font-family: 'RX100', sans-serif
  font-family: 'Satoshi', sans-serif
  font-family: 'Telma', cursive

  /* google fonts */
  font-family: "Courier Prime", monospace
  font-family: "Doto", serif
  font-family: "Geostar Fill", serif
  font-family: "Press Start 2P", system-ui
  font-family: "Redacted Script", cursive
  font-family: "Reddit Mono", monospace 
  font-family: "Tiny5", monospace
  font-family: "JetBrains Mono", monospace

body
  display: flex
  &::-webkit-scrollbar 
    width: 12px 
  &::-webkit-scrollbar-track 
    background: var(--color-blue-storm) 
  &::-webkit-scrollbar-thumb 
    background-color: var(--color-grey-dark)
    border-radius: 20px 
    border: 1px solid var(--color-grey-dark)
  h2
    -webkit-hyphens: none /* Safari and older Chrome */
    -ms-hyphens: none      /* Internet Explorer/Edge */
    hyphens: none
    word-wrap: break-all
body, html
  max-width: 100%
  overflow-x: hidden
  scroll-behavior: smooth

table
  border-collapse: collapse
  border-spacing: 0

::selection,
::-moz-selection
  background: rgba(255, 255, 255, 0.1)
  color: #000

*
  letter-spacing: -0.029rem
  &::-webkit-scrollbar 
    width: 0 !important
    display: none

/* FONTS & CURSOR */

a,
.category-links,
.category-links a
  cursor: pointer !important

.category-links span,
.menu-category-title,
.quote-by,
.quote-text,
.project-section,
.project-title,
.stat li,
p, h1, h2, h3, h4, h5
  cursor: default

/* MAIN STYLES */

.anchor
  scroll-margin-top: 28px 

.badges
  margin: 96px 0

.badges-container
  display: flex
  flex-wrap: wrap
  padding: 48px 24px
  img
    width: 200px
    padding: 4px 0

.category
  font-family: "Yellowtail", monospace
  margin: 96px 0
  padding: 72px
  a
    font-size: var(--font-m)
  h1
    color: white
    text-wrap: wrap
    word-break: break-all
  li
    list-style: none

.category-links
  line-height: 2rem
  padding: 8px 0 48px
  text-shadow: var(--text-shadow-2)
  a
    font-size: var(--font-l)
    font-style: italic
    text-decoration: underline
    text-decoration-style: dotted
    &:hover
      animation: blinker 1s linear infinite
  span
    opacity: 0.4
    padding: 0 8px

.category-links-footer
  padding: 8px 0 !important

.category-links-slash
  opacity: 0.4

.category-title
  display: flex
  align-items: center
  h1
    color: white
    font-family: "Courier Prime", monospace
    font-size: var(--font-xxl)
    letter-spacing: 0.8rem
    text-transform: uppercase
    word-break: break-word
  i
    font-size: var(--font-xl)
    padding: 0 24px 4px 0
    text-align: center

.category-subtitle
  p
    font-family: "Reddit Mono", monospace
    font-family: "Courier Prime", monospace
    font-size: var(--font-l)
    font-style: italic

.contact
  padding: 96px 72px
  a
    color: var(--color-white)
    font-size: var(--font-xl)
    font-weight: 900
  ul, p
    font-size: var(--font-l)
  p
    line-height: 2rem
    margin: 72px 0 0
  a:hover
    animation: blinker 1s linear infinite
  ul
    list-style-type: disc
    margin: 0 0 24px
  li
    margin: 24px
  span
    opacity: 0.4

.contact-title
  display: flex
  align-items: center
  justify-content: flex-start
  text-align: center
  h1
    color: white
    font-family: "Courier Prime", monospace
    font-size: var(--font-5xl)
    letter-spacing: 0.8rem
    text-transform: uppercase
    word-break: break-word
  i
    font-size: var(--font-xl)
    padding: 0 24px 4px 0
    text-align: center

.footer  
  margin: 120px 0 24px

.footer-back-to-top
  display: flex
  align-items: center
  justify-content: center
  background-color: var(--color-black)
  border-radius: 15%
  left: 72px
  bottom: 96px
  display: flex
  opacity: 0.5 !important
  padding: 0.87rem
  position: fixed
  transition: all .4s
  visibility: hidden
  width: 4rem
  z-index: 8999
  &:hover
    background-color: #000
    opacity: 0.9
  &:active
    background-color: var(--color-black)
    opacity: 1.0

.footer-back-to-top-container
  display: flex
  align-items: center
  justify-content: center

.footer-categories
  font-family: "Yellowtail", monospace
  font-size: var(--font-m)
  margin: 48px 0
  padding: 32px 72px
  text-align: center

.footer-caution
  align-items: center
  display: flex
  justify-content: center
  a
    color: var(--color-orange)

.footer-text
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  padding: 48px
  h1
    color: var(--color-grey-dark)
    font-family: 'Array', sans-serif
    font-size: 4rem
  p
    color: var(--color-grey-medium)
    font-family: "Yellowtail", monospace
    font-size: var(--font-s)

.footer-text-flashing
  animation: blink-animation 0.87s infinite
  -webkit-animation: blink-animation 0.87s infinite
  padding: 0 24px

.header-simple
  padding: 172px 0 0
  text-align: center

.header-simple-title
  display: flex
  justify-content: center
  align-items: center
  color: var(--color-grey-light)
  font-size: var(--font-7xl)
  i
    font-size: var(--font-xxl)
    margin: 0 24px 0 0
  h1
    letter-spacing: 0.29rem
    font-family: 'Melodrama', serif
    font-family: "Reddit Mono", monospace 
    font-family: "Tiny5", monospace
    text-transform: uppercase

.header-simple-excerpt
  color: var(--color-grey-medium)
  margin: 0 25vw
  padding: 8px 0

.img-fullsize
  margin: 48px 0
  figcaption
    padding: 18px 0
    text-align: center

.img-gallery
  ul
    display: flex
    flex-wrap: wrap 
  li
    height: 100vh
    flex-grow: 1
  img
    // border: 24px solid transparent
    max-height: 100%
    min-width: 100%
    object-fit: cover
    vertical-align: bottom 
    width: 100%

.img-gallery-small
  img
    padding: 24px 0

.img-gallery-full
  color: var(--color-grey-dark)
  padding: 48px 0
  font-family: "Reddit Mono", monospace
  figcaption
    font-size: var(--font-s)
    padding: 16px 0 128px
    text-align: center
  img
    box-shadow: 0 0 24px hsla(0, 0%, 0%, 0.2) 

#info 
  text-align: center
  
#info a 
  color: #fff
  text-transform: uppercase
  position: fixed
  bottom: 15px

.intro-category-icons
  display: flex
  flex-shrink: 1
  i
    font-size: var(--font-xl)
  h1
    font-size: var(--font-xl)
    padding: 0
    &:after
      animation: blink-animation .9s infinite
      -webkit-animation: blink-animation .9s infinite
      -moz-animation: blink-animation .9s infinite
      -o-animation: blink-animation .9s infinite
      content: "_"    
  span
    padding: 0 8px

.intro-text
  margin: 12px 0 50px
  a
    font-weight: 700
    text-shadow: var(--text-shadow-3)
  a:hover
    animation: blinker 1s linear infinite
  p
    display: inline-block
    font-size: var(--font-m)
    font-family: "Reddit Mono", monospace
    line-height: 2rem
    text-align: left

#menu-button
  i
    font-size: var(--font-xxxl)

.menu-category
  display: flex
  flex: 1
  flex-direction: column
  justify-content: flex-start !important

.menu-category-container
  display: flex
  align-items: flex-start
  flex: 1
  justify-content: center
  text-align: center
  padding: 48px 0

.menu-category-title
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 4px 0
  i
    color: var(--color-grey-light)
    font-size: var(--font-xl)
    padding: 0 14px 0 0 
  h2
    font-family: "Yellowtail", monospace
    font-family: "Courier Prime", monospace
    font-family: "JetBrains Mono", monospace !important
    font-size: var(--font-l)
    line-height: 1.1rem
    text-align: center

#menu-expanded
  height: 100vh
  -ms-overflow-style: none  /* IE and Edge */
  scrollbar-width: none

.menu-expanded
  display: flex
  overflow-y: auto
  overflow-y: scroll
  scrollbar-width: none
  -ms-overflow-style: none 

.menu-list
  display: flex
  flex-direction: column
  padding: 12px 0
  a 
    font-family: "Yellowtail", monospace
    font-family: "Jetbrains Mono", monospace
    font-size: var(--font-m)
    line-height: 1.4rem
    padding: 6px 0
    &:hover 
      animation: blinker 1s linear infinite

#navbar
  left: 0
  right: 0
  z-index: 9999
  overflow: hidden
  width: 100%
  max-height: 100vh 
  position: fixed
  backdrop-filter: blur(187px)
  // -webkit-backdrop-filter: blur(187px)
  // box-shadow: 10px -10px 54px -4px rgba(0,0,0,0.77)
  // -webkit-box-shadow: 10px -10px 54px -4px rgba(0,0,0,0.77)
  // -moz-box-shadow: 10px -10px 54px -4px rgba(0,0,0,0.77)

#navbar-theme-toggle
    background: transparent
    border: none
    display: block
    fill: var(--color-yellow) 
    height: 2rem
    position: relative
    width: 2rem
    img, svg
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 1.25rem
      height: 1.25rem
      pointer-events: none

.navbar
  display: flex
  justify-content: space-between
  align-items: center
  margin: 16px 0

.navbar-logo
  align-items: center
  display: flex
  margin: 12px 0
  a
    font-family: "JetBrains Mono", monospace
  h1
    cursor: pointer
    font-size: var(--font-xxxl)
    &:after
      background-color: var(--color-grey-light)
      border-radius: 1px
      content: ""
      display: inline-block
      height: 1.2em
      margin-left: 4px
      opacity: 0.4
      vertical-align: text-bottom
      width: 0.67em
      @extend .blinker
  h1:hover
    color: #48DC8C 
    &:after
      background-color: var(--color-green)
  h1:active
    color: #48DC8C 

.navbar-logo-spacer
  margin: 0 3px

.navbar-menu
  display: flex
  align-items: center
  justify-content: center
  i
    color: var(--color-grey-light)
  i:hover
    color: var(--color-green)
  i:active
    opacity: 0.5

.page-header
  display: flex
  flex-direction: row
  flex-wrap: wrap
  font-family: "Yellowtail", monospace
  width: 100%
  font-family: "Yellowtail", monospace
  p
    font-size: var(--font-m)
  a
    font-size: var(--font-m) 
    mix-blend-mode: normal 
  a:hover
    animation: blinker 1s linear infinite
  h1
    font-family: "Courier Prime", monospace
    letter-spacing: 0.8rem
    white-space: pre-wrap 
    word-break: break-word 
    hyphens: auto
    -webkit-hyphens: auto
    -ms-hyphens: auto
    font-size: var(--font-xxl)

.page-header-image
  border-radius: 0 0.75rem 0.75rem 0 
  display: flex
  flex-direction: column
  flex: 1
  p
    display: flex
    justify-content: flex-end /* Centers horizontally (optional) */

.page-header-image
  flex-basis: 25%
  img
    border-radius: 0.75rem 0 0 0.75rem

.page-header-image-invert
  img
    &:hover
      transition: filter 6.5s ease-in-out
      transition-duration: 7s
      filter: invert(100%)
      -webkit-transition: 1.5s

.page-header-excerpt
  flex-basis: 70%
  border: none
  border-radius: 0 0.75rem 0.75rem 0 
  img
    border-radius: 24px 0 0 0
  p
    font-family: "Yellowtail", monospace
    font-size: var(--font-l)
    padding: 48px

.page-header-title
  display: flex
  align-items: center
  margin: 12px 0
  width: 100%
  i
    font-size: var(--font-xxxl)
    margin: 0 24px 0 0
  h1
    font-size: var(--font-5xl) 

.page-title
  display: flex 
  flex-direction: row

.project-header
  padding: 24px 0 12px
  font-family: "Yellowtail", monospace
  p
    font-size: var(--font-m)
  a
    font-size: var(--font-m) 
    mix-blend-mode: normal
  a:hover
    animation: blinker 1s linear infinite
  h1
    color: white
    font-family: "Courier Prime", monospace
    &:after
      padding: 24px
      @extend .blinker
  h2
    color: var(--color-white)
    opacity: 0.5
    margin: 4px 0

.project-links
  padding: 24px 72px 24px
  display: flex
  flex-direction: column
  a
    font-weight: 900
    margin: 6px 0

.project-overview
  padding: 12px 0
  p
    font-size: var(--font-l)
    font-family: "Yellowtail", monospace

.project-section
  p
    color: var(--color-white)
    font-family: "Yellowtail", monospace
    line-height: 1.8rem
    margin: 18px 0
  a
    mix-blend-mode: normal !important
    &:hover
      animation: blinker 1s linear infinite
  .img
    display: flex
    justify-content: center
    padding: 72px 0 0
  span
    color: var(--color-title)
    margin-right: 24px

.project-section-desc
  margin: 36px 0
  p
    font-family: "JetBrains Mono", monospace
    // text-align: justify
    text-indent: 36px

.project-section-title
  h3
    font-family: "Courier Prime", monospace
    font-size: var(--font-xxxxl) !important
    line-height: 2.4rem

/* this should be .project-section-subtitle */
.project-section-title
  h4
    color: var(--color-grey-light)
    font-family: "JetBrains Mono", monospace
    padding: 12px 0

.project-section-tags
  color: var(--color-grey-medium)
  font-size: var(--font-xl) !important
  font-family: "Courier Prime", monospace

.project-tags
  cursor: default
  display: block
  font-size: 1em
  padding: 12px 0
  h1
    color: var(--color-grey-dark)

.project-tag
  background-color: var(--color-grey-dark)
  border-radius: 3px
  color: var(--color-grey-dark)
  cursor: pointer
  display: inline-block
  letter-spacing: 0
  margin: 8px 8px 8px 0
  opacity: 0.8
  padding: 4px 12px
  &:hover 
    opacity: 1

.project-title
  display: flex
  align-items: center
  i
    font-size: var(--font-xxl)
    margin: 0 24px 0 0
  h1
    letter-spacing: 0.71rem

.section-header
  font-family: "Courier Prime", monospace
  font-size: var(--font-l)
  margin: 72px 0 24px
  h5
    color: white

.site-main
  margin: 144px 0 0

.stats-container
  display: flex
  flex-direction: space-between
  gap: 1rem

.stats
  flex: 1
  padding: 1rem
  margin: 72px 0 !important

.stat 
  flex: 1
  border-radius: 6px
  box-shadow: var(--box-shadow-1)
  color: #fff
  margin: 15px 8px
  padding: 32px
  &:hover
    transform: translateY(-12px)
    transition: transform 0.1s ease-out, background-color 0.25s ease, border-color 0.25s ease, box-shadow 0.25s ease
  .numbers
    font-family: "Geostar Fill", serif  
    span 
      color: var(--color-grey-medium)
      font-size: var(--font-s)
      margin-right: 12px
  a 
    text-decoration: none
    color: #fff
    padding: 10px 20px
    text-align: center
    background: #000
    border: 2px solid #000
    border-radius: 5px
    letter-spacing: 0.05em
    text-transform: uppercase
    font-size: 15px
    font-weight: bolda
    &:hover 
      background-color: var(--color-yellow)
      color: var(--color-black)
  h2 
    margin-top: 0
    border-bottom: 2px solid #000
    text-transform: uppercase
    letter-spacing: 0.07em
    font-size: var(--font-9xl)
  p
    font-family: "Doto", serif 
    margin: 12px 0 36px
  ul 
    margin: 0 0 35px
    padding-left: 16px
    list-style: none
    line-height: 1.8
    color: #b5b5b5
    font-family: "Reddit Mono", monospace 
  li::before 
    content: "•"
    color: #000
    display: inline-block
    width: 20px
    margin-left: -15px
    position: relative
    top: 4px
    font-size: 26px
    line-height: 0

.stats-container 
  display: flex
  justify-content: space-between
  max-width: 960px
  margin: auto
  h1
    text-align: center

.stats-container-title
  display: flex
  justify-content: center
  h1
    color: var(--color-yellow)
    font-family: "Doto", serif 
    font-size: var(--font-7xl)
    margin: 24px 0
    text-transform: uppercase

.subcategory
  font-size: var(--font-xxl)
  filter: grayscale(0.5)
  opacity: 0.6
  padding: 48px 0
  transition: 0.21s ease-in-out
  &:hover
    cursor: pointer
    filter: grayscale(0)
    opacity: 1.0
    transition: 0.21s ease-in-out
    h2
      transition: 0.1s ease-in-out
    p
      color: var(--color-grey-light)

.subcategory-banner
  img
    margin: 18px 0 

.subcategory-container
  display: flex
  break-inside: avoid-column

.subcategory-excerpt
  align-items: stretch
  color: var(--color-grey-light) 
  display: flex
  min-height: 80px /* fix shim */
  p
    align-items: stretch
    cursor: pointer
    line-height: 1.4rem

.subcategory-title
  color: var(--color-white) 
  display: flex
  align-items: flex-end
  height: 70px
  font-family: "Russo One", sans-serif
  font-family: "Courier Prime", monospace
  font-family: "Yellowtail", monospace
  h2
    cursor: pointer
    font-size: var(--font-l)

.tooltip-container
  position: relative
  display: inline-block
  cursor: pointer
  &::before
    background-color: #333
    border-radius: 4px
    bottom: 125%
    color: #fff
    content: attr(data-tooltip)
    font-size: 0.9em
    opacity: 0
    padding: 8px 12px
    position: absolute
    transform: translateX(0%)
    transition: opacity 0.3s ease, visibility 0.3s ease
    visibility: hidden
    white-space: nowrap
  &::after
    content: ''
    position: absolute
    bottom: 115%
    left: 50%
    transform: translateX(-50%)
    border-width: 5px
    border-style: solid
    border-color: #333 transparent transparent transparent
    opacity: 0
    visibility: hidden
    transition: opacity 0.3s ease, visibility 0.3s ease
  &:hover
    &::before, &::after
      opacity: 1
      visibility: visible

/* EFFECTS */

.blinker
  animation: blink-animation 1s infinite
  -webkit-animation: blink-animation 1s infinite
  -moz-animation: blink-animation 1s infinite
  -o-animation: blink-animation 1s infinite

.fade-in
  opacity: 1
  animation-name: fadeInOpacity
  animation-iteration-count: 1
  animation-timing-function: ease-in
  animation-duration: 0.25s

/* MISC. */

.footer-construction
  background-color: #D9044C
  display: flex
  justify-content: center
  left: 0
  right: 0
  bottom: 0
  padding: 12px 0
  position: fixed
  z-index: 9999
  p
    color: #fff
    font-family: "Tiny5", monospace
    text-transform: uppercase

.hidden
  display: none

/* SHIMS */

.spacer
  height: 121px
  text-align: center
  width: 100%

.spacer-line
  border-bottom: 1px solid var(--color-blue-storm)
  margin: 0 96px

.spacer-s
  height: 60px

.spacer-m
  height: 120px

.spacer-l
  height: 180p













// Settings

$c_0: #000000
$c_1: #353540

// Basic reset

*
  margin: 0
  padding: 0
  box-sizing: border-box



.l-container
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 30px
  width: 100%
  max-width: 1200px
  padding: 30px

  @media screen and (max-width: 760px)
    grid-template-columns: repeat(2, 1fr)

.b-game-card
  position: relative
  z-index: 1
  width: 100%
  padding-bottom: 150%
  perspective: 1000px

  &__cover
    position: absolute
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%)
    background-size: cover
    perspective-origin: 50% 50%
    transform-style: preserve-3d
    transform-origin: top center
    will-change: transform
    transform: skewX(.001deg)
    transition: transform .35s ease-in-out

    // Gloss

    &::after
      display: block
      content: ''
      position: absolute
      z-index: 100
      top: 0
      left: 0
      width: 100%
      height: 120%
      background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%)
      transform: translateY(-20%)
      will-change: transform
      transition: transform .65s cubic-bezier(0.18, 0.9, 0.58, 1)

  &:hover &__cover
    transform: rotateX(7deg) translateY(-6px)

    &::after
      transform: translateY(0%)

  // Shadows

  &::before
    display: block
    content: ''
    position: absolute
    top: 5%
    left: 5%
    width: 90%
    height: 90%
    background: rgba($c_0, 0.5)
    box-shadow: 0 6px 12px 12px rgba($c_0, 0.4)
    will-change: opacity
    transform-origin: top center
    transform: skewX(.001deg)
    transition: transform .35s ease-in-out, opacity .5s ease-in-out

  &:hover::before
    opacity: 0.6
    transform: rotateX(7deg) translateY(-6px) scale(1.05)

