@charset "UTF-8";
*::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

body {
  /*  box-shadow: inset 0 50px 30px rgba(0, 0, 0, 0.4) */
  display: flex;
  justify-content: center;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: var(--color-blue-storm);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-dark);
  border-radius: 20px;
  border: 1px solid var(--color-grey-dark);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

p {
  font-size: var(--font-m);
  font-family: "Redacted Script", cursive;
  font-family: "Libre Barcode 39 Text", system-ui;
  font-family: "Press Start 2P", system-ui;
  font-family: "Cutive Mono", monospace;
  font-family: "Boldonse", monospace;
  font-family: "Doto", serif;
  font-family: "Tiny5", monospace;
  font-family: "Reddit Mono", monospace;
  font-family: "Courier Prime", monospace;
  font-family: "Cutive Mono", monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection,
::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
  color: #000;
}

.menu-category-title,
.quote-by,
.quote-text,
.project-section,
.project-title,
.stat li,
p, h1, h2, h3, h4, h5 {
  cursor: default;
}

#navbar {
  padding: 0 12.5vw;
}

.anchor {
  scroll-margin-top: 28px;
}

.badges {
  margin: 96px 0;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  padding: 72px 24px;
}
.badge-container img {
  width: 200px;
  padding: 4px 0;
}

.category {
  font-family: "Yellowtail", monospace;
  margin: 96px 0;
  padding: 48px 72px 72px;
}
.category a {
  font-size: var(--font-m);
}
.category h1 {
  color: white;
  text-wrap: wrap;
  word-break: break-all;
}

.category-title {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.category-title h1 {
  color: white;
  font-family: "Courier Prime", monospace;
  font-size: var(--font-xxl);
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  word-break: break-word;
}
.category-title h1:after {
  padding: 24px;
  content: "_";
}
.category-title i {
  font-size: var(--font-xl);
  padding: 0 24px 0 0;
  text-align: center;
}

.category-subtitle p {
  font-family: "Reddit Mono", monospace;
}

.category-links {
  line-height: 2rem;
  padding: 24px 0;
}
.category-links a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.category-links a:hover {
  animation: blinker 1s linear infinite;
}
.category-links span {
  opacity: 0.29;
}

.category-footer {
  font-family: "Yellowtail", monospace;
  font-size: var(--font-m);
  margin: 144px 0 96px;
  padding: 32px 72px;
  text-align: center;
}

.contact {
  margin: 96px 0;
  padding: 48px 72px 72px;
}
.contact p {
  font-size: var(--font-m);
  line-height: 2rem;
  margin: 48px 0 24px;
}
.contact a {
  color: var(--color-green);
  font-size: var(--font-l);
  font-weight: 700;
}
.contact ul {
  color: var(--color-grey-dark);
  margin: 0 0 24px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.footer {
  margin: 48px 0 !important;
}

.footer-back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  border-radius: 15%;
  left: 72px;
  bottom: 96px;
  display: flex;
  opacity: 0.5 !important;
  padding: 0.87rem;
  position: fixed;
  transition: all 0.4s;
  visibility: hidden;
  width: 4rem;
  z-index: 8999;
}
.footer-back-to-top:hover {
  background-color: #000;
  opacity: 0.9;
}
.footer-back-to-top:active {
  background-color: var(--color-black);
  opacity: 1;
}

.footer-back-to-top-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-caution {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer-caution a {
  color: var(--color-orange);
}

.footer-text {
  display: flex;
  justify-content: center;
  padding: 48px;
}

.footer-construction {
  background-color: #D9044C;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 0;
  position: fixed;
  z-index: 9999;
}
.footer-construction p {
  color: #fff;
  font-family: "Tiny5", monospace;
  text-transform: uppercase;
}

.footer-text-flashing {
  animation: blink-animation 0.87s infinite;
  -webkit-animation: blink-animation 0.87s infinite;
  padding: 0 24px;
}

.hidden {
  display: none;
}

.img-fullsize {
  margin: 48px 0;
}
.img-fullsize figcaption {
  padding: 18px 0;
  text-align: center;
}

.img-gallery {
  margin: 16px 0;
}

.img-gallery-small img {
  padding: 24px 0;
}

.img-gallery-full {
  padding: 48px 0;
}

.img-gallery-full {
  color: var(--color-grey-dark);
  padding: 48px 0;
  font-family: "Reddit Mono", monospace;
}
.img-gallery-full figcaption {
  font-size: var(--font-s);
  padding: 16px 0 128px;
  text-align: center;
}
.img-gallery-full img {
  box-shadow: 0 0 24px hsla(0, 0%, 0%, 0.2);
}

.intro-category-icons {
  display: flex;
  flex-shrink: 1;
}
.intro-category-icons i {
  font-size: var(--font-xl);
}
.intro-category-icons h1 {
  font-size: var(--font-xl);
  padding: 0;
}
.intro-category-icons h1:after {
  animation: blink-animation 0.9s infinite;
  -webkit-animation: blink-animation 0.9s infinite;
  -moz-animation: blink-animation 0.9s infinite;
  -o-animation: blink-animation 0.9s infinite;
  content: "_";
}

.intro-text {
  margin: 12px 0 50px;
  /*  transform: rotate(90deg)*/
}
.intro-text a:hover {
  animation: blinker 1s linear infinite;
}
.intro-text p {
  display: inline-block;
  font-size: var(--font-m);
  font-family: "Reddit Mono", monospace;
  line-height: 2rem;
  text-align: left;
}

#menu-button i {
  font-size: var(--font-xl);
}

.menu-closed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.menu-icon i {
  color: var(--color-grey-light);
}
.menu-icon i:hover {
  color: white;
}

#menu-expanded {
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu-expanded {
  display: flex;
  overflow-y: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-category-container {
  display: flex;
  align-items: flex-start;
  flex: 1;
  justify-content: center;
  text-align: center;
  padding: 48px 0;
}

.menu-category {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start !important;
}

@font-face {
  src: url("../fonts/Redacted-Regular.ttf") format("tff");
  font-weight: 400;
  font-style: normal;
}
.menu-category-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}
.menu-category-title i {
  font-size: var(--font-xl);
  padding: 0 14px 0 0;
}
.menu-category-title h2 {
  font-family: "Yellowtail", monospace;
  font-family: "Courier Prime", monospace;
  font-size: var(--font-l);
  line-height: 1.1rem;
  text-align: center;
  text-transform: uppercase;
}

.menu-list {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}
.menu-list a {
  font-family: "Yellowtail", monospace;
  font-size: var(--font-m);
  line-height: 1.4rem;
  padding: 6px 0;
}
.menu-list a:hover {
  animation: blinker 1s linear infinite;
}

#navbar {
  left: 0;
  right: 0;
  z-index: 9999;
  overflow: hidden;
  width: 100%;
  max-height: 100vh;
  position: fixed;
  backdrop-filter: blur(187px);
  -webkit-backdrop-filter: blur(187px);
}

.navbar-home {
  width: auto;
}
.navbar-home h1 {
  cursor: pointer;
  font-size: var(--font-xl);
  font-family: "Tiny5", monospace;
  font-family: "Courier Prime", monospace;
}

.page-section {
  margin: 96px 0;
}

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Yellowtail", monospace;
  margin: 0 0 48px;
  width: 100%;
  padding: 24px 0 12px;
  font-family: "Yellowtail", monospace;
}
.page-header p {
  font-size: var(--font-m);
}
.page-header a {
  font-size: var(--font-m);
  mix-blend-mode: normal;
}
.page-header a:hover {
  animation: blinker 1s linear infinite;
}
.page-header h1 {
  font-family: "Courier Prime", monospace;
  letter-spacing: 0.8rem;
  white-space: pre-wrap;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  font-size: var(--font-xxl);
}
.page-header h1:after {
  padding: 24px 0 24px 24px;
  content: "_";
}

.page-header-image,
.page-header-excerpt {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-header-image {
  flex-basis: 25%;
}
.page-header-image img {
  border-radius: 24px 0 0 0;
}

.page-header-image-invert img:hover {
  transition: filter 6.5s ease-in-out;
  transition-duration: 7s;
  filter: invert(100%);
  -webkit-transition: 1.5s;
}

.page-header-excerpt {
  flex-basis: 50%;
  border-radius: 0 0 24px 0;
  border: none;
}
.page-header-excerpt img {
  border-radius: 24px 0 0 0;
}
.page-header-excerpt p {
  font-family: "Yellowtail", monospace;
  font-size: var(--font-m);
  flex-grow: 1;
  border-radius: 0 0 24px 0;
  padding: 36px;
  text-indent: 24px;
}

.page-header-title {
  display: flex;
  align-items: center;
  margin: 12px 0;
  width: 100%;
}
.page-header-title i {
  font-size: var(--font-xl);
  margin: 0 24px 0 0;
}

.page-title {
  display: flex;
  flex-direction: row;
}

.project-tags {
  cursor: default;
  display: block;
  font-size: 1em;
  margin: 12px 0;
}

.project-tag {
  background-color: var(--color-grey-dark);
  border-radius: 3px;
  color: var(--color-grey-dark);
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0;
  margin: 8px 8px 8px 0;
  opacity: 0.8;
  padding: 4px 12px;
}
.project-tag:hover {
  opacity: 1;
}

.project-header {
  padding: 24px 0 12px;
  font-family: "Yellowtail", monospace;
}
.project-header p {
  font-size: var(--font-m);
}
.project-header a {
  font-size: var(--font-m);
  mix-blend-mode: normal;
}
.project-header a:hover {
  animation: blinker 1s linear infinite;
}
.project-header h1 {
  color: white;
  font-family: "Courier Prime", monospace;
  font-size: var(--font-xxl);
}
.project-header h1:after {
  padding: 24px;
  content: "_";
}

.project-title {
  display: flex;
  align-items: center;
  margin: 4px 0;
}
.project-title i {
  font-size: var(--font-xl);
  margin: 0 24px 0 0;
}
.project-title h1 {
  font-size: var(--font-xxl);
  letter-spacing: 0.71rem;
}
.project-title h1:after {
  padding: 24px;
  content: "_";
}

.project-subtitle {
  color: var(--color-white);
  opacity: 0.5;
  font-size: var(--font-m);
  margin: 12px 0;
}

.project-overview {
  padding: 24px 0;
}
.project-overview p {
  font-size: var(--font-m);
  text-indent: 48px;
}

.project-links {
  padding: 24px 72px 24px;
  display: flex;
  flex-direction: column;
}
.project-links a {
  font-weight: 900;
  margin: 6px 0;
}

.project-section {
  font-family: "Yellowtail", monospace;
  margin: 48px 0;
  padding: 72px 72px 96px;
}
.project-section p {
  color: var(--color-white);
  line-height: 1.8rem;
}
.project-section a {
  mix-blend-mode: normal !important;
}
.project-section a:hover {
  animation: blinker 1s linear infinite;
}
.project-section h1 {
  text-wrap: wrap;
  word-break: break-all;
}
.project-section span {
  color: var(color-title-hashtag);
}
.project-section span {
  color: var(--color-title);
  margin-right: 24px;
}

.project-section-title h3 {
  color: white;
  font-size: var(--font-xl);
  text-shadow: var(--text-shadow-1);
}

.project-section-desc {
  margin: 36px 0 0;
}
.project-section-desc p {
  font-family: "Courier Prime", monospace;
  text-indent: 36px;
}

.section-header {
  font-family: "Courier Prime", monospace;
  font-size: var(--font-l);
  margin: 72px 0 24px;
}
.section-header h5 {
  color: white;
}

.site-main {
  margin: 144px 0 0;
  padding: 0 12.5vw;
}

.stat {
  flex: 1;
  background-color: #1f262c;
  border-radius: 6px;
  box-shadow: var(--box-shadow-1);
  color: #fff;
  margin: 15px 8px;
  padding: 30px;
}
.stat:hover {
  transform: translateY(-8px);
  transition: transform 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, box-shadow 0.25s ease;
}
.stat .numbers {
  font-family: "Anton", sans-serif;
  font-family: "Boldonse", system-ui;
  font-family: "Russo One", sans-serif;
  font-family: "Tektur", sans-serif;
  font-family: "Geostar Fill", serif;
}
.stat .numbers span {
  color: var(--color-grey-medium);
  font-size: var(--font-s);
}
.stat a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  background: #000;
  border: 2px solid #000;
  border-radius: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolda;
}
.stat a:hover {
  background-color: var(--color-green);
  color: var(--color-black);
}
.stat h2 {
  margin-top: 0;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: var(--font-xxxl);
}
.stat p {
  font-family: "Doto", serif;
  margin: 12px 0 36px;
}
.stat ul {
  margin: 0 0 35px;
  padding-left: 16px;
  list-style: none;
  line-height: 1.8;
  color: #b5b5b5;
  font-family: "Reddit Mono", monospace;
}
.stat li::before {
  content: "•";
  color: #000;
  display: inline-block;
  width: 20px;
  margin-left: -15px;
  position: relative;
  top: 4px;
  font-size: 26px;
  line-height: 0;
}

.stats-container {
  display: flex;
  flex-direction: space-between;
  gap: 1rem;
}

.stats {
  flex: 1;
  padding: 1rem;
  margin: 128px 0 12px !important;
}

.stats-container-title {
  display: flex;
  justify-content: center;
  margin: 48px 0 0;
}
.stats-container-title h1 {
  color: var(--color-white);
  font-family: "Doto", serif;
  font-size: var(--font-xxl);
  margin: 24px 0;
  text-transform: uppercase;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
}
.stats-container h1 {
  text-align: center;
}

.subcategory-container {
  display: flex;
  break-inside: avoid-column;
}

.subcategory {
  opacity: 0.6;
  padding: 12px 0;
  transition: 1.2s ease-in-out;
}
.subcategory img {
  border-radius: 16px 0 16px 0;
  cursor: pointer;
}
.subcategory:hover {
  cursor: pointer;
  filter: grayscale(0);
  opacity: 1;
  transition: 1.2s ease-in-out;
}
.subcategory:hover h2 {
  transition: 1.2s ease-in-out;
}
.subcategory:hover p {
  color: var(--color-grey-light);
}

.subcategory-banner img {
  margin: 18px 0;
}

.subcategory-title {
  display: flex;
  align-items: flex-end;
  height: 70px;
  font-family: "Russo One", sans-serif;
  font-family: "Courier Prime", monospace;
  font-family: "Yellowtail", monospace;
}
.subcategory-title h2 {
  cursor: pointer;
  font-size: var(--font-l);
}

.subcategory-excerpt {
  display: flex;
  align-items: stretch;
  min-height: 80px;
}
.subcategory-excerpt p {
  align-items: stretch;
  cursor: pointer;
  line-height: 1.4rem;
}

@media (max-width: 768px) {
  .stats-container {
    display: block;
  }
}
#info {
  text-align: center;
}

#info a {
  color: #fff;
  text-transform: uppercase;
  position: fixed;
  bottom: 15px;
}

@media (max-width: 768px) {
  #info {
    display: none;
  }
}
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip-container::before {
  background-color: #333;
  border-radius: 4px;
  bottom: 125%;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 0.9em;
  opacity: 0;
  padding: 8px 12px;
  position: absolute;
  transform: translateX(0%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
  white-space: nowrap;
}
.tooltip-container::after {
  content: "";
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.tooltip-container:hover::before, .tooltip-container:hover::after {
  opacity: 1;
  visibility: visible;
}

/* SHIMS */
.spacer {
  height: 121px;
  text-align: center;
  width: 100%;
}

.spacer-line {
  border-bottom: 1px solid var(--color-blue-storm);
  margin: 0 96px;
}

.spacer-s {
  height: 60px;
}

.spacer-m {
  height: 120px;
}

.spacer-l {
  height: 180px;
}

/* EXTENZE */
.blinker, .category-title h1:after, .page-header h1:after, .project-header h1:after, .project-title h1:after {
  animation: blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
  -moz-animation: blink-animation 1s infinite;
  -o-animation: blink-animation 1s infinite;
}
