body
  display: flex
  justify-content: center
  &::-webkit-scrollbar 
    width: 12px 
  &::-webkit-scrollbar-track 
    background: var(--color-blue-storm) 
  &::-webkit-scrollbar-thumb 
    background-color: var(--color-grey-dark)
    border-radius: 20px 
    border: 1px solid var(--color-grey-dark)

body, html
  max-width: 100%
  overflow-x: hidden
  scroll-behavior: smooth

table
  border-collapse: collapse
  border-spacing: 0

::selection,
::-moz-selection
  background: rgba(255, 255, 255, 0.1)
  color: #000

*
  &::-webkit-scrollbar 
    width: 0 !important
    display: none

/* CURSOR & FONTS */

a
  cursor: pointer

.menu-category-title,
.quote-by,
.quote-text,
.project-section,
.project-title,
.stat li,
p, h1, h2, h3, h4, h5
  cursor: default

p  
  font-size: var(--font-m)
  font-family: 'Array', sans-serif
  font-family: 'Satoshi', sans-serif
  font-family: 'Clash Display', sans-serif
  font-family: 'Telma', cursive
  font-family: 'Author', sans-serif
  font-family: 'Alpino', sans-serif
  font-family: 'Comico', cursive
  font-family: 'Melodrama', serif
  font-family: 'Boxing', sans-serif
  font-family: 'Kola', sans-serif
  font-family: 'RX100', sans-serif
  font-family: 'Literata', serif
  font-family: 'Kihim', sans-serif
  font-family: 'Array', sans-serif
  font-family: "Redacted Script", cursive
  font-family: "Libre Barcode 39 Text", system-ui
  font-family: "Press Start 2P", system-ui
  font-family: "Cutive Mono", monospace
  font-family: "Boldonse", monospace
  font-family: "Doto", serif 
  font-family: "Tiny5", monospace
  font-family: "Reddit Mono", monospace 
  font-family: "Courier Prime", monospace
  font-family: "Cutive Mono", monospace
  font-family: 'JetBrains Mono', sans-serif

/* MAIN STYLES */

.anchor
  scroll-margin-top: 28px 

.badges
  margin: 96px 0

.badges-container
  display: flex
  flex-wrap: wrap
  padding: 72px 24px
  img
    width: 200px
    padding: 4px 0

.category
  font-family: "Yellowtail", monospace
  margin: 96px 0
  padding: 56px 72px 72px
  a
    font-size: var(--font-m)
  h1
    color: white
    text-wrap: wrap
    word-break: break-all

.category-links
  line-height: 2rem
  padding: 24px 0
  text-shadow: var(--text-shadow-2)
  a
    font-size: var(--font-l)
    &:hover
      animation: blinker 1s linear infinite
      text-decoration: underline
      text-decoration-style: dotted
  span
    opacity: 0.4
    padding: 0 8px

.category-title
  display: flex
  align-items: center
  margin: 12px 0
  h1
    color: white
    font-family: "Courier Prime", monospace
    font-size: var(--font-xxl)
    letter-spacing: 0.8rem
    text-transform: uppercase
    word-break: break-word
  i
    font-size: var(--font-xl)
    padding: 0 24px 0 0
    text-align: center

.category-subtitle
  text-shadow: var(--text-shadow-3)
  p
    font-family: "Reddit Mono", monospace

.contact
  margin: 96px 0
  padding: 48px 72px 72px
  p
    font-size: var(--font-m)
    line-height: 2rem
    margin: 48px 0 24px
  a
    color: var(--color-green)
    font-size: var(--font-l)
    font-weight: 700
  ul
    color: var(--color-grey-dark)
    margin: 0 0 24px

.fade-in
  opacity: 1
  animation-name: fadeInOpacity
  animation-iteration-count: 1
  animation-timing-function: ease-in
  animation-duration: 0.5s

.footer
  margin: 48px 0 

.footer-back-to-top
  display: flex
  align-items: center
  justify-content: center
  background-color: var(--color-black)
  border-radius: 15%
  left: 72px
  bottom: 96px
  display: flex
  opacity: 0.5 !important
  padding: 0.87rem
  position: fixed
  transition: all .4s
  visibility: hidden
  width: 4rem
  z-index: 8999
  &:hover
    background-color: #000
    opacity: 0.9
  &:active
    background-color: var(--color-black)
    opacity: 1.0

.footer-back-to-top-container
  display: flex
  align-items: center
  justify-content: center

.footer-categories
  font-family: "Yellowtail", monospace
  font-size: var(--font-m)
  margin: 48px 0
  padding: 32px 72px
  text-align: center

.footer-caution
  align-items: center
  display: flex
  justify-content: center
  a
    color: var(--color-orange)

.footer-text
  display: flex
  justify-content: center
  padding: 48px
  p
    font-family: 'Array', sans-serif
    font-size: 7rem

.img-fullsize
  margin: 48px 0
  figcaption
    padding: 18px 0;
    text-align: center

.img-gallery
  ul
    display: flex
    flex-wrap: wrap 
  li
    height: 100vh
    flex-grow: 1
  img
    // border: 24px solid transparent
    margin: 52px 0
    max-height: 100%
    min-width: 100%
    object-fit: cover
    vertical-align: bottom 
    width: 100%

.img-gallery-small
  img
    padding: 24px 0

.img-gallery-full
  color: var(--color-grey-dark)
  padding: 48px 0
  font-family: "Reddit Mono", monospace
  figcaption
    font-size: var(--font-s)
    padding: 16px 0 128px
    text-align: center
  img
    box-shadow: 0 0 24px hsla(0, 0%, 0%, 0.2) 

#info 
  text-align: center
  
#info a 
  color: #fff
  text-transform: uppercase
  position: fixed
  bottom: 15px

.intro-category-icons
  display: flex
  flex-shrink: 1
  i
    font-size: var(--font-xl)
  h1
    font-size: var(--font-xl)
    padding: 0
    &:after
      animation: blink-animation .9s infinite
      -webkit-animation: blink-animation .9s infinite
      -moz-animation: blink-animation .9s infinite
      -o-animation: blink-animation .9s infinite
      content: "_"    
  span
    padding: 0 8px

.intro-text
  margin: 12px 0 50px
  /*  transform: rotate(90deg)*/
  a:hover
    animation: blinker 1s linear infinite
  p
    display: inline-block
    font-size: var(--font-m)
    font-family: "Reddit Mono", monospace
    line-height: 2rem
    text-align: left

#menu-button
  i
    font-size: var(--font-xl)

.menu-category
  display: flex
  flex: 1
  flex-direction: column
  justify-content: flex-start !important

.menu-category-container
  display: flex
  align-items: flex-start
  flex: 1
  justify-content: center
  text-align: center
  padding: 48px 0

.menu-category-title
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 4px 0
  i
    font-size: var(--font-xl)
    padding: 0 14px 0 0 
  h2
    font-family: "Yellowtail", monospace
    font-family: "Courier Prime", monospace
    font-size: var(--font-l)
    line-height: 1.1rem
    text-align: center
    text-transform: uppercase

.menu-closed
  display: flex
  justify-content: space-between
  align-items: center
  margin: 24px 0

#menu-expanded
  height: 100vh
  -ms-overflow-style: none  /* IE and Edge */
  scrollbar-width: none

.menu-expanded
  display: flex
  overflow-y: auto
  overflow-y: scroll
  scrollbar-width: none
  -ms-overflow-style: none 

.menu-icon
  i
    color: var(--color-grey-light)
  i:hover
    color: white

.menu-list
  display: flex
  flex-direction: column
  padding: 8px 0
  a 
    font-family: "Yellowtail", monospace
    font-size: var(--font-m)
    line-height: 1.4rem
    padding: 6px 0
    &:hover 
      animation: blinker 1s linear infinite

.menu-logo 
  color: var(--color-white)
  a
    width: auto
  h1
    cursor: pointer
    font-family: "Tiny5", monospace
    font-family: "Courier Prime", monospace
    font-family: 'JetBrains Mono', sans-serif
    text-align: center

.menu-logo
  display: flex
  align-items: center
  margin: 12px 0
  h1
    color: var(--color-green) !important
    font-size: var(--font-xxl)
    word-break: break-word
    &:after
      display: inline-block
      content: "■"
      height: 1.2em
      margin-left: 4px
      background-color: var(--color-green)
      vertical-align: text-bottom
      border-radius: 1px
      @extend .blinker


#navbar
  left: 0
  right: 0
  z-index: 9999
  overflow: hidden
  width: 100%
  max-height: 100vh
  position: fixed
  backdrop-filter: blur(187px)
  -webkit-backdrop-filter: blur(187px)

.page-header
  display: flex
  flex-direction: row
  flex-wrap: wrap
  font-family: "Yellowtail", monospace
  width: 100%
  font-family: "Yellowtail", monospace
  p
    font-size: var(--font-m)
  a
    font-size: var(--font-m) 
    mix-blend-mode: normal 
  a:hover
    animation: blinker 1s linear infinite
  h1
    font-family: "Courier Prime", monospace
    letter-spacing: 0.8rem
    white-space: pre-wrap 
    word-break: break-word 
    hyphens: auto
    -webkit-hyphens: auto
    -ms-hyphens: auto
    font-size: var(--font-xxl)

.page-header-image,
.page-header-excerpt
  border-radius: 0 0.75rem 0.75rem 0 
  display: flex
  flex-direction: column
  flex: 1
  p
    display: flex
    align-items: center /* Centers vertically */
    justify-content: flex-end /* Centers horizontally (optional) */
    margin: 0 24px

.page-header-image
  flex-basis: 25%
  img
    border-radius: 0.75rem 0 0 0.75rem
    height: 140px

.page-header-image-invert
  img
    &:hover
      transition: filter 6.5s ease-in-out
      transition-duration: 7s
      filter: invert(100%)
      -webkit-transition: 1.5s

.page-header-excerpt
  flex-basis: 50%
  border: none
  img
    border-radius: 24px 0 0 0
  p
    font-family: "Yellowtail", monospace
    font-size: var(--font-m)
    flex-grow: 1
    border-radius: 0 0 24px 0
    padding: 36px
    text-indent: 24px

.page-header-title
  display: flex
  align-items: center
  margin: 12px 0
  width: 100%
  i
    font-size: var(--font-xl)
    margin: 0 24px 0 0

.page-title
  display: flex 
  flex-direction: row

.project-header
  padding: 24px 0 12px
  font-family: "Yellowtail", monospace
  p
    font-size: var(--font-m)
  a
    font-size: var(--font-m) 
    mix-blend-mode: normal
  a:hover
    animation: blinker 1s linear infinite
  h1
    color: white
    font-family: "Courier Prime", monospace
    font-size: var(--font-xxl)
    &:after
      padding: 24px
      @extend .blinker

.project-links
  padding: 24px 72px 24px
  display: flex
  flex-direction: column
  a
    font-weight: 900
    margin: 6px 0

.project-overview
  padding: 24px 0
  p
    font-size: var(--font-m)
    text-indent: 48px

.project-section
  font-family: "Yellowtail", monospace
  padding: 72px 72px 96px
  p
    color: var(--color-white)
    line-height: 1.8rem
  a
    mix-blend-mode: normal !important
    &:hover
      animation: blinker 1s linear infinite
  h1
    text-wrap: wrap
    word-break: break-all
  .img
    display: flex
    justify-content: center
    padding: 72px 0 0
  span
    color: var(--color-title)
    margin-right: 24px

.project-section-desc
  margin: 36px 0 0
  p
    font-family: "Courier Prime", monospace
    // text-align: justify
    text-indent: 36px

.project-section-subtitle
  color: var(--color-grey-medium)

.project-section-title
  h3
    font-size: var(--font-xl) 
    text-shadow: var(--text-shadow-1)

.project-subtitle
  color: var(--color-white)
  opacity: 0.5
  font-size: var(--font-m)
  margin: 12px 0

.project-tags
  display: block
  font-size: 1em
  margin: 12px 0

.project-tag
  background-color: var(--color-grey-dark)
  border-radius: 3px
  color: var(--color-grey-dark)
  cursor: pointer
  display: inline-block
  letter-spacing: 0
  margin: 8px 8px 8px 0
  opacity: 0.8
  padding: 4px 12px
  &:hover 
    opacity: 1

.project-title
  display: flex
  align-items: center
  margin: 4px 0
  i
    font-size: var(--font-xl)
    margin: 0 24px 0 0
  h1
    font-size: var(--font-xxl)
    letter-spacing: 0.71rem

.section-header
  font-family: "Courier Prime", monospace
  font-size: var(--font-l)
  margin: 72px 0 24px
  h5
    color: white

.site-main
  margin: 144px 0 0

.stats-container
  display: flex
  flex-direction: space-between
  gap: 1rem

.stats
  flex: 1
  padding: 1rem
  margin: 128px 0 12px !important

.stat 
  flex: 1
  background-color: #1f262c
  border-radius: 6px
  box-shadow: var(--box-shadow-1)
  color: #fff
  margin: 15px 8px
  padding: 30px
  &:hover
    transform: translateY(-8px)
    transition: transform 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, box-shadow 0.25s ease
  .numbers
    font-family: "Anton", sans-serif
    font-family: "Boldonse", system-ui
    font-family: "Russo One", sans-serif
    font-family: "Tektur", sans-serif
    font-family: "Geostar Fill", serif  
    span 
      color: var(--color-grey-medium)
      font-size: var(--font-s)
  a 
    text-decoration: none
    color: #fff
    padding: 10px 20px
    text-align: center
    background: #000
    border: 2px solid #000
    border-radius: 5px
    letter-spacing: 0.05em
    text-transform: uppercase
    font-size: 15px
    font-weight: bolda
    &:hover 
      background-color: var(--color-green)
      color: var(--color-black)
  h2 
    margin-top: 0
    border-bottom: 2px solid #000
    text-transform: uppercase
    letter-spacing: 0.07em
    font-size: var(--font-xxxl)
  p
    font-family: "Doto", serif 
    margin: 12px 0 36px
  ul 
    margin: 0 0 35px
    padding-left: 16px
    list-style: none
    line-height: 1.8
    color: #b5b5b5
    font-family: "Reddit Mono", monospace 
  li::before 
    content: "•"
    color: #000
    display: inline-block
    width: 20px
    margin-left: -15px
    position: relative
    top: 4px
    font-size: 26px
    line-height: 0

.stats-container 
  display: flex
  justify-content: space-between
  max-width: 960px
  margin: auto
  h1
    text-align: center

.stats-container-title
  display: flex
  justify-content: center
  margin: 48px 0 0
  h1
    color: var(--color-white)
    font-family: "Doto", serif 
    font-size: var(--font-xxl)
    margin: 24px 0
    text-transform: uppercase

.subcategory
  filter: grayscale(1)
  opacity: 0.6
  padding: 12px 0
  transition: 1.2s ease-in-out
  img
    border-radius: 16px 0 16px 0
    cursor: pointer
  &:hover
    cursor: pointer
    filter: grayscale(0)
    opacity: 1.0
    transition: 1.2s ease-in-out
    h2
      transition: 1.2s ease-in-out
    p
      color: var(--color-grey-light)

.subcategory-banner
  img
    margin: 18px 0 

.subcategory-container
  display: flex
  break-inside: avoid-column

.subcategory-excerpt
  display: flex
  align-items: stretch
  min-height: 80px /* fix shim */
  p
    align-items: stretch
    cursor: pointer
    line-height: 1.4rem

.subcategory-title
  display: flex
  align-items: flex-end
  height: 70px
  font-family: "Russo One", sans-serif
  font-family: "Courier Prime", monospace
  font-family: "Yellowtail", monospace
  h2
    cursor: pointer
    font-size: var(--font-l)

.tooltip-container
  position: relative
  display: inline-block
  cursor: pointer
  &::before
    background-color: #333
    border-radius: 4px
    bottom: 125%
    color: #fff
    content: attr(data-tooltip)
    font-size: 0.9em
    opacity: 0
    padding: 8px 12px
    position: absolute
    transform: translateX(0%)
    transition: opacity 0.3s ease, visibility 0.3s ease
    visibility: hidden
    white-space: nowrap
  &::after
    content: ''
    position: absolute
    bottom: 115%
    left: 50%
    transform: translateX(-50%)
    border-width: 5px
    border-style: solid
    border-color: #333 transparent transparent transparent
    opacity: 0
    visibility: hidden
    transition: opacity 0.3s ease, visibility 0.3s ease
  &:hover
    &::before, &::after
      opacity: 1
      visibility: visible

/* SHIMS */

.spacer
  height: 121px
  text-align: center
  width: 100%

.spacer-line
  border-bottom: 1px solid var(--color-blue-storm)
  margin: 0 96px

.spacer-s
  height: 60px

.spacer-m
  height: 120px

.spacer-l
  height: 180px

/* EXTENZE */

.blinker
  animation: blink-animation 1s infinite
  -webkit-animation: blink-animation 1s infinite
  -moz-animation: blink-animation 1s infinite
  -o-animation: blink-animation 1s infinite

/* MISC. */

.footer-construction
  background-color: #D9044C
  display: flex
  justify-content: center
  left: 0
  right: 0
  bottom: 0
  padding: 12px 0
  position: fixed
  z-index: 9999
  p
    color: #fff
    font-family: "Tiny5", monospace
    text-transform: uppercase

.footer-text-flashing
  animation: blink-animation 0.87s infinite
  -webkit-animation: blink-animation 0.87s infinite
  padding: 0 24px

.hidden
  display: none

