/* NAVBAR AND MENU */
#navbar {
  backdrop-filter: blur(187px);
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 9999;
}

.navbar {
  width: 1180px;
}

.navbar-home {
  font-family: "Yellowtail", monospace;
  align-items: center;
  display: flex;
}
.navbar-home li {
  text-shadow: 1px 1px 2px black;
}
.navbar-home li a {
  font-family: "Cutive Mono", monospace !important;
  padding: 0 0 0 12px;
}
.navbar-home i {
  margin-right: 12px;
  font-size: var(--font-l);
}
.navbar-home p {
  font-size: var(--font-m);
}

.menu-closed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 0;
}

.menu-expanded {
  display: flex;
  height: 100vh;
}

.menu {
  width: 100%;
}

.menu-column span {
  padding: 0 12px 0 0;
}

.menu-category {
  padding: 4rem 0 0;
}

.menu-list {
  display: flex;
  flex-direction: column;
}
.menu-list a {
  color: var(--color-retro-aqua);
  font-family: "Yellowtail", monospace;
  font-size: var(--font-s);
  padding: 2px 0;
}
.menu-list a:hover {
  color: var(--color-retro-aqua-highlight);
}

.menu-category-title {
  cursor: default;
  display: flex;
  align-items: center;
  color: var(--color-light);
  font-family: "Fugaz One", sans-serif;
  font-family: "Lexend Exa", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
}
.menu-category-title h2 {
  font-family: "Yellowtail", monospace;
  font-size: var(--font-m);
  text-transform: uppercase;
}
.menu-category-title em {
  color: var(--color-border);
}

.menu-category-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.menu-category-list-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

#menu-button i {
  font-size: var(--font-l);
}

.menu-icon button {
  color: var(--color-retro-aqua);
  color: var(--color-border);
}
.menu-icon button:hover {
  color: var(--color-retro-aqua-highlight);
}

.menu-logo a {
  color: var(--color-retro-aqua);
  color: var(--color-border);
}
.menu-logo a:hover {
  color: var(--color-retro-aqua-highlight);
}

/* BACK TO TOP BUTTON */
.back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  background-color: #1f1f1f;
  border-radius: 50%;
  z-index: 9999;
  transition: all 0.4s;
  visibility: hidden;
}
.back-to-top:hover {
  -webkit-filter: invert(0.8);
  filter: invert(0.8);
}
.back-to-top:active {
  -webkit-filter: invert(1);
  filter: invert(1);
}
