@media screen and (min-width: 756px) and (max-width: 1080px) {
  .recipe-title h1 {
    font-size: var(--font-l) !important;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1980px) {
  .recipe-title h1 {
    font-size: var(--font-xl) !important;
    letter-spacing: 1rem !important;
  }
}
