@media screen and (min-width: 100px) and (max-width: 755px)

  .blue-mobile
      color: #5EEAD4 !important
  .green-mobile
    color: #2FF8A0 
  .red-mobile
    color: #FF005E
  .orange-mobile
    color: #FF6B63
  .yellow-mobile
    color: #C8E501
  .purple-mobile
    color: #7C83FD 
  .white-mobile
    color: #ececec 
  .grey-mobile
    color: #7A7A7A 
  .black-mobile
    color: #000

  #info 
    display: none

  .badge
    height: auto !important
    padding: 48px 0

  .badges-container
    padding: 12px 36px

  .bookmark
    padding: 0 !important
  
  .bookmark-glossary
    justify-content: center
    a
      font-size: var(--font-m) !important
      letter-spacing: -0.15rem
      padding: 8px !important
      margin: 2px !important
  
  .bookmark-section
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    li
      font-size: var(--font-m)
  
  .category
    margin: 0
    padding: 72px 7.5vw 24px
    p
      margin: 12px 0
    h1
      font-size: var(--font-xl)
  
  .category-links
    padding: 0 36px
    text-align: center
    a
      display: block
      font-size: var(--font-m)
      line-height: 1.2rem
      padding: 6px 0
  
  .category-subtitle
    padding: 8px 12px
    text-align: center
    p
      font-size: var(--font-m)
      letter-spacing: -0.1rem

  .category-title
    display: flex
    flex-direction: column
    text-align: center
    h1
      display: flex 
      font-size: var(--font-xxxxl)
      line-height: 3rem
      letter-spacing: 0.52rem
      overflow: wrap
      padding: 8px 36px
      hyphens: auto /* Automatically hyphenates words based on language rules */
      -webkit-hyphens: auto
      -moz-hyphens: auto
      -ms-hyphens: auto
      text-align: center
      &:after
        display: none
    i
      font-size: var(--font-xxxl)
      padding: 0 0 12px 
  
  .contact
    padding: 48px 0 0
    text-align: center
    p
      font-size: var(--font-s)
    a
      font-size: var(--font-m)

  .footer  
    padding: 0 

  .footer-column
    display: flex
    align-items: center
    width: 100%
  
  .header-simple
    padding: 144px 0 0
  
  .header-simple-excerpt
    margin: 0 10vw
    p
      font-size: var(--font-s)
  
  .header-simple-title
    h1, i
      font-size: var(--font-xl)
  
  .hide-mobile
    display: none
  // .img-gallery
  //   display: none
  // .img-gallery-small
  //   display: none  
  
  .intro
    margin: 48px 48px
    text-align: center
    p
      font-size: var(--font-m)
      line-height: 1.8rem
      text-align: center !important

  .intro-text
    margin: 48px 36px

  .intro-category-icons
    justify-content: center
    span
      padding: 0 8px
    i
      font-size: var(--font-xxxl)
  
  .intro-text
    p
      font-size: var(--font-l) 
      line-height: 2rem
    a
      font-size: var(--font-xl) 
  
  #menu-expanded
    height: 100vh
    left: 0
    overflow-y: auto
    padding: 24px 0
    padding-bottom: 150px
  
  #navbar,
  .footer,
  .project-header
    padding: 0 7.5vw !important

  .menu-expanded
    box-sizing: border-box
    flex-direction: column
  
  .menu-category-container
    padding: 12px 0
    text-align: right

  .menu-category-title
    justify-content: flex-end
    h2
      color: #fff !important
      font-size: var(--font-xxl)
    i
      color: white

  .menu-list
    a
      font-size: var(--font-m)
      padding: 4px 0
  
  #navbar
    overflow: scroll
    padding: 0 7.5vw
  
  .navbar-logo
    h1
      font-size: var(--font-l) !important
      letter-spacing: -0.05rem

  .page-header  
    h1
      letter-spacing: 0.5rem
    h5
      text-align: center

  .page-header-image
    flex-basis: 100%

  .page-header-title
    justify-content: center
    h1 
      font-size: var(--font-xl)
      letter-spacing: 0.3rem

  .page-title
    font-size: var(--font-l)
    h1
      letter-spacing: 0.6rem

  .project-header
    padding: 0
    text-align: center
    a:hover
      animation: none /* shim */
    h5
      font-size: var(--font-s)

  .project-links 
    margin: 0 0 72px
    padding: 12px 0
    a
      font-size: var(--font-l)
      text-shadow: var(--text-shadow-1)

  .project-overview  
    p
      font-size: var(--font-m)
      // hyphens: auto
      letter-spacing: -0.1rem
      line-height: 1.6rem
      text-align: justify

  .project-section
    padding: 48px

  .project-section-desc
    p
      font-size: var(--font-s)
      line-height: 1.4rem
      text-align: center

  .project-section-title
    text-align: center

  .project-subtitle
    font-size: var(--font-xs)
    text-align: center

  .project-tags
    font-size: var(--font-xxs)

  .project-title
    justify-content: center
    flex-direction: column
    margin: 12px 0
    i
      margin: 0 0 12px
    h1
      font-size: var(--font-xxxxl)
      letter-spacing: 0.5rem
      line-height: 2rem
      &:after
        display: none

  .section-header
    text-align: center

  .site-main
    margin: 72px 0 0

  .subcategory
    filter: grayscale(0.0)
    opacity: 1.0 
    padding: 72px 0
  
  .subcategory-container
    margin: 48px 0 0

  .subcategory-banner
    img
      margin: 12px 0 4px

  .subcategory-title
    padding: 8px 0
    justify-content: center
    text-align: center
    h2
      line-height: 1.4em
      font-size: var(--font-xxl)
      padding: 0 48px

  .subcategory-excerpt
    text-align: center
    p
      font-size: var(--font-s)
      text-align: center
      
  .stats-container 
    display: block

@media screen and (min-width: 540px) and (max-width: 755px)
  .badges
    margin: 144px 0 !important  

  .category-links
    a
      font-size: var(--font-l)

  .category-title h1
    font-size: var(--font-6xl)

  #navbar,
  .site-main,
  .footer
    padding: 0 7.5vw

  .project-links 
    margin: 0 0 72px
    a
      font-size: var(--font-xl)

  .project-tags
    font-size: var(--font-xxxs)

  .project-title h1
    font-size: var(--font-5xl)

  .subcategory-title
    h2
      font-size: var(--font-xxxl)

@media screen and (min-width: 756px) and (max-width: 1079px)
  a>.blue>:first-child
    padding: 0 12px 0 0

  .category-links
    line-height: 2.4rem
    text-indent: 0
    text-align: center
    a
      font-size: var(--font-xxxl)
      display: block
      padding: 12px 0
    .category-links-slash
      display: none

  .category-title
    display: flex
    flex-direction: column
    text-align: center 
    h1
      font-size: var(--font-9xl)
    i
      font-size: var(--font-5xl)
      padding: 12px 0

  .category-subtitle
    p
      font-size: var(--font-xxl)
      line-height: 2rem
      padding: 4px 0
      text-align: center 

  .hide-mobile
    display: none

  .intro-category-icons
    i
      font-size: var(--font-xxxxl)
  .intro-text
    p
      font-size: var(--font-xxl)
      line-height: 2.4rem

  .navbar-logo
    h1
      font-size: var(--font-l)

  .project-links
    margin: 12px 0 72px
    text-align: center
    a
      font-size: var(--font-xl)

  .project-overview
    p
      text-align: justify

  .category
    max-width: 920px !important

  .project-section-title h3
    font-size: var(--font-xxl)

  .project-title
    font-size: var(--font-6xl)
    justify-content: center

  .project-subtitle,
  .project-tags,
  .subcategory-excerpt
    text-align: center

  #navbar,
  .site-main,
  .footer
    padding: 0 7.5vw !important

  .subcategory-excerpt
    p
      font-size: var(--font-xxl)
      line-height: 2.4rem

  .subcategory-title
    display: flex
    align-items: center
    justify-content: center
    h2
      font-size: var(--font-5xl)

@media screen and (min-width: 1080px) and (max-width: 1279px)
  a>.blue>:first-child
    padding: 0 12px 0 0

  .category-title
    h1
      font-size: var(--font-6xl)

  .navbar-logo
    h1
      font-size: var(--font-l)

  #navbar,
  .site-main,
  .footer
    padding: 0 12.5vw

  .project-links 
    margin: 24px 0 96px
    a
      font-size: var(--font-xl)

  .project-section
    padding: 72px

  .project-section-title h3
    font-size: var(--font-xxl)

  .project-section-subtitle
    font-size: var(--font-l)

  .project-title h1
    font-size: var(--font-5xl)

  .subcategory-title
    h2
      font-size: var(--font-5xl)

@media screen and (min-width: 1280px) and (max-width: 1979px)

  a>.blue>:first-child
    padding: 0 12px 0 0

  .category-links
    padding: 0 0 72px

  .category-title
    h1
      font-size: var(--font-5xl)
    i
      font-size: var(--font-xxxl)

  .intro
    text-align: justify
    a
      font-size: var(--font-xl)
    p
      font-size: var(--font-l)

  .footer-main
    display: flex
    justify-content: center
    align-items: center

  .navbar-logo
    h1
      font-size: var(--font-xl)

  .page-header
    display: flex

  #navbar,
  .site-main,
  .footer
    padding: 0 15vw

  .project-links 
    margin: 24px 0 96px
    a
      font-size: var(--font-xl)

  .project-section
    padding: 72px

  .project-section-title h3
    font-size: var(--font-xxxl)

  .project-title 
    h1
      font-size: var(--font-5xl)
    i
      font-size: var(--font-xxxl)

  .subcategory
    padding: 0
    i
      font-size: var(--font-xxxl)

  .subcategory-title
    h2
      font-size: var(--font-xxl)

@media (min-width: 1980px)

  a>.blue>:first-child
    padding: 0 12px 0 0

  #footer,
  .site-main
    width: 100% !important

  .category-links
    padding: 8px 0 48px

  .category-title
    h1
      font-size: var(--font-5xl)
    i
      font-size: var(--font-xxxl)

  .intro
    text-align: justify
    p
      font-size: var(--font-xl)

  .intro-category-icons
    i
      font-size: var(--font-xxxl)

  .menu-category-title
    h2
      font-size: var(--font-7xl)

  .navbar-logo
    h1
      font-size: var(--font-xl)

  .page-header
    display: flex

  .project-links
    margin: 24px 0 144px
    a
      font-size: var(--font-xl) 

  .project-overview p,
  .project-section-desc p
    font-size: var(--font-xl)

  .project-section
    padding: 96px

  .project-section-title h3
    font-size: var(--font-xxxxl)

  .project-title
    h1
      font-size: var(--font-7xl)
    i
      font-size: var(--font-xxxl)

  #navbar,
  .site-main
    padding: 0 20vw

  .subcategory-excerpt
    p
      font-size: var(--font-xl)
      line-height: 2rem

  .subcategory-title
    h2
      font-size: var(--font-xxxl)

@media (min-width: 2450px)

  #navbar,
  .site-main,
  .footer
    padding: 0 25vw

  .project-title
    i
      font-size: var(--font-xxxl)

