@media screen and (min-width: 100px) and (max-width: 360px) {
  body,
  .navbar {
    margin: 0 12px !important;
  }
  .navbar,
  .site-main {
    width: 100px;
  }
  .category-title {
    display: flex;
    justify-content: space-between !important;
  }
  .category-title h1 {
    font-size: var(--font-m);
  }
  .category-title i {
    padding-right: 18px;
  }
  .menu-closed {
    margin: 24px 0;
  }
  .category-links a {
    font-size: var(--font-s);
  }
  .page-title {
    font-size: var(--font-xl);
    padding: 0;
  }
}
/* IPHONE */
@media screen and (min-width: 360px) and (max-width: 540px) {
  .bookmark-glossary {
    justify-content: center;
    margin: 72px 0;
  }
  .bookmark-glossary a {
    padding: 6px 12px;
  }
  #footer,
  .site-main,
  .navbar {
    padding: 0 38px !important;
  }
  #footer,
  .site-main {
    width: 100%;
  }
  .category-section {
    padding: 48px 36px;
  }
  .footer-column {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
  }
  .intro p {
    font-size: var(--font-s);
    line-height: 1.8rem;
  }
  .contact p {
    font-size: var(--font-s);
  }
  .category-links {
    padding: 24px 0;
  }
  .category-icons {
    margin-bottom: 24px;
    justify-content: center;
    /* FIND BETTER SOLUTION, ICONS FLOWING OVER DIV CREATING UNWANTED SCROLLBAR */
    overflow: hidden;
  }
  .category-title h1 {
    font-size: var(--font-l);
  }
  .category-links a {
    font-size: var(--font-s);
  }
  .page-title {
    font-size: var(--font-xl);
  }
  .page-title h1 {
    letter-spacing: 0.6rem;
  }
  .page-title i {
    padding: 0 24px 0 0;
  }
  .project-section {
    padding: 48px 36px;
  }
  .project-section p {
    font-size: var(--font-s);
    padding: 12px 0;
    text-align: center;
    text-align: justify;
    hyphens: auto;
  }
  .project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: enter;
    width: 100%;
  }
  .project-title h1 {
    font-size: var(--font-xxl);
    letter-spacing: 0.52rem;
    overflow: wrap;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
  .project-title i {
    font-size: var(--font-xxl);
    margin: 0 0 12px;
  }
}
@media screen and (min-width: 540px) and (max-width: 756px) {
  .bookmark-glossary {
    justify-content: center;
  }
  .category-section {
    padding: 72px;
  }
  #footer,
  .navbar,
  .site-main {
    padding: 0 72px !important;
  }
  #footer,
  .navbar,
  .site-main {
    padding: 0 48px !important;
  }
  .category-icons {
    display: flex;
    justify-content: center;
    padding: 12px 0;
  }
  .category-icons-container {
    filter: grayscale(0) !important;
    opacity: 1;
  }
  .category-links {
    text-indent: 0;
  }
  .footer-button img {
    width: 36px !important;
  }
  .footer-column {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .intro {
    margin: 12px 0;
    text-align: center;
  }
  .intro p {
    line-height: 2rem;
  }
  .menu-closed {
    justify-content: space-between !important;
  }
  .category-title,
  .page-title,
  .menu-category-title {
    margin: 0;
  }
  .category-title {
    display: flex;
  }
  .category-title h1 {
    font-size: var(--font-l);
    padding-left: 24px;
  }
  .category-title i {
    padding: 4px;
  }
  .page-title h1 {
    font-size: var(--font-xl);
  }
  .page-title a {
    font-size: var(--font-s) !important;
    text-indent: 0;
  }
  .page-title h1 {
    font-size: var(--font-m);
  }
  .anchor-list a {
    font-size: var(--font-l) !important;
  }
  .page-title h1,
  .project-title > h1 {
    font-size: var(--font-xl) !important;
  }
  .project-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: enter;
    width: 100%;
  }
  .project-title h1 {
    font-size: var(--font-xxl) !important;
    letter-spacing: 0.52rem;
    overflow: wrap;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
  .project-title i {
    font-size: var(--font-xxl);
    margin: 0 0 12px;
  }
}
@media screen and (min-width: 756px) and (max-width: 1080px) {
  #footer,
  .navbar,
  .site-main {
    margin-left: 72px;
    margin-right: 72px;
  }
  .category-section- h1 {
    font-size: var(--font-l);
  }
  .page-header {
    display: flex;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1440px) {
  #footer,
  .site-main,
  .navbar {
    padding: 0 144px !important;
  }
  .category-section- h1 {
    font-size: var(--font-xl);
  }
  .page-header {
    display: flex;
  }
  .site-main {
    margin-top: 171px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1980px) {
  #footer,
  .site-main,
  .navbar {
    padding: 0 144px !important;
  }
  .intro {
    text-align: justify;
  }
  .intro a {
    font-size: var(--font-l) !important;
  }
  .footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-header {
    display: flex;
  }
}
@media (min-width: 1980px) {
  #footer,
  .site-main,
  .navbar {
    padding: 0 384px !important;
  }
  #footer,
  .site-main {
    width: 100%;
  }
  .intro {
    text-align: justify;
  }
  .category-section--title h1 {
    letter-spacing: 0.52rem;
    font-size: var(--font-xl);
  }
  .page-header {
    display: flex;
  }
}
