@media screen and (min-width: 100px) and (max-width: 539px) {
  .badge {
    height: auto !important;
    padding: 24px 0;
  }
  .bookmark-glossary {
    justify-content: center;
    margin: 72px 0;
  }
  .bookmark-glossary a {
    padding: 6px 12px;
  }
  .category-links {
    padding: 24px 0;
    text-align: center;
  }
  .category-links a {
    display: block;
    font-size: var(--font-s);
    padding: 8px 0;
  }
  .category-links .category-links-slash {
    display: none;
  }
  .category-icons {
    margin-bottom: 24px;
    justify-content: center;
    /* FIND BETTER SOLUTION, ICONS FLOWING OVER DIV CREATING UNWANTED SCROLLBAR */
    overflow: hidden;
  }
  .category-section {
    padding: 48px 32px !important;
  }
  .category-subtitle p {
    text-align: center;
  }
  .category-subtitle h5 {
    font-size: var(--font-m);
    line-height: 1.2rem;
  }
  .category-title {
    justify-content: center;
  }
  .footer-column {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .intro {
    margin: 0;
  }
  .intro p {
    font-size: var(--font-s);
    line-height: 1.8rem;
    text-align: center;
  }
  .intro-category-icons {
    justify-content: center;
  }
  .menu-expanded {
    flex-direction: column;
  }
  .menu-list-container-left,
  .menu-title-left {
    justify-content: center !important;
    text-align: center !important;
  }
  .menu-list-container-right,
  .menu-category-title-right {
    justify-content: center !important;
    text-align: center !important;
  }
  #navbar {
    padding: 0 38px;
  }
  .navbar-home p {
    font-size: var(--font-xxl) !important;
    line-height: 2rem;
    padding: 0 48px;
    text-align: center;
  }
  .page-title {
    font-size: var(--font-xl);
  }
  .page-title h1 {
    letter-spacing: 0.6rem;
  }
  .page-title i {
    padding: 0 24px 0 0;
  }
  .project-header {
    margin: 144px 0;
  }
  .project-section p {
    font-size: var(--font-s);
    padding: 12px 0;
    text-align: center;
    text-align: justify;
    hyphens: auto;
  }
  .category-title {
    display: flex;
    align-items: center !important;
    width: 100%;
  }
  .category-title h1 {
    font-size: var(--font-xl) !important;
    overflow: wrap;
    text-align: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
  .category-title h1:after {
    display: none;
  }
  .category-title i {
    font-size: var(--font-xxl);
  }
  .site-main {
    padding: 0 36px;
    width: 100%;
    margin-top: 120px !important;
  }
  .effect-game-over {
    animation-name: glitch;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    cursor: pointer !important;
  }
  .effect-game-over p {
    color: var(--color-green-hyperpop) !important;
  }
  @keyframes glitch {
    0% {
      color: #fff;
    }
    25% {
      color: #A59FAD;
      text-shadow: 2px 2px 2px #A59FAD;
      transform: translate(-2px, 1px);
    }
    40% {
      color: #fff;
      text-shadow: none;
      transform: translate(0, 0);
    }
    50% {
      color: #A59FAD;
      text-shadow: 5px 5px 2px blue, -5px -5px 2px red;
      transform: translate(0px, 5px);
    }
    70% {
      color: #fff;
      text-shadow: none;
      transform: translate(0, 0);
    }
    80% {
      color: #565656;
      text-shadow: 0 0 20px #565656;
      transform: translate(-2px, 1px);
    }
    100% {
      color: #fff;
      text-shadow: none;
    }
  }
}
@media screen and (min-width: 540px) and (max-width: 755px) {
  .project-list a {
    font-size: var(--font-l) !important;
  }
  .badges {
    margin: 144px 0 !important;
  }
  .badge {
    height: auto !important;
    padding: 48px 0;
  }
  .bookmark-glossary {
    justify-content: center;
  }
  .category-section {
    padding: 72px;
  }
  .category-icons {
    display: flex;
    justify-content: center;
    padding: 12px 0;
  }
  .category-icons-container {
    filter: grayscale(0) !important;
    opacity: 1;
  }
  .category-links {
    text-indent: 0;
  }
  .category-links a {
    display: block;
    padding: 8px 0;
  }
  .category-links .category-links-slash {
    display: none;
  }
  .footer-button img {
    width: 36px !important;
  }
  .footer-column {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .category-subtitle h5 {
    font-size: var(--font-m);
  }
  .intro {
    margin: 12px 0;
    text-align: center;
  }
  .intro p {
    line-height: 2rem;
  }
  .intro-category-icons {
    justify-content: center;
  }
  .intro-text p {
    text-align: center !important;
  }
  .menu-closed {
    justify-content: space-between !important;
  }
  .menu-category-title {
    margin: 0;
  }
  .menu-expanded {
    flex-direction: column;
  }
  .menu-list-container-left,
  .menu-title-left {
    justify-content: center !important;
    text-align: center !important;
  }
  .menu-list-container-right,
  .menu-category-title-right {
    justify-content: center !important;
    text-align: center !important;
  }
  #navbar {
    padding: 0 48px !important;
  }
  .page-title {
    margin: 0;
  }
  .page-title h1 {
    font-size: var(--font-xl);
  }
  .page-title a {
    font-size: var(--font-s) !important;
    text-indent: 0;
  }
  .page-title h1 {
    font-size: var(--font-m);
  }
  .page-title h1,
  .category-title > h1 {
    font-size: var(--font-xl) !important;
  }
  .category-title h1 {
    font-size: var(--font-xxl) !important;
    letter-spacing: 0.52rem;
    overflow: wrap;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
  .category-title i {
    font-size: var(--font-xxl);
    margin: 0 0 12px;
  }
  .site-main {
    padding: 0 48px !important;
    margin-top: 120px !important;
  }
}
@media screen and (min-width: 756px) and (max-width: 1079px) {
  .category-links {
    text-indent: 0;
  }
  .category-links a {
    display: block;
    padding: 8px 0;
  }
  .category-links .category-links-slash {
    display: none;
  }
  .menu-expanded {
    flex-direction: column;
  }
  .menu-list-container-left,
  .menu-title-left {
    justify-content: center !important;
    text-align: center !important;
  }
  .menu-list-container-right,
  .menu-category-title-right {
    justify-content: center !important;
    text-align: center !important;
  }
  #navbar {
    margin-left: 72px;
    margin-right: 72px;
  }
  .page-header {
    display: flex;
  }
  .site-main {
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 120px !important;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1439px) {
  .category-section-title h1 {
    font-size: var(--font-xl);
  }
  .menu-expanded {
    flex-direction: column;
  }
  .menu-list-container-left,
  .menu-title-left {
    justify-content: center !important;
    text-align: center !important;
  }
  .menu-list-container-right,
  .menu-category-title-right {
    justify-content: center !important;
    text-align: center !important;
  }
  #navbar {
    padding: 0 144px !important;
  }
  .page-header {
    display: flex;
  }
  .site-main {
    padding: 0 144px !important;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1979px) {
  .site-main {
    padding: 0 144px !important;
  }
  .menu-list {
    text-align: left !important;
  }
  #navbar {
    padding: 0 144px !important;
  }
  .intro {
    text-align: justify;
  }
  .intro a {
    font-size: var(--font-l) !important;
  }
  .footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-category-title h2 {
    text-align: left;
  }
  .page-header {
    display: flex;
  }
}
@media (min-width: 1980px) {
  .site-main,
  #navbar {
    padding: 0 384px !important;
  }
  #footer,
  .site-main {
    width: 100%;
  }
  .intro {
    text-align: justify;
  }
  .category-section--title h1 {
    letter-spacing: 0.52rem;
    font-size: var(--font-xl);
  }
  .page-header {
    display: flex;
  }
}
/* MEDIA QUERIES FOR IMAGE GALLERY */
@media screen and (min-width: 540px) {
  .col-1, .col-10, .col-11, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .date-field div.day-of-week-mobile p {
    font-size: 50px;
    margin-top: 0px;
  }
  .kg-bookmark-container {
    flex-direction: column;
  }
  .date-field div.day-of-week-mobile p {
    font-size: 42px;
  }
  .date-field div.day-of-week-mobile p {
    font-size: 20px;
  }
  .dw-cluster--vertical,
  .dw-cluster__segment--row {
    flex-direction: column;
  }
  .dw-cluster__segment--half {
    flex-basis: 50%;
  }
  .dw-cluster__segment--quart {
    flex-basis: 25%;
  }
}
@media screen and (min-width: 756px) {
  .dw-panel {
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }
  .date-field {
    justify-content: space-evenly;
  }
  .date-field div.day-of-week {
    display: none;
  }
  .date-field div.day-of-week-mobile {
    display: inline-block;
  }
  .date-field div.day-of-week-mobile p {
    font-size: 56px;
    margin-top: -2px;
  }
  .dw {
    -moz-column-count: 2;
    column-count: 2;
  }
  .col-1, .col-10, .col-11, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .kg-width-full {
    width: 100vw;
  }
  .post-card.no-image:before {
    font-size: 50vw;
  }
  .post-card {
    flex: 1 1 100%;
    height: 70vw;
  }
  .post-card.with-image .post-card-content {
    opacity: 1;
  }
  .site-head {
    padding: 0 0 20px;
  }
  .site-head-container {
    background: hsla(0, 0%, 100%, 0);
    display: block;
    width: 100%;
  }
  .kg-bookmark-card {
    margin: 7vw 0;
  }
}
@media screen and (min-width: 1080px) {
  .dw-4 {
    -moz-column-count: 4;
    column-count: 4;
  }
  .post-card.no-image .post-card-title {
    font-size: 3.4rem;
  }
}
