@import "clock.css";
@import "goodeats.css";
@import "misc.css";
@import "post.css";
@import "quotes.css";
@import "recipes.css";
@import "themes.css";
@import "variables.css";
@import "responsive.css";
body {
  /*  box-shadow: inset 0 50px 30px rgba(0, 0, 0, 0.4)*/
  display: flex;
  justify-content: center;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: var(--color-blue-storm);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-medium);
  border-radius: 20px;
  border: 1px solid var(--color-grey-medium);
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  color: var(--color-blue-superlight);
  font-family: "Boldonse", monospace;
  font-family: "Doto", serif;
  font-family: "Lusitana", serif;
  font-family: "Tiny5", monospace;
  font-family: "Reddit Mono", monospace;
  font-family: "Cutive Mono", monospace;
  font-size: var(--font-m);
}

::selection,
::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
  color: #000;
}

/*#ux, #design, #gadgets, #diy, #otherstuff, #travel, #contact, #compliance
 * scroll-padding-top: 68px*/
#menu-button i {
  font-size: var(--font-xl);
}

#navbar {
  backdrop-filter: blur(187px);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.anchor-list {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
.anchor-list a {
  color: var(--color-retro-aqua-highlight);
  margin: 12px 0;
}

.badges {
  margin: 96px 0;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
}
.badge-container img {
  width: 200px;
  padding: 4px 0;
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 575px;
  text-align: center;
}
.badge h3 {
  font-family: "Reddit Mono", monospace;
  font-size: var(--font-l);
  margin: 24px 0 12px;
}
.badge p {
  font-family: "Reddit Mono", monospace;
}
.badge img {
  transition: 0.3s;
}
.badge img:hover {
  transform: scale(1.1);
}

.bookmark-glossary {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0 72px;
}
.bookmark-glossary a {
  border: 3px solid var(--color-green-hyperpop);
  border-radius: 8px 0 0 0;
  color: var(--color-green-hyperpop);
  font-size: var(--font-l);
  padding: 12px;
  margin: 4px;
  font-family: "Cutive Mono", monospace;
}
.bookmark-glossary a:hover {
  animation: blinker 1s linear infinite;
  background: var(--color-green-hyperpop);
  color: var(--color-cyber-bg);
}

.bookmark-section {
  margin-left: 1rem;
  text-indent: -1rem;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  padding: 0 0 3rem;
}
.bookmark-section h2 {
  color: var(--color-green-hyperpop);
  font-family: "Courier Prime", monospace;
  font-size: var(--font-l);
  padding: 0 0 1vh;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.29);
}
.bookmark-section li {
  font-size: var(--font-m);
  margin-left: 1rem;
  text-indent: -1rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.29);
}
.bookmark-section a {
  padding: 4px 0 4px 12px;
}

.bookmark {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 12px 72px 12px 0;
}
.bookmark a {
  color: var(--color-blue-light);
}
.bookmark a:hover {
  color: #fff;
  animation: blinker 1s linear infinite;
}
.bookmark ul :hover {
  border-left: none;
}
.bookmark li {
  font-family: "Courier Prime", monospace;
}
.bookmark h2 {
  padding: 0 16pxw;
}

.bookmark-old a {
  color: var(--color-grey-light);
  text-decoration: line-through;
}
.bookmark-old a:hover {
  animation: blinker 1s linear infinite;
}

.category-section {
  display: flex;
  flex-direction: column;
  font-family: "Yellowtail", monospace;
  font-size: var(--font-s) !important;
  padding: 72px;
}
.category-section a {
  color: var(--color-title-light);
  font-size: var(--font-m);
}
.category-section a:hover {
  cursor: pointer;
  animation: blinker 1s linear infinite;
}
.category-section span {
  color: var(--color-title);
}
.category-section h1 {
  color: #fff;
  text-wrap: wrap;
  word-break: break-all;
}
.category-section .project-title {
  text-transform: uppercase;
}

.category-subtitle p {
  font-family: "Reddit Mono", monospace;
  padding: 12px 0;
}

.category-links {
  display: flex;
  flex-direction: column;
  color: var(--color-border);
  padding: 24px 0;
  display: inline-block;
  flex-direction: column;
}
.category-links a {
  padding: 4px 0;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.category-container {
  padding: 24px 0;
}

.category {
  display: flex;
  flex-wrap: wrap;
  padding: 36px 0;
}
.category img {
  filter: grayscale(1);
  opacity: 0.87;
}
.category img:hover {
  filter: grayscale(0);
}
.category span, .category h1 {
  display: flex;
  align-items: center;
}

.category-banner {
  padding: 18px 0;
}

.category-excerpt p {
  font-family: "Reddit Mono", monospace;
  font-family: "Cutive Mono", monospace;
  font-size: var(--font-m);
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.footer {
  height: 5rem;
}

.footer-back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f !important;
  border-radius: 15%;
  left: 4rem;
  bottom: 4rem;
  display: flex;
  opacity: 0.29 !important;
  padding: 0.87rem;
  position: fixed;
  transition: all 0.4s;
  visibility: hidden;
  width: 4rem;
  z-index: 9999;
}
.footer-back-to-top:hover {
  filter: invert(0.8);
  opacity: 1 !important;
  -webkit-filter: invert(0.8);
}
.footer-back-to-top:active {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.footer-back-to-top-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-caution {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer-caution a {
  color: var(--color-retro-orange) !important;
}

.footer-text {
  display: flex;
  justify-content: center;
  padding: 87px;
}

.footer-construction {
  color: #fff !important;
  background-color: #D9044C;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 0;
  position: fixed;
}
.footer-construction p {
  font-family: "Tiny5", monospace;
  text-transform: uppercase;
}

.footer-text-flashing {
  animation: blink-animation 0.87s infinite;
  -webkit-animation: blink-animation 0.87s infinite;
  padding: 0 24px;
}

.img-fullsize {
  padding: 48px 0;
}
.img-fullsize figcaption {
  color: var(--redteam-blue-light);
  font-size: var(--font-s);
  padding: 16px 0;
  text-align: center;
}
.img-fullsize img {
  box-shadow: 0 0 24px hsla(0, 0%, 0%, 0.2);
}

.intro {
  padding: 24px 0;
}

.intro-category-icons {
  display: flex;
  flex-shrink: 1;
}
.intro-category-icons span {
  padding: 0 12px 0 0;
}
.intro-category-icons i {
  font-size: var(--font-xl) !important;
}
.intro-category-icons h1 {
  font-size: var(--font-xl);
  padding: 0;
}
.intro-category-icons h1:after {
  animation: blink-animation 0.9s infinite;
  -webkit-animation: blink-animation 0.9s infinite;
  -moz-animation: blink-animation 0.9s infinite;
  -o-animation: blink-animation 0.9s infinite;
  content: "_";
}

.intro-text {
  margin: 36px 0;
  /*  transform: rotate(90deg)*/
}
.intro-text a:hover {
  animation: blinker 1s linear infinite;
}
.intro-text p {
  display: inline-block;
  font-family: "Reddit Mono", monospace;
  line-height: 2rem;
  text-align: left;
}

.menu-closed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.menu-icon i {
  color: var(--color-title-light);
}
.menu-icon i:hover {
  color: var(--color-retro-aqua-highlight);
}

.menu-expanded {
  display: flex;
  height: 100vh;
  overflow-y: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 40px 0 120px;
}

::-webkit-scrollbar {
  display: none;
}

.menu-category {
  margin: 24px;
}

.menu-category-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-title-light);
}
.menu-category-title i {
  color: var(--color-yellow-pgh);
  font-size: var(--font-xl);
  padding: 0 14px 0 0;
}
.menu-category-title h2 {
  font-family: "Yellowtail", monospace;
  font-size: var(--font-m);
  text-transform: uppercase;
}

.menu-list-container-left,
.menu-title-left {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.menu-list-container-center,
.menu-category-title-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.menu-list-container-right,
.menu-category-title-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.menu-list {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}
.menu-list a {
  color: var(--color-retro-aqua-highlight);
  font-family: "Yellowtail", monospace;
  font-size: var(--font-s);
  line-height: 1.4rem;
  padding: 6px 0;
}
.menu-list a:hover {
  animation: blinker 1s linear infinite;
  color: var(--color-retro-aqua-highlight);
}

.navbar {
  height: 100%;
  overflow: auto;
}

.navbar-home p {
  font-size: var(--font-xxl);
  font-family: "Tiny5", monospace;
  cursor: pointer;
}

.page-header-image img {
  border-radius: 12px 0 0 12px;
}

.page-header-excerpt {
  background-color: var(--color-bg);
  border-radius: 0 12px 12px 0;
  display: flex;
  padding: 2rem 3rem 2rem 2rem;
  text-indent: 2vw;
}
.page-header-excerpt p {
  color: white;
  cursor: default;
  font-family: "Yellowtail", monospace;
  font-size: var(--font-m);
}

.page-section {
  margin: 96px 0;
}

.page-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: "Courier Prime", monospace;
  font-size: var(--font-xxl);
  color: var(--color-light);
  padding: 24px 0;
}
.page-title h1 {
  color: white !important;
  cursor: default;
  letter-spacing: 2rem;
  white-space: initial;
  word-break: break-all;
  white-space: pre-wrap;
}
.page-title h1:after {
  padding: 4px;
  animation: blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
  -moz-animation: blink-animation 1s infinite;
  -o-animation: blink-animation 1s infinite;
  content: "_";
}
.page-title i {
  color: white;
  cursor: default;
  padding: 0 48px 0 0;
}

.project-desc {
  text-wrap: balance;
}

.project-hashtag {
  color: var(--color-grey-light);
  font-size: var(--font-m);
  text-shadow: var(--text-shadow-1);
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: default;
  font-family: "Yellowtail", monospace;
  padding: 48px;
  /*mix-blend-mode: normal|multiply|screen|overlay|darken|lighten|color-dodge|color-burn|difference|exclusion|hue|saturation|color|luminosity;*/
}
.project-section p {
  font-size: var(--font-l);
  line-height: 1.8rem;
  padding: 18px 0;
}
.project-section a {
  font-size: var(--font-l) !important;
  margin-bottom: 4px !important;
  mix-blend-mode: normal !important;
}
.project-section a:hover {
  animation: blinker 1s linear infinite;
}
.project-section h1 {
  text-wrap: wrap;
  word-break: break-all;
}
.project-section h3 {
  color: var(--grey);
  font-size: var(--font-l);
}
.project-section span {
  color: var(color-title-hashtag) !important;
}
.project-section span {
  color: var(--color-title);
  margin-right: 24px;
}

.project-section-title h3 {
  font-size: var(--font-xl);
  text-shadow: var(--text-shadow-1);
}

.project-title {
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.project-title h1 {
  color: white;
  font-family: "Courier Prime", monospace;
  font-size: var(--font-xxl);
  letter-spacing: 0.8rem;
}
.project-title h1:after {
  padding: 29px;
  animation: blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
  -moz-animation: blink-animation 1s infinite;
  -o-animation: blink-animation 1s infinite;
  content: "_";
}
.project-title i {
  color: white;
  font-size: var(--font-xl);
  padding: 0 24px 0 0;
}

.quote-container {
  break-inside: avoid;
  padding: 0 24px;
}

.quote {
  padding: 0 0 3rem;
}

.quote-text {
  border-radius: 12px 12px 0 12px;
  box-shadow: 4px 8px 10px hsla(0, 0%, 0%, 0.2);
  cursor: default;
  font-family: "Lusitana", serif;
  font-size: var(--font-l);
  font-style: italic;
  line-height: 1.8rem;
  margin-bottom: 12px;
  padding: 36px 36px 44px;
  text-align: left;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.29);
}

.quote-by {
  cursor: default;
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-m);
  padding: 0 0 0 24px;
  text-align: right;
}

.quote-link {
  font-family: "Cutive Mono", "Courier Prime", monospace;
}
.quote-link a {
  color: var(--color-purple-light) !important;
  text-align: right;
}
.quote-link a:hover {
  animation: blinker 0.4s linear infinite;
}

.quote-by,
.quote-link {
  margin-right: 1rem;
}

.site-main {
  margin-top: 150px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip-container::before {
  background-color: #333;
  border-radius: 4px;
  bottom: 125%;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 0.9em;
  opacity: 0;
  padding: 8px 12px;
  position: absolute;
  transform: translateX(0%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
  white-space: nowrap;
}
.tooltip-container::after {
  content: "";
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.tooltip-container:hover::before, .tooltip-container:hover::after {
  opacity: 1;
  visibility: visible;
}

/* SHIMS */
.br-top {
  border-radius: 24px 24px 0 0;
}

.br-top-left {
  border-radius: 16px 0 0 0;
}

.spacer {
  height: 121px;
  text-align: center;
  width: 100%;
}

.spacer-line {
  border-bottom: 1px solid var(--color-blue-storm);
  margin: 0 96px;
}

.spacer-s {
  height: 60px;
}

.spacer-m {
  height: 120px;
}

.spacer-l {
  height: 180px;
}
