/* ADD VARIABLES */

#contact {
  margin-top: -15px !important;
  z-index: 5000;
  background: #F5F5F5;
  position: fixed;
  float: left;
  width: 100%;
  padding: 20px 0 15px;
  -webkit-box-shadow: 0px 3px 15px 2px #000;
  box-shadow: 0px 3px 15px 2px #000;
  text-align: center;
  font-family: Raleway, Quicksand, Oswald, Raleway, san-serif;
  font-weight: 700px;
  color: gray;
  font-size: 20px; 
}
#contact a {color: gray !important; }
#contact a:hover {color: red !important; }
#contact {box-shadow: 0px 30px 30px 5px #F5F5F5; }
.gallery {
  max-width: 900px;
  margin: 100px auto 50px;
  width: 100%; 
}
.gallery img {
  width: 100%;
  margin: 0 auto;
  float: left; 
}
.gallery img, .gallery > .img {
  -webkit-box-shadow: 2px 1px 8px 1px #A8A8A8;
  box-shadow: 2px 1px 8px 1px #A8A8A8;
  margin-bottom: 15px !important; 
}
.galleryBreak {
  width: 900px;
  height: 65px;
}
div.images-container {
  clear: both;
  position: relative;
  width: 900px; 
}
  div.images-container > img {
    cursor: pointer !important;
    width: 900px;
    display: block;
    position: absolute; 
  }
html {
  color: #333333;
  margin: 0;
  padding: 0;
  font-family: "Open Sans"; 
}
#header {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  height: 500px; 
}
h1 {
  color: red;
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  text-decoration: none;
  margin-top: 15px !important;
  margin-bottom: 15px !important; 
}
h2 {
  font-weight: 700;
  font-family: Hammersmith One, Quicksand, Oswald, san-serif !important;
  letter-spacing: -2px !important;
  text-transform: uppercase;
  font-size: 28px !important;
  margin-bottom: 5px;
  line-height: 30px; 
}
h3 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  font-weight: 900px;
  color: #1F1F1F;
  margin: 0 0 15px 0 !important;
  line-height: 22px; 
}
* {
  cursor: default; 
}
h4 {
  font-weight: 200;
  font-family: Raleway, sans-serif;
  font-weight: 700px;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important; 
}

h5 {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  margin: 0 0 10px 0;
  font-size: 16px !important;
  letter-spacing: -0.5x; 
}
body {
  -webkit-font-smoothing: antialiased;
  font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px; 
}
.marginRight div {
  margin-right: 0%; }
.columnHalfRight img {margin-bottom: 15px; margin-left:15px; box-shadow: 2px 1px 8px 1px #A8A8A8;}
.columnHalfLeft img {margin-bottom: 15px; box-shadow: 2px 1px 8px 1px #A8A8A8;}
.columnHalf img {
  float: left !important;
  margin: 5px !important;
  width: 90%;
  margin-bottom: 5px !important; }

.container {
  margin: 0 auto; }

.textBox {
  padding: 0 0 25px; }

/* MODAL */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  margin: 0 auto;
  width: 100%; 
}
  .modalDialog:target {
    margin: 0 auto;
    opacity: 1;
    pointer-events: auto; 
  }
  .modalDialog > div {
    position: relative;
    margin: 0 auto;
    padding: 5px 20px 13px 20px; 
  }
  .modalDialog h2, .modalDialog h3 {
    color: white; 
    margin-bottom: 10px;
    text-align: left;
  }
  .modalDialog img {
    display: block;
    margin: auto; 
  }
  .modalDialog div {
    max-width: 900px;
    margin: 0 auto; 
  }
  .modalDialog img {
    max-width: 900px;
    -webkit-box-shadow: 0px 3px 25px 2px black !important;
    box-shadow: 0px 3px 25px 2px black !important; 
  }

.close {
  line-height: 22px;
  position: absolute;
  right: 20px;
  top: 25px;
  text-align: center;
  width: 24px;
  font-weight: bold;
  background: red; }
  .close:hover {
    color: white !important;
    padding: 3px;
    margin-top: 2px; }

a {
  padding: 5px 3px 3px;
  margin-left: -3px; }
  a:link, a:visited {
    color: #000 !important;
    text-decoration: none;
    font-weight: 600; }
  a:hover, a:active {
    text-decoration: none;
    font-weight: 600;
    cursor: pointer !important;
    color: red !important;
    background: -webkit-linear-gradient(#fff, #424242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
.columnHalf:hover {
  cursor: default; 
}
#otherProjects {
  text-align: center !important;
  width:900px;
  margin:0 auto; 
}
#close img:hover {
  display: none !important; 
}
.note {
  text-align: center;
  margin-top: -5px; }
  .note h5 {
    color: #8A8A8A !important;
    font-size: 14px !important; 
  }
.columnHalfLeft {
  height: 1000px;
  width: 49%;
  float: left; 
}
.columnHalfRight {
  height: 1000px;
  width: 49%;
  float: left; 
}
.modalImage > img {
  display: none !important; 
}
@media all and (max-width: 820px) {
  h2 {
    font-size: 45px !important; } 
}
@media (min-width:1px) and (max-width: 899px) {
  h2 {font-size:36px !important;}
  h3 {font-size:20px !important;}
  .textBox h5 {font-size:16px !important;}
}
@media only screen and (max-width : 899px) {
  #contact {font-size:24px !important;}
  .gallery {margin: 150px auto 50px !important; padding:15px;}
  h3 {margin: 15px 0px 15px !important;}
  .gallery>h2>span {line-height: 38px;}
  .images-container {display:none;}
}
@media all and (min-width: 900px) {
  .imgNonRollover {display:none;}
}
h3 {color:#9E9E9E !important;}
.note h5 {
  color: #B5B5B5 !important;
  margin-bottom: 40px;
  font-style: italic;
}