@import "animation.css"
@import "clock.css"
@import "goodeats.css"
@import "images.css"
@import "quotes.css"
@import "mail.css"  
@import "misc.css"
@import "mobile.css"
@import "post.css"
@import "recipes.css"
@import "themes.css"
@import "variables.css"

body
  display: flex
  justify-content: center
  &::-webkit-scrollbar 
    width: 12px 
  &::-webkit-scrollbar-track 
    background: var(--color-blue-storm) 
  &::-webkit-scrollbar-thumb 
    background-color: var(--color-grey-medium)
    border-radius: 20px 
    border: 1px solid var(--color-grey-medium)

html
  scroll-behavior: smooth

img
  max-width: 100%

table
  border-collapse: collapse
  border-spacing: 0

p
  font-family: "Yellowtail", monospace
  font-size: var(--font-m)

::selection,
::-moz-selection
  background: rgba(255, 255, 255, 0.1)
  color: #000

#ux, #design, #gadgets, #diy, #otherstuff, #travel, #contact
  margin-bottom: 100px

.anchor
  scroll-margin-top: 117px

.anchor-list
  display: flex
  flex-direction: column
  padding: 24px 0
  a
    padding: 4px 0

.bookmark-section
  margin-left: 1rem
  text-indent: -1rem
  break-inside: avoid
  display: flex
  flex-direction: column
  padding: 0 0 3rem
  font-size: var(--font-m)
  h2
    color: var(--color-title)
    font-family: "Courier Prime", monospace
    font-size: var(--font-l)
    padding: 0 0 1vh
  li
    margin-left: 1rem
    text-indent: -1rem
  a
    font-family: "Cutive Mono", monospace !important
    padding: 4px 0 4px 12px

.bookmark-glossary
  display: flex
  flex-wrap: wrap
  margin: 48px 0
  a
    border: 3px solid var(--color-green-hyperpop)
    border-radius: 8px 0 0 0
    color: var(--color-green-hyperpop)
    font-size: var(--font-l)
    padding: 12px
    margin: 4px
    font-family: "Yellowtail", monospace
    font-family: "Cutive Mono", monospace
  a:hover
    animation: blinker 1s linear infinite
    background: var(--color-green-hyperpop)
    color: var(--color-blue-dodger)

.bookmark
  flex-grow: 1
  flex-shrink: 1
  flex-basis: 0%
  padding: 12px 0  
  a
    color: var(--color-yellow-pgh) !important
  a:hover
    color: var(--color-yellow-pgh) !important
    animation: blinker 1s linear infinite
  ul
    :hover
      border-left: none
  li 
    font-family: "Courier Prime", monospace
  h2
    padding: 0 16px

.bookmark-old
  a
    color: var(--color-border)
    text-decoration: line-through
  a:hover
    color: var(--color-border) !important

.category-container
  padding: 16px 0

.category
  display: flex
  flex-wrap: wrap
  padding: 36px 0
  img
    filter: grayscale(1)
    opacity: 0.87
  img:hover
    filter: grayscale(0) 
  span, h1
    display: flex
    align-items: center

.category-icons
  display: flex
  flex-shrink: 1
  span
    padding: 0 12px 0 0
  i
    font-size: var(--font-xl) !important
  h1
    font-size: var(--font-xl)
    padding: 0
    &:after
      animation: blink-animation .9s infinite
      -webkit-animation: blink-animation .9s infinite
      -moz-animation: blink-animation .9s infinite
      -o-animation: blink-animation .9s infinite
      content: "_"

.category-links
  display: flex
  flex-direction: column
  color: var(--color-border)
  padding: 24px 0
  a
    padding: 4px 0
    text-decoration: underline
    text-decoration-style: dotted

.category-section
  display: flex
  flex-direction: column
  font-family: "Yellowtail", monospace
  font-size: var(--font-s) !important
  border-radius: 8px 0 0 0
  padding: 72px
  a
    color: var(--color-title-light)
    font-size: var(--font-m)
  a:hover 
    cursor: pointer
    animation: blinker 1s linear infinite
  span
    color: var(--color-title)
  p
    margin: 12px 0 !important
  h1
    color: #fff
    text-wrap: wrap
    word-break: break-all
  h2
    font-family: "Tiny5", monospace !important
    font-size: var(--font-xl) !important
    text-wrap: wrap
    word-break: break-all
  h5
    font-size: var(--font-l) !important

.category-title
  align-items: center
  display: flex
  justify-content: flex-start
  h1
    font-size: var(--font-xl)
    letter-spacing: 0.52rem
    text-transform: uppercase
    text-wrap: nowrap
  i
    animation: pulsate 0.11s ease-in-out infinite alternate !important
    color: var(--color-pgh-yellow)
    font-size: var(--font-xl)
    padding: 0 22px 0 0 

.category-subtitle
  color: var(--color-grey-1)
  font-family: "Cutive Mono", monospace
  line-height: 1.4rem
  padding: 12px 0

/* GAME OVER EFFECT */
.effect-game-over 
  animation-name: static 
  animation-duration: 0.8s 
  animation-iteration-count: infinite 
  cursor: pointer !important 
  p 
    color: var(--color-green-hyperpop) !important

@keyframes static
  0% 
    color: #fff 
  25% 
    color: #A59FAD 
    text-shadow: 2px 2px 2px #A59FAD 
    transform: translate(-2px, 1px) 
  40% 
    color: #fff 
    text-shadow: none 
    transform: translate(0, 0) 
  50% 
    color: #A59FAD 
    text-shadow: 5px 5px 2px blue, -5px -5px 2px red 
    transform: translate(0px, 5px) 
  70% 
    color: #fff 
    text-shadow: none 
    transform: translate(0, 0) 
  80% 
    color: #565656 
    text-shadow: 0 0 20px #565656 
    transform: translate(-2px, 1px) 
  100% 
    color: #fff 
    text-shadow: none 

.fade-in
  opacity: 1
  animation-name: fadeInOpacity
  animation-iteration-count: 1
  animation-timing-function: ease-in
  animation-duration: 0.5s

.footer
  height: 30rem

.footer-back-to-top
  align-items: center
  background-color: #1f1f1f !important
  border-radius: 15%
  bottom: 4rem
  display: flex
  height: 4rem
  justify-content: center
  opacity: 0.29 !important
  padding: 0.87rem
  position: fixed
  transition: all .4s
  visibility: hidden
  width: 4rem
  z-index: 9999
  &:hover
    filter: invert(.8)
    opacity: 1.0 !important
    -webkit-filter: invert(.8) /* safari 6.0 - 9.0 */
  &:active
    filter: invert(1)
    -webkit-filter: invert(1) /* safari 6.0 - 9.0 */

.footer-button
  display: flex
  align-items: center
  justify-content: center

.footer-caution
  align-items: center
  display: flex
  justify-content: center
  padding: 0 0 156px
  p
    color: var(--color-retro-orange) !important

.footer-text
  display: flex
  justify-content: center
  padding: 24px 0

.footer-text-flashing
  animation: blink-animation 0.87s infinite
  -webkit-animation: blink-animation 0.87s infinite
  padding: 0 24px

.intro
  margin: 36px 0
  a
    cursor: pointer
    &:hover
      animation: blinker 1s linear infinite
  span 
    font-size: var(--font-m)
  p
    line-height: 2rem

#menu-button
  i
    font-size: var(--font-xl)

.menu
  width: 100%

.menu-category
  padding: 4rem 0 0

.menu-category-list
  display: flex
  justify-content: center
  text-align: center

.menu-category-list-right
  display: flex
  justify-content: flex-end
  text-align: right


.menu-category-list-left
  display: flex
  justify-content: flex-start
  text-align: left

.menu-category-title
  display: flex
  flex-direction: row
  align-items: center
  i
    color: var(--color-yellow-pgh)

.menu-category-title
  color: var(--color-title-light)
  margin-bottom: 0.87rem
  h2
    font-family: "Yellowtail", monospace
    font-size: var(--font-m)
    text-transform: uppercase
  i
    font-size: var(--font-xl)
    padding: 0 14px 0 0 

.menu-closed
  display: flex
  justify-content: space-between
  align-items: center
  margin: 36px 0

.menu-expanded
  display: flex
  height: 100vh

.menu-icon
  i
    color: var( --color-title-light)
  i:hover
    color: var(--color-retro-aqua-highlight)

.menu-list
  display: flex
  flex-direction: column
  a 
    color: var(--color-retro-aqua-highlight)
    font-family: "Yellowtail", monospace
    font-size: var(--font-s)
    padding: 2px 0
    &:hover 
      animation: blinker 1s linear infinite
      color: var(--color-retro-aqua-highlight)

#navbar
  backdrop-filter: blur(187px)
  position: fixed
  left: 0
  right: 0
  z-index: 9999
  /*  box-shadow: 4px 4px 17px 14px rgba(0,0,0,0.29)*/

.navbar-home
  p
    font-family: "Boldonse", monospace
    font-family: "tiny5", monospace
    font-size: var(--font-xxl)
  a
    cursor: pointer !important

.page-header
  text-shadow: 2px 4px 3px rgba(0,0,0,0.2)

.page-header-excerpt
  background-color: var(--color-bg)
  display: flex
  padding: 2rem
  font-family: "Cutive Mono", monospace
  text-indent: 2vw
  p
    background-color: none
    color: var(--color-grey-light)
    cursor: default
    font-size: var(--font-s)

.page-header-image-hidden
  a
    cursor: default !important

.page-title
  display: flex
  align-items: center
  flex-direction: row
  font-family: "Courier Prime", monospace
  font-size: var(--font-xl)
  color: var(--color-light)
  padding: 24px 0
  h1
    color: white !important
    cursor: default
    letter-spacing: 0.6rem
    white-space: initial
    word-break: break-all
    &:after
      padding: 4px
      animation: blink-animation 1s infinite
      -webkit-animation: blink-animation 1s infinite
      -moz-animation: blink-animation 1s infinite
      -o-animation: blink-animation 1s infinite
      content: "_"
  span
    color: white
    cursor: default
    padding: 0 22px 0 0

.project-hashtag
  color: var(--color-grey-light) !important
  cursor: pointer !important
  margin-left: 24px
  filter: invert(1)
  mix-blend-mode: exclusion

.project-section
  display: flex
  flex-direction: column
  align-items: flex-start
  cursor: default
  font-family: "Yellowtail", monospace
  border-radius: 14px 0 0 0
  padding: 72px
  p
    filter: invert(1)
    mix-blend-mode: luminosity
    padding: 24px 0
  a
    color: var(--color-retro-aqua-highlight)
    font-size: var(--font-l) !important
    margin-bottom: 4px !important
    mix-blend-mode: normal !important
  a:hover
    animation: blinker 1s linear infinite
  h3
    color: white
    font-size: var(--font-l) !important
  span
    color: var(color-title-hashtag) !important
  span
    color: var(--color-title)
    margin-right: 24px
  /*mix-blend-mode: normal|multiply|screen|overlay|darken|lighten|color-dodge|color-burn|difference|exclusion|hue|saturation|color|luminosity;*/

.project-title
  display: flex
  align-items: center
  padding: 24px 0
  h1
    color: white
    font-family: "Courier Prime", monospace
    font-size: var(--font-xxl)
    letter-spacing: 1rem
    &:after
      padding: 18px
      animation: blink-animation 1s infinite
      -webkit-animation: blink-animation 1s infinite
      -moz-animation: blink-animation 1s infinite
      -o-animation: blink-animation 1s infinite
      content: "_"
  span
    color: white
    font-size: var(--font-xl)

.site-main
  margin-top: 221px

.subcategory-banner
  display: flex
  flex-direction: column

.subcategory-excerpt
  font-family: "Cutive Mono", monospace
  font-size: var(--font-s)

.subcategory-title
  margin-bottom: 12px

.tooltip-container
  position: relative
  display: inline-block
  cursor: pointer
  &::before
    background-color: #333
    border-radius: 4px
    bottom: 125%
    color: #fff
    content: attr(data-tooltip)
    font-size: 0.9em
    opacity: 0
    padding: 8px 12px
    position: absolute
    transform: translateX(0%)
    transition: opacity 0.3s ease, visibility 0.3s ease
    visibility: hidden
    white-space: nowrap
  &::after
    content: ''
    position: absolute
    bottom: 115%
    left: 50%
    transform: translateX(-50%)
    border-width: 5px
    border-style: solid
    border-color: #333 transparent transparent transparent
    opacity: 0
    visibility: hidden
    transition: opacity 0.3s ease, visibility 0.3s ease
  &:hover
    &::before, &::after
      opacity: 1
      visibility: visible

@media screen and (min-width: 100px) and (max-width: 360px)
  body,
  .navbar
    margin: 0 12px !important
  .navbar,
  .site-main
    width: 100px
  .category-title
    display: flex
    justify-content: space-between !important
    h1
      font-size: var(--font-m)
    i
      padding-right: 18px
  .menu-closed
    margin: 24px 0
  .category-links
    a
      font-size: var(--font-s)
  .page-title
    font-size: var(--font-xl)
    padding: 0

@media screen and (min-width: 360px) and (max-width: 540px)
  .bookmark-glossary
    justify-content: center
  #footer,
  .site-main
    max-width: 400px
  #footer,
  .site-main,
  .navbar
    padding: 0 38px !important
  #footer,
  .site-main
    width: 100%
  .category-section
    padding: 48px 36px
  .footer-column
    display: flex
    align-items: center
    width: 100%
  .intro
    display: flex
    align-items: center
    justify-content: center
    margin: 0
    text-align: center
    p
      font-size: var(--font-s)
      line-height: 1.8rem
  .site-main
    margin-top: 121px
  .contact
    p
      font-size: var(--font-s)
  .category-links
    padding: 24px 0
  .category-icons
    margin-bottom: 24px
    justify-content: center
  .category-title
    h1
      font-size: var(--font-l)
  .category-links
    a
      font-size: var(--font-s)
  .page-title
    font-size: var(--font-xl)

@media screen and (min-width: 540px) and (max-width: 756px)
  .bookmark-glossary
    justify-content: center
  .category-section
    padding: 72px
  #footer,
  .navbar,
  .site-main
    padding: 0 72px !important
  #footer,
  .navbar,
  .site-main
    padding: 0 48px !important
  .category-icons
    display: flex
    justify-content: center
    padding: 12px 48px
  .category-icons-container
    filter: grayscale(0) !important
    opacity: 1
  .category-links
    text-indent: 0
  .footer-button
    img
      width: 36px !important
  .footer-column
    display: flex
    align-items: center
    width: 100%
  .intro
    margin: 12px 0
    text-align: center
    p
      line-height: 2rem
  .menu-closed
    justify-content: space-between !important
  .site-main
    a
      font-size: var(--font-s) !important
      text-indent: 0
    h1
      font-size: var(--font-m)
  .category-title,
  .page-title,
  .menu-category-title
    margin: 0
  .category-title
    display: flex
    justify-content: space-between !important
    h1
      font-size: var(--font-l)
      padding-left: 24px
    i
      padding: 4px
  .page-title
    h1
      font-size: var(--font-xl)

@media screen and (min-width: 756px) and (max-width: 1080px)
  #footer,
  .navbar,
  .site-main
    margin-left: 72px
    margin-right: 72px
  .category-section-
    h1
      font-size: var(--font-l)
  .page-header
    display: flex

@media screen and (min-width: 1080px) and (max-width: 1440px)
  #footer,
  .site-main,
  .navbar
    padding: 0 144px !important
  .category-section-
    h1
      font-size: var(--font-xl)
  .page-header
    display: flex

@media screen and (min-width: 1440px) and (max-width: 1980px)
  #footer,
  .site-main,
  .navbar
    padding: 0 144px !important
  .intro
    text-align: justify
    a
      font-size: var(--font-l) !important
  .footer-main
    display: flex
    justify-content: center
    align-items: center
  .page-header
    display: flex

@media (min-width: 1980px)
  #footer,
  .site-main,
  .navbar
    padding: 0 384px !important
  #footer,
  .site-main
    width: 100%
  .intro
    text-align: justify
  .category-section--title
    h1
      letter-spacing: 0.52rem
      font-size: var(--font-xl)
  .page-header
    display: flex