@import "animation.css"
@import "clock.css"
@import "footer.css"
@import "goodeats.css"
@import "images.css"
@import "quotes.css"
@import "mail.css"
@import "menu.css"
@import "misc.css"
@import "mobile.css"
@import "post.css"
@import "variables.css"

*
  word-break: normal !important

html
  scroll-behavior: smooth

body
  background-color: #010201

table
  border-collapse: collapse
  border-spacing: 0

.bg-sky
  background-image: url("https://sky.dlazaro.ca")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed

::selection,
::-moz-selection
    background: rgba(255, 255, 255, 0.1)
    color: #000

.anchor
  padding-top: 128px

.anchor-list
  display: flex
  flex-direction: column
  padding: 18px 0
  font-family: "Courier Prime", monospace
  a
    font-size: var(--font-l) !important
    padding: 4px 0

.bg-home
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/images/header.jpg')
  background-repeat: no-repeat
  background-position: top
  height: 100vh
  width: 100vw
  position: fixed
  z-index: -9999

.bg-orange
  background: linear-gradient(335deg, rgba(255,140,107,1) 0%, rgba(255,228,168,1) 100%)
  background-repeat: no-repeat
  background-position: center
  height: 100vh
  width: 100vw
  position: fixed

.bg-cyber
  background: #040D19
  background: linear-gradient(0deg, #081526, #050E1A)

.bookmark-section
  margin-left: 1rem
  text-indent: -1rem
  break-inside: avoid
  display: flex
  flex-direction: column
  padding: 0 0 6vh
  font-size: var(--font-m)
  h2
    color: var(--color-title)
    font-family: "Courier Prime", monospace
    font-size: var(--font-l)
    padding: 0 0 1vh
  li
    margin-left: 1rem
    text-indent: -1rem
  a
    font-family: "Cutive Mono", monospace !important
    padding: 4px 0 4px 12px

.bookmark
  flex-grow: 1
  flex-shrink: 1
  flex-basis: 0%
  :hover
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    cursor: pointer
    transition: 0.5s
  a
    color: var(--color-pgh-yellow)
    padding: 8px 0  
  a:hover
      color: var(--color-retro-aqua-highlight) !important
      text-shadow: 2px 2px 4px black
      text-decoration: uppercase !important 
  ul
    :hover
      border-left: none
  li 
    font-family: "Courier Prime", monospace
  h2
    padding: 0 16px  
  .wishlist-old
    a
      color: var(--color-border)
      text-decoration: line-through
    a:hover
      color: var(--color-border) !important

.comingSoon
  color: var(--color-light) !important
  opacity: 0.2

.content-container
  margin: 12vh 0 

.content-excerpt
  font-family: "Yellowtail", monospace
  padding: 1vw 0

.content-title
  font-family: "Cutive Mono", monospace
  font-size: var(--font-l)

.fade-in
  opacity: 1
  animation-name: fadeInOpacity
  animation-iteration-count: 1
  animation-timing-function: ease-in
  animation-duration: 0.8s


.header-image-full
  img
    width: 100%

.intro
  margin: 36px 0
  p
    font-size: var(--font-m)
    line-height: 2rem
  a
    color: var(--color-light) !important
    font-size: var(--font-m) !important
    &:hover
      color: var(--color-light) !important

.intro,
.site-section
  a 
    &:hover 
      color: var(--color-retro-aqua-highlight)
      cursor: pointer
      animation: blinker 1s linear infinite

.neon
  animation: pulsate 0.11s ease-in-out infinite alternate

.neon-green
  animation: pulsate-green 0.11s ease-in-out infinite alternate

.text-green
  color: #d0ffcf !important

/*.site-category-container
  filter: grayscale(1)
  padding: 24px
  opacity: 0.29
  transition: all 1.87s ease
  -webkit-transition: all 0.87s ease
  &:hover
    cursor: pointer !important
    filter: grayscale(0) 
    opacity: 1
  &:active
    opacity: 0.8
  span, h1
    display: flex
    align-items: center*/

.site-category
  display: flex
  flex-wrap: wrap
  break-inside: avoid-column
  margin-top: 24px !important
  height: 400px
  span, h1
    color: var(--color-title)
    padding: 4px 24px 0 0
  h1
    font-size: var(--font-xl)
    letter-spacing: 0.36rem
    font-family: "Cutive Mono", monospace
    padding: 0
    &:after
      animation: blink-animation .9s infinite
      -webkit-animation: blink-animation .9s infinite
      -moz-animation: blink-animation .9s infinite
      -o-animation: blink-animation .9s infinite
      content: "_"

.site-category-image
  border-radius: 16px
  display: flex
  img
    border-radius: 16px 16px 0 0
    cursor: pointer

.site-category-excerpt
  color: var(--color-border)
  text-shadow: 1px 1px 2px black
  display: flex
  padding: 2rem
  background-color: var(--color-bg-dark)
  border-radius: 0 0 16px 16px
  font-family: "Cutive Mono", monospace
  text-indent: 1.2rem
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38)
  p
    background-color: none

.site-category-title
  h1
    color: var(--color-primary) !important

.site-category-title,
.site-page-title,
.menu-category-title
  display: flex
  flex-direction: row
  align-items: center
  color: var(--color-site-section)
  margin: 0 0 18px
  i
    animation: pulsate 0.11s ease-in-out infinite alternate !important
    color: var(--color-pgh-yellow)
    font-size: var(--font-xl)
    padding: 0 18px 0 0 

.site-section-subtitle
  color: var( --color-border)
  display: flex
  align-items: center
  i
    color: var(--color-pgh-yellow) !important
    font-size: var(--font-m)
      cursor: pointer

.site-category-list
  display: flex
  flex-direction: column
  color: var( --color-border)
  text-indent: 2.2rem
  margin: 1rem 0
  a
    padding: 4px 0
* 
  box-sizing: border-box !important

/* remove blinking effect from headers used on home page */
.site-category-title,
.site-subcategory-title
  h1:after
    display: none
    
.site-subcategory-title
  margin-bottom: 12px

.site-header
  display: flex

.site-header-image
  img
    border-radius: 12px 0 0 12px

.site-header-excerpt
  background-color: var(--color-bg-light)
  display: flex
  padding: 2rem
  border-radius: 0 16px 16px 0
  font-family: "Cutive Mono", monospace
  text-indent: 2vw
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38)
  p
    background-color: none
    color: var(--color-light)

.site-header-image-hidden
  a
    cursor: default

.site-main
  max-width: 1180px

.site
  /*  padding: 192px 0 144px*/
  padding: 192px 0 288px
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

.site-section
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: space-between !important
  cursor: default
  font-family: "Yellowtail", monospace
  font-size: var(--font-s) !important
  p
    color: var( --color-site-section)
    padding: 16px 0
    text-indent: 2.4rem
    text-shadow: 1px 1px 2px black
  h1
    font-size: var(--font-xl)
    letter-spacing: 0.5rem
    text-wrap: wrap
    word-break: break-all
    &:after
      padding: 15px
      animation: blink-animation 1s infinite
      -webkit-animation: blink-animation 1s infinite
      -moz-animation: blink-animation 1s infinite
      -o-animation: blink-animation 1s infinite
      content: "_"
  h2
    font-size: var(--font-xl) !important
  h3
    font-size: var(--font-l) !important
  span, h1
    color: var(--color-title)
  a
    color: var(--color-retro-aqua)
    font-size: var(--font-m)
  a:hover
    color: var(--color-retro-aqua-highlight)

.site-page-title
  padding: 0
  font-family: "Courier Prime", monospace 
  display: flex
  align-items: center
  justify-content: center
  color: var(--color-light)

.tooltip-container
  position: relative

  /* Essential for positioning the tooltip relative to its parent */
  display: inline-block

  /* Allows the tooltip to wrap around the text */
  cursor: pointer

  /* Provides a visual cue that the element has a tooltip */

  &::before
    content: attr(data-tooltip)

    /* Displays the text from the data-tooltip attribute */
    position: absolute
    bottom: 125%

    /* Positions the tooltip above the element */
    transform: translateX(0%)

    /* Centers the tooltip horizontally */
    background-color: #333
    color: #fff
    padding: 8px 12px
    border-radius: 4px
    font-size: 0.9em
    white-space: nowrap

    /* Prevents text from wrapping within the tooltip */
    opacity: 0
    visibility: hidden
    transition: opacity 0.3s ease, visibility 0.3s ease

    /* Smooth transition for appearance */

  &::after
    content: ''
    position: absolute
    bottom: 115%

    /* Positions the arrow below the tooltip content */
    left: 50%
    transform: translateX(-50%)
    border-width: 5px
    border-style: solid
    border-color: #333 transparent transparent transparent

    /* Creates a downward-pointing triangle */
    opacity: 0
    visibility: hidden
    transition: opacity 0.3s ease, visibility 0.3s ease

  &:hover
    &::before, &::after
      opacity: 1
      visibility: visible




@keyframes blink-animation
  to
    opacity: 0

@keyframes bg-blink-animation
  to
    background-color: transparent

@keyframes blinker 
  50% 
    opacity: 0.5

@media screen and (prefers-reduced-motion: reduce) 
  html 
    scroll-behavior: auto

.article-content-excerpt
  color: var(--color-border)

/* S SCREEN */


@media screen and (min-width: 320px) and (max-width: 780px)
  *
    text-align: center
    justify-content: center !important
    align-items: center !important
  .navbar
    padding: 0 36px
    width: 480px
  .site-main
    padding: 0 72px
  .menu-closed
    justify-content: space-between !important
  .back-to-top
    right: 1rem
    bottom: 1rem
  .footer-button
    img
      width: 36px !important
  .site-main
    max-width: 480px 
  .recipe-title
    h1
      font-size: var(--font-l) !important
      letter-spacing: 0.87rem !important
  .hide-mobile
    display: none
  .site-category
    display: flex
    justify-content: flex-start
    align-items: flex-start
  .site-category-list
    text-indent: 0
  .site-section
    p
      font-size: var(--font-xs)
      text-indent: 0
    a
      font-size: var(--font-s) !important
      text-indent: 0
    h1
      letter-spacing: 0.37rem
      font-size: var(--font-m)
    .site-page-title
      padding: 0 
      span
        margin-left: 24px
  .site-page-title
    h1
      font-size: var(--font-xl)
  .site-category-container
    filter: grayscale(0) !important
    opacity: 1
  .site-category-title,
  .site-page-title,
  .menu-category-title
    margin: 0
  .site-category-title
    h1
      font-size: var(--font-xl)
  .site-subcategory-title
    h1
      font-size: var(--font-xl)

@media screen and (min-width: 780px) and (max-width: 1180px)
  .navbar
    width: 565px
  .navbar,
  .site-main
    max-width: 565px
  .recipe-title
    h1
      font-size: var(--font-l) !important
      letter-spacing: 0.87rem !important
  .hide-mobile
    display: none
  .site-category-list
    text-indent: 0
  .site-section
    p
      font-size: var(--font-xs)
      text-indent: 0
    .site-page-title
      padding: 0 
      span
        margin-left: 24px
  .site-category-container
    filter: grayscale(0) !important
    opacity: 1

@media screen and (min-width: 1180px) and (max-width: 1440px)
  .navbar
    width: 1440px !important
  .site-main
    max-width: 1440px !important

@media (min-width: 1440px)
  .site-main
    padding: 0 72px
  .navbar
    width: 1440px !important
  .site-main
    max-width: 1440px !important
  .recipe-title
    h1
      font-size: var(--font-xl) !important
      letter-spacing: 1rem !important
  .site-page-title-home,
  .site-category-title
    h1
      letter-spacing: 0.87rem
  .site-page-title
    h1
      letter-spacing: 1.87rem
  .site-section
    h1
      font-size: var(font-xl) !important