/* LIGHT */
body
  background-color: #1F4483 !important

  .navbar-logo 
    h1
      color: var(--color-blue-light)
      &:hover
        color: var(--color-white)    
        &:after
          background-color: var(--color-white)
    
  .navbar-menu
    i
      color: var(--color-blue-light)
      &:hover
        color: var(--color-white)

  .project-section-desc p
    color: var(--color-blue-light)
  .project-header
    p
      color: var(--color-white)
  .project-links
    a
      text-shadow: var(--text-shadow-1)

/* DARK */

body.dark-mode
  background-color: #09111C !important
  color: white

  .navbar-logo 
    h1
      color: var(--color-grey-medium)
      &:hover
        color: var(--color-green)    
        &:after
          background-color: var(--color-green)
    
  .navbar-menu
    i
      color: var(--color-grey-medium)
      &:hover
        color: var(--color-green)

  .quote-text
    color: var(--color-blue-light)
  .page-header-excerpt
    background: #170509 !important !important
    p
      color: var(--color-blue-light) !important
      text-shadow: 0 1px #2A3889, -1px 0 #697BED, -1px 2px #2A3889, -2px 1px #697BED, -2px 3px #2A3889, -3px 2px #697BED, -3px 4px
  .project-links
    a
      &:hover
        color: #FF005B