/* GOOD EATS - LIGHT */

body
  background-color: var(--color-purple)

/* GOOD EATS - DARK */

body.dark-mode 
  background-color: var(--color-blue-storm)

  .recipe-recent
    color: var(--color-grey-1)

  .section-header
    h5
      color: var(--color-white)

