/* GOOD EATS - LIGHT */
body {
  background-color: var(--color-purple);
}

/* GOOD EATS - DARK */
body.dark-mode {
  background-color: var(--color-blue-storm);
}
body.dark-mode .recipe-recent {
  color: var(--color-grey-light);
}
body.dark-mode .section-header h5 {
  color: var(--color-white);
}
