/* THEME - LIGHT */
body {
  background-color: var(--color-grey-medium);
}

.effect-glitch {
  color: var(--color-purple);
}

.quote-container {
  break-inside: avoid;
}

.quote {
  background-color: var(--color-grey-medium);
  padding: 0 0 72px;
  text-align: right;
}

.quote-text {
  background-color: var(--color-grey-dark);
  border-radius: 16px 16px 0 16px;
  box-shadow: 4px 8px 10px hsla(0, 0%, 0%, 0.2);
  color: var(--color-grey-light);
  font-family: "Reddit Mono", monospace;
  font-family: "Lusitana", serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 1.8rem;
  margin-bottom: 12px;
  padding: 36px;
  text-align: left;
}

.quote-by {
  color: var(--color-grey-light);
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.quote-link {
  font-family: "Cutive Mono", "Courier Prime", monospace;
  color: var(--color-purple);
  font-size: var(--font-l);
  line-height: 1rem;
  text-align: right;
  text-shadow: var(--text-shadow-3);
}
.quote-link:hover {
  animation: blinker 0.4s linear infinite;
}

.page-header-excerpt {
  background-color: #898989;
}
.page-header-excerpt p {
  color: var(--color-grey-dark);
}

.page-header-title h1 {
  color: var(--color-white);
}

/* THEME - DARK */
body.dark-mode {
  background-color: var(--color-black);
  color: white;
}
body.dark-mode .quote {
  background-color: var(--color-black);
}
body.dark-mode .quote-by {
  color: var(--color-grey-medium);
}
body.dark-mode .page-header-excerpt {
  background-color: var(--color-grey-dark);
}
body.dark-mode .page-header-excerpt p {
  color: var(--color-grey-light);
}
body.dark-mode .quote-link a {
  color: var(--color-blue-light);
}
body.dark-mode .quote-text {
  background-color: #1D212C;
  color: var(--color-grey-light);
}
