.bio-bullets ul
  color: var(--color-grey-light)
.category-subtitle
  p
    color: var(--color-grey-light)
.intro-text a
  font-weight: 500
  text-shadow: var(--text-shadow-3)
.intro-text
  color: var(--color-grey-dark)   
.menu-category-title
  h2
    color: var(--color-white)
    text-shadow: var(--text-shadow-3)
.menu-list
  a
    color: var(--color-green)
    text-shadow: var(--text-shadow-3)
#navbar
  border: 1px solid rgba(255, 255, 255, 0.15)
  backdrop-filter: blur(187px)
  -webkit-backdrop-filter: blur(187px) 
.project-links
  text-shadow: var(--text-shadow-3)  
.project-title
  h1
    text-shadow: var(--text-shadow-3)
.subcategory-title,
.subcategory-excerpt
  color: var(--color-grey-light) 

.category-links,
.category-subtitle
  text-shadow: var(--text-shadow-3)

body.dark-mode
  #navbar
    border: 1px solid rgba(0, 0, 0, 0.2) 
  .intro-text
    color: var(--color-grey-medium)
  .category-subtitle
    p
      color: var(--color-grey-light)
  .menu-category-title
    h2
      color: var(--color-grey-medium)
  .menu-list
    a
      color: var(--color-grey-light) 
      text-shadow: var(--text-shadow-1)
      &:hover 
        color: #fff 
  .project-title
    h1
      text-shadow: inherit





#dark-mode-toggle
  cursor-style: pointer

/* LIGHT MODE STYLING */

body
  background-color: var(--color-blue-dodger)
  .bg-glass-blue
    background-color: hsl(from var(--color-red) h s 90%)  
    background: rgba(0, 225, 237, .147)
  .bg-glass-green
    background: rgba(150, 247, 109, .13)
  .bg-glass-red
    background: rgba(217, 47, 4, .08)
  .bg-glass-purple
    background: rgba(113, 100, 255, .2)
  .bg-glass-orange
    background: rgba(247, 147, 26, .127)
  .bg-glass-yellow
    background: rgba(247, 204, 21, .117)
  .bg-glass-white
    background: rgba(255, 255, 255, .147)

/* DARK MODE STYLING */

body.dark-mode
  background-color: var(--color-blue-storm)
  .bg-glass-blue
    background: rgba(0, 225, 237, .045)
  .bg-glass-green
    background: rgba(150, 247, 109, .038)
  .bg-glass-red
    background: rgba(217, 47, 4, .045)
  .bg-glass-orange
    background: rgba(247, 147, 26, .04)
  .bg-glass-purple
    background: rgba(113, 100, 255, .045)
  .bg-glass-yellow
    background: rgba(247, 204, 21, .035)
  .bg-glass-white
    background: rgba(255, 255, 255, .035)

/* DARK MODE TOGGLE */
/* SET TO DARK BY DEFAULT */

body.dark-mode
  #dark-mode-toggle
    .cs-sun
      transform: translate(-50%, -50%)
      opacity: 1
    .cs-moon
      transform: translate(-50%, -150%)
      opacity: 0
  .bio-bullets ul
    color: var(--color-grey-medium)
  .footer-text
    p
      color: var(--color-white)
  .stat
    background-color: var(--color-grey-dark) 

#dark-mode-toggle
  display: block
  position: relative
  width: 2rem
  height: 2rem
  background: transparent
  border: none
  fill: #fcf0ae !important
  img, svg
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 1.5625rem
    height: 1.5625rem
    pointer-events: none
  .cs-moon
    z-index: 2
    transition: transform 0s, opacity 0s, fill 0s
  .cs-sun
    z-index: 1
    transform: translate(-50%, 100%)
    opacity: 0
    transition: transform 0s, opacity 0s

.dark 
  /* class used to hide elements that only need to be seen when dark mode is enabled */
  display: none

body.dark-mode .light 
  display: none

body.dark-mode .dark 
  display: block !important
