/* THEME - LIGHT */
.page-header-excerpt {
  background-color: #fcf6dc;
  border: 1px solid var(--color-grey-medium);
  border-width: 1px 1px 2px 0;
}
.page-header-excerpt p {
  color: var(--color-grey-medium) !important;
}

.project-title h1 {
  color: var(--color-grey-medium) !important;
}
.project-title i {
  color: var(--color-grey-medium);
}

body {
  background-color: #fcf6dc;
}

/* THEME - DARK */
body.dark-mode {
  background-color: var(--color-grey-dark) !important;
  background-size: cover;
  height: 100%;
  color: white;
}
body.dark-mode .page-header-excerpt {
  background-color: var(--color-grey-dark);
  border: 1px solid black;
  border-width: 1px 1px 2px 0;
}
body.dark-mode .project-title i {
  color: var(--color-green);
}
