/* BOOKMARKS - LIGHT */
body
  background-color: var(--color-purple-light)
  .bookmark
    a
      color: var(--color-blue-light) 
  .page-header-excerpt
    p
      color: var(--color-white)
  .section-header
    h5
      color: var(--color-white)
/* BOOKMARKS - DARK */
body.dark-mode 
  .bookmark
    a
      color: var(--color-blue-light) 
  .bookmark-section
    h2 
      color: var(--color-green)
  .page-header-excerpt
    p
      color: var(--color-grey-light)
  .section-header
    h5
      color: var(--color-white)



