/* LIGHT */

body
  background-color: var(--color-grey-medium)
  .badge
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    height: 450px
    text-align: center
    h3
      color: #BFE4E2
      font-family: "Reddit Mono", monospace
      font-size: var(--font-l)
      margin: 24px 0 12px
    p
      color: var(--color-white)
      font-family: "Reddit Mono", monospace
      font-size: var(--font-s)
    img
      transition: 0.3s
      &:hover
        transform: scale(1.1)
  .bg-cyber
    background-color: #7CCAC2
  .effect-glitch
    color: var(--color-blue)
.img-fullsize
  figcaption
      color: var(--color-grey-dark)
  .project-section-desc p
    color: #fff
  .project-section-desc,
  .project-header,
  .project-section p
    color: var(--color-white)
  .project-links
    a
      color: var(--color-green)
      &:hover
        color: var(--color-white)
  .project-subtitle
    color: #fff
    text-shadow: var(--text-shadow-3)
  .project-title
    i 
      color: var(--color-blue-light)



/* DARK */

body.dark-mode
  background-color: var(--color-blue-storm)
  color: var(--color-white)
  .bg-cyber
    background-color: #030D19
  .img-fullsize
    figcaption
      color: var(--color-grey-medium)
  .project-section-desc
    a
      color: var(--color-blue)
  .project-section-desc,
  .project-section p
    color: var(--color-blue-light)
  .project-subtitle
    color: var(--color-grey-light)
  .project-links
    a
      color: var(--color-blue-light)