/* THEME - LIGHT */

body
  background-color: var(--color-paper)
  display: grid
  background-image: url("/img/bg-pattern.jpg")
  background-repeat: repeat
  #menu-button
    i
      color: var(--color-grey-dark)
  .page-header-title
    h1
      color: var(--color-grey-medium) 
    i 
      color: var(--color-grey-medium)
  .page-header-excerpt
    background-color: #FEFBEE
    p
      color: var(--color-grey-medium) 

/* THEME - DARK */

body.dark-mode
  background-color: var(--color-grey-dark)
  background-image: url("/img/bg-pattern-dark.jpg")
  color: white
  #menu-button
    i
      color: var(--color-grey-light)
  .page-header-title
    h1
      color: var(--color-grey-light) 
    i 
      color: var(--color-green) 
  .page-header-excerpt
    background-color: #3B3B3B
    p
      color: var(--color-grey-medium) !important


