body
  .category-subtitle
    p
      color: var(--color-grey-light)
  .category-links
    a
      text-shadow: var(--text-shadow-3)
  .contact-bullets ul
    color: var(--color-grey-light)
  .intro-text
    color: var(--color-grey-dark)
    a
      span  
        text-shadow: var(--text-shadow-3)
  .menu-list
    a
      &:hover 
        color: var(--color-white)
        text-shadow: var(--text-shadow-2)
  #navbar-theme-toggle
    .cs-moon
      z-index: 2
      transition: transform 0s, opacity 0s, fill 0s
    .cs-sun
      z-index: 1
      opacity: 0
      transition: transform 0s, opacity 0s  
  .navbar-logo a,
  .navbar-menu i
    color: #495057
    h1
      &:after
        background-color: #495057
  .project-tag
    background-color: var(--color-grey-light)
    color: var(--color-grey-dark)
    opacity: 0.5
  .project-title
    h1
      text-shadow: none
  .stat 
    background-color: #1f262c



body.dark-mode
  .category
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25)
  .category-subtitle
    p
      color: var(--color-grey-medium)
  .contact
    p
      color: var(--color-grey-light)
  .contact-bullets ul
    color: var(--color-grey-medium)
  .dark 
    display: block !important
  .intro-text
    color: var(--color-grey-light)
  .menu-list
    a
      text-shadow: var(--text-shadow-1)
      &:hover 
        color: var(--color-white)
  #navbar-theme-toggle
    .cs-sun
      transform: translate(-50%, -50%)
      opacity: 1
    .cs-moon
      transform: translate(-50%, -150%)
      opacity: 0
  .project-tag
    background-color: var(--color-grey-dark)
    color: var(--color-grey-light)
  .project-title
    h1
      text-shadow: inherit
  .stat
    background-color: #2F313D
