/* THEME - LIGHT */

body
  background-color: var(--color-purple)
  display: grid

  #menu-button
    i
      color: var(--color-grey-light)
      &:hover
        color: var(--color-white)    

  .navbar-logo 
    h1
      color: var(--color-grey-light)
      &:hover
        color: var(--color-white)    
        &:after
          background-color: var(--color-white)

  .page-header-excerpt
    background-color: #000
    text-align: right
    p
      color: var(--color-grey-light)

  .page-header-title
    h1
      color: var(--color-white)
    i 
      color: var(--color-green)
      
/* THEME - DARK */

body.dark-mode
  background-color: #1A1A1A
  display: grid

  #menu-button
    i
      color: var(--color-grey-light)
      &:hover
        color: var(--color-white)    


  .page-header
    margin: 0 !important

  .page-header-title
    h1
      color: var(--color-white) 
    i 
      color: var(--color-green)


