/* HOME PAGE - LIGHT THEME */

body
  background-color: var(--color-blue-dodger)
  .neon-blue
    animation: none

/* HOME PAGE - DARK THEME */

body.dark-mode 
  background-color: #101010
  .neon-blue
    animation: pulsate-blue 0.11s ease-in-out infinite alternate
