/* LIGHT */
body {
  background-color: var(--color-turqoise-medium);
}
body .badge h3 {
  color: #BFE4E2;
}
body .badge p {
  color: var(--color-white);
}
body .bg-cyber {
  background-color: #7CCAC2;
}
body .img-fullsize figcaption {
  color: var(--color-grey-dark);
}
body .project-desc p {
  color: #fff;
}
body .project-desc,
body .project-section p {
  color: var(--color-white);
}
body .project-header {
  color: var(--color-white);
}
body .project-links a {
  color: #5EEAD4;
}
body .project-links a:hover {
  color: var(--color-white);
}
body .project-subtitle {
  color: #fff;
  text-shadow: var(--text-shadow-3);
}
body .project-title i {
  color: #5EEAD4;
}

/* DARK */
body.dark-mode {
  background-color: var(--color-cyber-bg) !important;
  color: var(--color-white);
}
body.dark-mode .bg-cyber {
  background-color: #030D19;
}
body.dark-mode .img-fullsize figcaption {
  color: #7CCAC2;
}
body.dark-mode .project-desc a {
  color: #5EEAD4;
}
body.dark-mode .project-desc,
body.dark-mode .project-section p {
  color: #BFE4E2;
}
body.dark-mode .project-section-title h3 {
  color: var(--color-white);
}
body.dark-mode .project-links a {
  color: #41A493;
}
body.dark-mode .project-links a:hover {
  color: #5EEAD4;
}
