/* THEME - LIGHT */
body {
  background-color: #fcf6dc;
}
body #menu-button i {
  color: var(--color-grey-dark);
}
body .page-header-title h1 {
  color: var(--color-grey-medium);
}
body .page-header-title i {
  color: var(--color-grey-medium);
}
body .page-header-excerpt {
  background-color: #FEFBEE;
}
body .page-header-excerpt p {
  color: var(--color-grey-medium);
}

/* THEME - DARK */
body.dark-mode {
  background-color: var(--color-grey-dark);
  background-size: cover;
  height: 100%;
  color: white;
}
body.dark-mode #menu-button i {
  color: var(--color-grey-light);
}
body.dark-mode .page-header-title h1 {
  color: var(--color-grey-light);
}
body.dark-mode .page-header-title i {
  color: var(--color-green);
}
body.dark-mode .page-header-excerpt {
  background-color: #3B3B3B;
}
body.dark-mode .page-header-excerpt p {
  color: var(--color-grey-medium) !important;
}
