/* LIGHT */

body
  background-color: var(--color-turqoise-medium)

  .badge
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    height: 450px
    text-align: center
    h3
      color: #BFE4E2
      font-family: "Reddit Mono", monospace
      font-size: var(--font-l)
      margin: 24px 0 12px
    p
      color: var(--color-white)
      font-family: "Reddit Mono", monospace
      font-size: var(--font-s)
    img
      transition: 0.3s
      &:hover
        transform: scale(1.1)

  .img-gallery
    margin: 48px 0 0

  .img-fullsize
    figcaption
      color: var(--color-grey-dark)

  .navbar-logo
    h1
      color: #ececec
      &:after
        background-color: #ececec

  .page-section
    padding: 24px 0

  .project-links
    a
      color: #fff
      text-shadow: var(--text-shadow-3)

  .project-overview p
    color: var(--color-grey-medium)

  .project-section
    background-color: #AEF4E9

  .project-section p
    color: var(--color-grey-medium)

  .project-section-title
    h3
      color: var(--color-grey-medium)
      text-shadow: var(--text-shadow-3)

  .project-subtitle
    color: var(--color-grey-medium)

  .project-tag
    background-color: #AEF4E9
    color: var(--color-grey-medium)

  .project-title
    h1
      text-shadow: var(--text-shadow-1)
    i
      color: var(--color-white)



/* DARK */

body.dark-mode
  background-color: #040D19

  .img-fullsize
    figcaption
      color: var(--color-grey-medium)

  .project-section
    background-color: #071426

  .project-overview p
    color: var(--color-grey-light)

  .project-links
    a
      color: var(--color-turqoise-medium)
      &:hover
        color: #1AFFDB

  .project-section
    background-color: var(--color-cyber-bg) !important

  .project-section-desc
    p
      color: var(--color-grey-medium)
    a
      color: var(--color-grey-light)

  .project-subtitle h2
    color: #BFE4E2

  .project-section-title
    h3
      color: var(--color-white)

  .project-subtitle
    color: var(--color-grey-light)

  .project-title
    i
      color: var(--color-turqoise-medium)