/* HOME PAGE - LIGHT THEME */

.category
  margin: 48px 0

body
  background-color: var(--color-blue-dodger)

  .category-subtitle
    p
      color: var(--color-grey-light)
      text-shadow: var(--text-shadow-1)

  .contact p,
  .contact ul
    color: var(--color-white)

  .footer-text
    h1
      color: var(--color-white)

  .navbar-logo 
    h1
      color: var(--color-blue-light)
      &:hover
        color: #ececec  
        &:after
          background-color: #ececec
      &:after
        background-color: #ececec
    
  .navbar-menu
    i
      color: var(--color-blue-light)
      &:hover
        color: var(--color-white)

  .neon-blue
    animation: none

  .stats
    h1
      color: var(--color-green)
      font-weight: 700

/* HOME PAGE - DARK THEME */

body.dark-mode 
  background-color: #101010

  .contact p,
  .contact ul
    color: var(--color-grey-light)

  .footer-text
    h1
      color: var(--color-grey-light)
    p
      color: var(--color-grey-medium)

  .navbar-logo 
    h1
      color: var(--color-grey-medium)
      &:hover
        color: var(--color-green)    
        &:after
          background-color: var(--color-green)
    
  .navbar-menu
    i
      color: var(--color-grey-medium)
      &:hover
        color: var(--color-green)

  .neon-blue
    animation: pulsate-blue 0.11s ease-in-out infinite alternate

  .stats
    h1
      color: var(--color-green)
