/* BOOKMARKS - LIGHT */
body
   background-color: var(--color-purple-light)
   color: blue

/* BOOKMARKS - DARK */
body.dark-mode 
  background-color: var(--color-purple-light)
  color: white

/*.page-title
  color: red !important*/



