/* THEME - LIGHT */
#menu-button
  i
    color: var(--color-grey-dark)
body
  background-color: var(--color-grey-light) 
.page-header-excerpt
  background-color: var(--color-white) 
  border: 1px solid var(--color-grey-light)
  border-width: 1px 1px 2px 0
  p
    color: var(--color-grey-medium) !important
.project-title
  h1
    color: var(--color-grey-medium) !important
  i 
    color: var(--color-grey-medium) 
.gallery-img
  border: 1px solid var(--color-grey-light)
.project-title
  i 
    color: var(--color-black) 



/* THEME - DARK */

body.dark-mode
  #menu-button
    i
      color: var(--color-white)
  background-color: #242536
  height: 100%
  color: white
  .page-header-excerpt
    background-color: #2b2d42
    border: 1px solid black
    border-width: 1px 1px 2px 0
    p
      color: var(--color-grey-light) !important
  .project-title
    i 
      color: var(--color-white) 
