.m-icon i {
  color: var(--color-grey-dark);
}

.intro-text,
.project-title {
  color: var(--color-grey-dark);
}

.category-subtitle p {
  color: var(--color-grey-light);
}

.menu-list a {
  color: var(--color-black);
}

body.dark-mode .intro-text,
body.dark-mode .project-title {
  color: var(--color-grey-medium);
}
body.dark-mode .category-subtitle p {
  color: var(--color-grey-light);
}
body.dark-mode .menu-list a {
  color: var(--color-grey-medium);
}

body.dark-mode .m-icon i {
  color: var(--color-grey-light);
}
body.dark-mode .m-icon i:hover {
  color: var(--color-white);
}
body.dark-mode .m-icon i:active {
  color: var(--color-grey-light);
}

#dark-mode-toggle {
  cursor-style: pointer;
}

/* LIGHT MODE STYLING */
.stat {
  background-color: var(--color-blue-dodger);
  border: 1px dotted var(--color-blue-light);
  box-shadow: var(--box-shadow-1);
}
.stat h2 {
  border-bottom: 1px solid var(--color-blue-light);
}

body {
  background-color: var(--color-blue-dodger);
}
body .bg-glass-blue {
  background: rgba(0, 225, 237, 0.147);
}
body .bg-glass-green {
  background: rgba(150, 247, 109, 0.13);
}
body .bg-glass-red {
  background: rgba(217, 47, 4, 0.08);
}
body .bg-glass-purple {
  background: rgba(113, 100, 255, 0.2);
}
body .bg-glass-orange {
  background: rgba(247, 147, 26, 0.127);
}
body .bg-glass-yellow {
  background: rgba(247, 204, 21, 0.117);
}
body .bg-glass-white {
  background: rgba(255, 255, 255, 0.147);
}

/* DARK MODE STYLING */
body.dark-mode {
  background-color: var(--color-blue-storm) !important;
}
body.dark-mode .bg-glass-blue {
  background: rgba(0, 225, 237, 0.045);
}
body.dark-mode .bg-glass-green {
  background: rgba(150, 247, 109, 0.038);
}
body.dark-mode .bg-glass-red {
  background: rgba(217, 47, 4, 0.045);
}
body.dark-mode .bg-glass-orange {
  background: rgba(247, 147, 26, 0.04);
}
body.dark-mode .bg-glass-purple {
  background: rgba(113, 100, 255, 0.045);
}
body.dark-mode .bg-glass-yellow {
  background: rgba(247, 204, 21, 0.035);
}
body.dark-mode .bg-glass-white {
  background: rgba(255, 255, 255, 0.035);
}

/* DARK MODE TOGGLE */
/* SET TO DARK BY DEFAULT */
body.dark-mode #dark-mode-toggle .cs-sun {
  transform: translate(-50%, -50%);
  opacity: 1;
}
body.dark-mode #dark-mode-toggle .cs-moon {
  transform: translate(-50%, -150%);
  opacity: 0;
}
body.dark-mode .stat {
  background-color: var(--color-grey-dark);
}

#dark-mode-toggle {
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  fill: #fcf0ae !important;
}
#dark-mode-toggle img, #dark-mode-toggle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5625rem;
  height: 1.5625rem;
  pointer-events: none;
}
#dark-mode-toggle .cs-moon {
  z-index: 2;
  transition: transform 0s, opacity 0s, fill 0s;
}
#dark-mode-toggle .cs-sun {
  z-index: 1;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: transform 0s, opacity 0s;
}

.dark {
  /* class used to hide elements that only need to be seen when dark mode is enabled */
  display: none;
}

body.dark-mode .light {
  display: none;
}

body.dark-mode .dark {
  display: block !important;
}
