/* CYBERGRAD - LIGHT */
body
   background-color: var(--color-turqoise-medium)

.project-list a
  color: white
  text-shadow: 2px 2px 8px rgba(0,0,0,0.21)


/* CYBERGRAD - DARK */
body.dark-mode 
  background-color: var(--color-cyber-bg) !important
  color: var(--color-white)

/*.page-title
  color: red !important*/

body.dark-mode .project-list a
  text-shadow: none
  color: var(--color-blue)