#dark-mode-toggle
  cursor-style: pointer

/* LIGHT MODE STYLING */

body
   background-color: #D0D0D0 !important
   color: black

/* DARK MODE STYLING */

body.dark-mode
  background-color: var(--color-blue-storm) !important

/* DARK MODE TOGGLE */
/* SET TO DARK BY DEFAULT */

body.dark-mode
  #dark-mode-toggle
    .cs-sun
      transform: translate(-50%, -50%)
      opacity: 1
    .cs-moon
      transform: translate(-50%, -150%)
      opacity: 0

#dark-mode-toggle
  display: block
  position: relative
  width: 2rem
  height: 2rem
  background: transparent
  border: none
  img, svg
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 1.5625rem
    height: 1.5625rem
    pointer-events: none
  .cs-moon
    z-index: 2
    transition: transform 0s, opacity 0s, fill 0s
    fill: #000
  .cs-sun
    z-index: 1
    transform: translate(-50%, 100%)
    opacity: 0
    transition: transform 0s, opacity 0s

.dark 
  /* class used to hide elements that only need to be seen when dark mode is enabled */
  display: none

body.dark-mode p,
body.dark-mode li,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode .cs-title,
body.dark-mode .cs-text,
body.dark-mode .cs-li 
  color: #D0D0D0

body.dark-mode .light 
  display: none

body.dark-mode .dark 
  display: block !important

@media only screen and (min-width: 64rem)
  #dark-mode-toggle
    .cs-moon
      fill: pink