#dark-mode-toggle {
  cursor-style: pointer;
}

/* LIGHT MODE STYLING */
body {
  background-color: #D0C7A0 !important;
}

/* DARK MODE STYLING */
body.dark-mode {
  background-color: var(--color-blue-storm) !important;
}

/* DARK MODE TOGGLE */
/* SET TO DARK BY DEFAULT */
body.dark-mode #dark-mode-toggle .cs-sun {
  transform: translate(-50%, -50%);
  opacity: 1;
}
body.dark-mode #dark-mode-toggle .cs-moon {
  transform: translate(-50%, -150%);
  opacity: 0;
}

#dark-mode-toggle {
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  fill: #fcf0ae !important;
}
#dark-mode-toggle img, #dark-mode-toggle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5625rem;
  height: 1.5625rem;
  pointer-events: none;
}
#dark-mode-toggle .cs-moon {
  z-index: 2;
  transition: transform 0s, opacity 0s, fill 0s;
}
#dark-mode-toggle .cs-sun {
  z-index: 1;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: transform 0s, opacity 0s;
}

.dark {
  /* class used to hide elements that only need to be seen when dark mode is enabled */
  display: none;
}

body.dark-mode p,
body.dark-mode .cs-title,
body.dark-mode .cs-text,
body.dark-mode .cs-li {
  color: var(--color-grey-1);
}

body.dark-mode .light {
  display: none;
}

body.dark-mode .dark {
  display: block !important;
}
