/* THEME - LIGHT */
body {
  background-color: var(--color-grey-light);
  display: grid;
}
body #menu-button i {
  color: var(--color-grey-dark);
}
body .page-header {
  margin: 0 !important;
}
body .page-header-excerpt {
  background-color: #000;
  text-align: right;
}
body .page-header-excerpt p {
  color: var(--color-grey-medium) !important;
}
body .page-header-title h1 {
  color: var(--color-grey-dark);
}
body .page-header-title i {
  color: var(--color-grey-medium);
}
body .page-section img {
  filter: grayscale(100%);
}
body .page-section img:hover {
  filter: grayscale(0%);
}

/* THEME - DARK */
body.dark-mode {
  display: grid;
}
body.dark-mode #menu-button i {
  color: var(--color-white);
}
body.dark-mode .page-header {
  margin: 0 !important;
}
body.dark-mode .page-header-title h1 {
  color: var(--color-white);
}
body.dark-mode .page-header-title i {
  color: var(--color-green);
}
