/* LIGHT */
body
  background-color: var(--color-turqoise-medium)
  .badge 
    h3
      color: #BFE4E2
    p
      color: var(--color-white)
  .bg-cyber
    background-color: #7CCAC2
  .img-fullsize
    figcaption
      color: var(--color-grey-dark)
  .project-desc p
    color: #fff
  .project-desc,
  .project-section p
    color: var(--color-white)
  .project-header
    color: var(--color-white)
  .project-links
    a
      color: #5EEAD4
  .project-subtitle
    color: #5EEAD4
    text-shadow: var(--text-shadow-3)
  .project-title
    i 
      color: #5EEAD4

/* DARK */
body.dark-mode
  background-color: var(--color-cyber-bg) !important
  color: var(--color-white)
  .bg-cyber
    background-color: #030D19
  .img-fullsize
    figcaption
      color: #7CCAC2
  .project-desc
    a
      color: #5EEAD4
  .project-desc,
  .project-section p
    color: var(--color-white)
  .project-section-title h3
    color: #BFE4E2
  .project-links
    a
      color: #41A493
      &:hover
        color: #5EEAD4