/* BOOKMARKS - LIGHT */

body
  background-color: var(--color-remedy-green-light)
  .page-header-excerpt
    background-color: #6B7A60
    p
      color: var(--color-remedy-green-dark)
  .page-header-title
    h1
      color: var(--color-white)
    i
      color: var(--color-remedy-green-dark)
  .section-header
    h5
      color: var(--color-white)
  .remedy
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 0%
    padding: 0 0 36px
    p
      color: var(--color-remedy-green-dark)
    h2
      font-size: var(--font-l)
      text-transform: uppercase
    a:hover
      color: #fff
      animation: blinker 1s linear infinite

  .remedy-glossary
    display: flex
    flex-wrap: wrap
    margin: 12px 0 72px
    a
      border: 3px solid var(--color-yellow)
      border-radius: 8px 0 8px 0
      color: var(--color-yellow)
      font-family: "Cutive Mono", monospace
      font-size: var(--font-l)
      padding: 12px
      margin: 4px
      &:hover
        animation: blinker 1s linear infinite
        background: var(--color-yellow)
        color: #5E6A54

  .remedy-list
    color: var(--color-remedy-green-dark)
    padding: 24px 36px
    li
      padding: 4px 0

  .remedy-section
    break-inside: avoid
    display: flex
    font-family: "Courier Prime", monospace
    flex-direction: column
    h1
      color: var(--color-yellow)
      font-size: var(--font-l)
      font-weight: 900
      padding: 36px 0 
      text-decoration: underline
      text-shadow: 2px 4px 3px rgba(0,0,0,0.29)
    li
      font-size: var(--font-m)
      text-shadow: 2px 4px 3px rgba(0,0,0,0.29)
    a
      padding: 4px 0 4px 12px

  .bookmark-old
    a
      color: var(--color-grey-light)
      text-decoration: line-through
      &:hover
        animation: blinker 1s linear infinite
        opacity: 0.5



/* BOOKMARKS - DARK */

body.dark-mode 
  background-color: var(--color-remedy-green-dark)
  .page-header-excerpt
    background: #343A2F
    p
      color: var(--color-remedy-green-light)
  .page-header-title
    i
      color: var(--color-remedy-green-light)
  .remedy
    h2
      color: var(--color-remedy-green-light)
    p
      color: var(--color-remedy-green-light)
  .remedy-list
    color: var(--color-grey-light)


