/* BOOKMARKS - LIGHT */
body {
  background-color: var(--color-remedy-green-light);
}
body .page-header-excerpt {
  background-color: #6B7A60;
}
body .page-header-excerpt p {
  color: var(--color-remedy-green-dark);
}
body .page-header-title h1 {
  color: var(--color-white);
}
body .section-header h5 {
  color: var(--color-white);
}
body .remedy {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 0 0 36px;
}
body .remedy p {
  color: var(--color-remedy-green-dark);
}
body .remedy h2 {
  font-size: var(--font-l);
  text-transform: uppercase;
}
body .remedy a:hover {
  color: #fff;
  animation: blinker 1s linear infinite;
}
body .remedy-glossary {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0 72px;
}
body .remedy-glossary a {
  border: 3px solid var(--color-yellow);
  border-radius: 8px 0 8px 0;
  color: var(--color-yellow);
  font-family: "Cutive Mono", monospace;
  font-size: var(--font-l);
  padding: 12px;
  margin: 4px;
}
body .remedy-glossary a:hover {
  animation: blinker 1s linear infinite;
  background: var(--color-yellow);
  color: #5E6A54;
}
body .remedy-list {
  color: var(--color-remedy-green-dark);
  padding: 24px 36px;
}
body .remedy-list li {
  padding: 4px 0;
}
body .remedy-section {
  break-inside: avoid;
  display: flex;
  font-family: "Courier Prime", monospace;
  flex-direction: column;
}
body .remedy-section h1 {
  color: var(--color-yellow);
  font-size: var(--font-l);
  font-weight: 900;
  padding: 36px 0;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.29);
}
body .remedy-section li {
  font-size: var(--font-m);
  margin-left: 1rem;
  text-indent: -1rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.29);
}
body .remedy-section a {
  padding: 4px 0 4px 12px;
}
body .bookmark-old a {
  color: var(--color-grey-light);
  text-decoration: line-through;
}
body .bookmark-old a:hover {
  animation: blinker 1s linear infinite;
  opacity: 0.5;
}

/* BOOKMARKS - DARK */
body.dark-mode {
  background-color: var(--color-remedy-green-dark);
}
body.dark-mode .page-header-excerpt {
  background: #343A2F;
}
body.dark-mode .page-header-excerpt p {
  color: var(--color-remedy-green-light);
}
body.dark-mode .remedy h2 {
  color: var(--color-remedy-green-dark);
}
body.dark-mode .remedy p {
  color: var(--color-remedy-green-light);
}
body.dark-mode .remedy-list {
  color: var(--color-grey-light);
}
