/* THEME - LIGHT */

body
  background-color: var(--color-green)
  height: 100vh
  background-size: cover
  background-position: center
  background-attachment: fixed
  font-size: var(--font-size-normal)
  background-image: url('img/bg-money.jpg')

.deal-container
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-clip: padding-box
  background: #A3E2C3
  border: 4px dashed var(--color-grey-medium) !important
  break-inside: avoid
  border-radius: 24px
  min-height: 400px
  margin: 48px 0 0
  opacity: 0.8
  padding: 36px
  p
    font-size: var(--font-m)
    margin: 8px 0
  &:hover
    border: 4px dashed #fff !important
    cursor: pointer !important
    opacity: 1.0
  span
    color: var(--color-grey-light)

.deal-container-ad
  background-color: var(--color-green)
  background-color: red
  color: white
  border: 4px dashed #fff !important
  cursor: pointer !important
  opacity: 1.0
  p
    text-shadow: var(--text-shadow-3)
  .deal-title
    color: white

.deal-title
  color: var(--color-grey-dark)
  font-size: var(--font-xxxxl) !important
  font-weight: 900
  font-family: "Cutive Mono", monospace
  font-family: 'Literata', serif
  font-family: 'RX100', sans-serif
  font-family: 'Satoshi', sans-serif
  text-transform: uppercase
  text-shadow: var(--text-shadow-4)

.deal-place
  font-size: var(--font-xxl) !important

.deal-price
  font-size: var(--font-xxl) !important

.deal-desc
  font-style: italic

.header-simple-title
  color: var(--color-grey-medium)
  display: flex
  flex-direction: column
  padding: 0 24px
  h1
    font-size: var(--font-8xl)
    color: #fff !important
    font-family: 'Clash Display', sans-serif
    font-family: 'Comico', cursive
    font-family: 'Telma', cursive
    font-size: var(--font-9xl)
    letter-spacing: 0
    text-shadow: var(--text-shadow-4)
    text-transform: lowercase
  img
    padding: 8px 0
  span
    color: #E79090
    font-size: var(--font-9xl)
    padding: 12px 0

.header-simple-excerpt
  padding: 0
  p
    color: var(--color-grey-medium)
    font-size: var(--font-xl)
    font-family: 'Playwrite NZ', cursive
    text-shadow: var(--text-shadow-3)

.navbar-menu
  i
    color: var(--color-grey-medium)
    &:hover
      color: var(--color-grey-dark)

.site-main
  margin: 48px 0


/* BOOKMARKS - DARK */

body.dark-mode 
  background-color: var(--color-blue-storm)
  .deal-container
    border: 4px dashed var(--color-green) 

