/* THEME - LIGHT */
body {
  background-color: var(--color-green);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: var(--font-size-normal);
  background-image: url("img/bg-money.jpg");
}

.deal-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: padding-box;
  background-color: var(--color-blue-storm);
  border: 4px dashed var(--color-grey-medium) !important;
  break-inside: avoid;
  border-radius: 24px;
  min-height: 400px;
  margin: 48px 0 0;
  opacity: 0.8;
  padding: 36px;
}
.deal-container p {
  color: white;
  font-size: var(--font-m);
  margin: 8px 0;
}
.deal-container:hover {
  border: 4px dashed #A3E2C3 !important;
  cursor: pointer !important;
  opacity: 1;
}
.deal-container:hover p {
  color: #A3E2C3;
}
.deal-container span {
  color: var(--color-grey-light);
}

.deal-container-ad {
  background-color: red;
  background-color: var(--color-green);
  break-inside: avoid;
  border-radius: 24px;
  min-height: 400px;
  margin: 48px 0 0;
  opacity: 0.8;
  padding: 36px;
  border: 4px dashed #343434 !important;
  cursor: pointer !important;
  opacity: 1;
}
.deal-container-ad p {
  color: #000 !important;
  text-shadow: var(--text-shadow-3);
}
.deal-container-ad .deal-title {
  color: white;
}

.deal-title {
  color: var(--color-grey-dark);
  font-size: var(--font-xxxxl) !important;
  font-weight: 900;
  font-family: "Cutive Mono", monospace;
  font-family: "Literata", serif;
  font-family: "RX100", sans-serif;
  font-family: "Satoshi", sans-serif;
  text-transform: uppercase;
  text-shadow: var(--text-shadow-4);
}

.deal-place {
  font-size: var(--font-xxl) !important;
}

.deal-price {
  font-size: var(--font-xxl) !important;
}

.deal-desc {
  font-style: italic;
}

.header-simple-title {
  color: var(--color-grey-medium);
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}
.header-simple-title h1 {
  font-size: var(--font-8xl);
  color: #fff !important;
  font-family: "Cutive Mono", monospace;
  font-family: "RX100", sans-serif;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Playwrite NZ", cursive;
  font-size: var(--font-9xl);
  letter-spacing: 0;
  text-shadow: var(--text-shadow-4);
  text-transform: lowercase;
}
.header-simple-title img {
  padding: 8px 0;
}
.header-simple-title span {
  color: #E79090;
  font-size: var(--font-9xl);
  padding: 12px 0;
}

.header-simple-excerpt {
  padding: 0;
}
.header-simple-excerpt p {
  color: var(--color-grey-medium);
  font-size: var(--font-xl);
  font-family: "Playwrite NZ", cursive;
  text-shadow: var(--text-shadow-3);
}

.navbar-menu i {
  color: var(--color-grey-medium);
}
.navbar-menu i:hover {
  color: var(--color-grey-dark);
}

.site-main {
  margin: 48px 0;
}

/* BOOKMARKS - DARK */
body.dark-mode {
  background-color: var(--color-blue-storm);
  background-color: #13161F;
}
body.dark-mode .deal-container {
  border: 4px dashed var(--color-green);
}
