/* BOOKMARKS - LIGHT */

.site-main
  margin: 48px 0 0

body
  background-color: var(--color-purple)
  .bookmark
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 0%
    padding: 12px 72px 12px 0 
    a
      color: var(--color-blue-light) 
    a:hover
      color: #fff
      animation: blinker 1s linear infinite
    li 
      font-family: "Courier Prime", monospace
    h2
      padding: 0 16px

  .bookmark-glossary
    cursor: pointer
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 12px 24px 0
    padding: 0 0 96px
    a
      background: var(--color-green)      
      border: 3px solid var(--color-green)
      color: var(--color-purple) !important
      border-radius: 8px 8px 8px 0
      cursor: pointer
      font-weight: 500
      padding: 12px
      margin: 4px
      font-family: "Courier Prime", monospace
      box-shadow: var(--box-shadow-3)
      &:hover
        animation: blinker 1s linear infinite
        background: var(--color-purple)
        border: 3px solid rgb(109 255 176 / 1)
        color: var(--color-green) !important
        font-weight: 900

  .bookmark-old
    a
      text-decoration: line-through
      &:hover
        animation: blinker 1s linear infinite
        opacity: 0.5

  .bookmark-section
    break-inside: avoid
    display: flex
    flex-direction: column
    padding: 24px 0
    h2
      color: var(--color-green)
      font-family: "Courier Prime", monospace
      font-weight: 900
      text-shadow: 2px 4px 3px rgba(0,0,0,0.29)
    li
      font-size: var(--font-l)
      line-height: 1.2rem
      padding: 6px 12px
      text-shadow: 2px 4px 3px rgba(0,0,0,0.29)

  .header-simple-excerpt
    color: var(--color-grey-light)

  .header-simple-title
    color: var(--color-white)
    i
      color: var(--color-green)
    .neon-blue
      animation: none

  .navbar-logo 
    h1
      color: var(--color-grey-light)
      &:hover
        color: var(--color-green)    
        &:after
          background-color: var(--color-green)

  .page-header-excerpt
    background-color: #7385F6
    p
      color: var(--color-white)
  .page-header-title
    h1
      color: var(--color-white)
  .section-header
    h5
      color: var(--color-white)



/* BOOKMARKS - DARK */

body.dark-mode
  background-color: var(--color-blue-storm)

  .bookmark
    a
      color: var(--color-purple)

  .bookmark-glossary
    display: flex
    flex-wrap: wrap
    a
      background: var(--color-purple)
      border: 3px solid var(--color-purple)
      color: var(--color-green) !important
      &:hover
        animation: blinker 1s linear infinite
        background: var(--color-green)      
        border: 3px solid var(--color-green)
        color: var(--color-purple) !important
        font-weight: 900

  .page-header-excerpt
    background-color: #191D26
    p
      color: var(--color-grey-light)

  .page-header-title
    h1
      color: var(--color-white)
      
  .section-header
    h5
      color: var(--color-white)

  .header-simple-title
    i
      color: var(--color-green)
    .neon-blue
      animation: pulsate-blue 0.11s ease-in-out infinite alternate



