@charset "UTF-8";
/* HOME PAGE - LIGHT THEME */
.category {
  margin: 48px 0;
}

body {
  background-color: var(--color-blue-dodger);
}
body .border-blue,
body .border-green,
body .border-red,
body .border-orange,
body .border-yellow,
body .border-purple,
body .border-white,
body .border-grey,
body .border-black {
  border: none;
}
body .category-links a {
  text-shadow: var(--text-shadow-3);
}
body .category-subtitle {
  margin: 0 0 8px;
}
body .category-subtitle p {
  color: var(--color-blue-light);
  text-shadow: var(--text-shadow-1);
}
body .contact p,
body .contact ul {
  color: var(--color-white);
}
body .footer-text-thanks {
  padding: 48px;
  text-align: center;
}
body .footer-text-thanks h1 {
  color: var(--color-grey-1);
  font-family: "Array", sans-serif;
  font-size: var(--font-5xl);
  line-height: 4.4rem;
}
body .footer-text-thanks h2 {
  color: var(--color-grey-2);
  font-family: "Yellowtail", monospace;
  font-size: var(--font-s);
}
body .intro-text {
  color: var(--color-blue-light);
}
body .intro-text a span {
  text-shadow: var(--text-shadow-3);
}
body .menu-category-title i {
  color: #ececec;
}
body .menu-list a {
  text-shadow: var(--text-shadow-3);
}
body .menu-list a:hover {
  color: var(--color-white);
}
body .navbar-logo h1 {
  color: var(--color-blue-light);
}
body .navbar-logo h1:hover {
  color: #ececec;
}
body .navbar-logo h1:hover:after {
  background-color: #ececec;
}
body .navbar-logo h1:after {
  background-color: #ececec;
}
body .navbar-menu i {
  color: var(--color-blue-light);
}
body .navbar-menu i:hover {
  color: var(--color-white);
}
body .neon-blue {
  animation: none;
}
body .project-tag {
  background-color: var(--color-grey-1);
  color: var(--color-grey-5);
  opacity: 0.5;
}
body .project-title h1 {
  text-shadow: none;
}
body .subcategory-excerpt {
  color: var(--color-white);
}
body .stats h1 {
  color: var(--color-green);
  font-weight: 700;
}
body .stat {
  background-color: #6D9DE0;
  flex: 1;
  border-radius: 6px;
  box-shadow: var(--box-shadow-1);
  color: #fff;
  margin: 15px 8px;
  padding: 48px 32px;
}
body .stat:hover {
  transform: translateY(-12px);
  transition: transform 0.1s ease-out, background-color 0.25s ease, border-color 0.25s ease, box-shadow 0.25s ease;
}
body .stat .numbers {
  font-family: "Geostar Fill", serif;
}
body .stat .numbers span {
  color: #fff;
  font-size: var(--font-xxxxl);
  margin-right: 12px;
  opacity: 0.4;
}
body .stat a {
  color: #fff;
  background: #000;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bolda;
  letter-spacing: 0.05em;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
body .stat a:hover {
  background-color: var(--color-yellow);
  color: var(--color-black);
}
body .stat h2 {
  margin-top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: var(--font-9xl);
}
body .stat h3 {
  font-weight: 900;
  font-size: var(--font-xl);
  margin: 12px 0 36px;
}
body .stat p {
  font-family: "Doto", serif;
  margin: 12px 0 36px;
}
body .stat ul {
  margin: 0 0 35px;
  padding-left: 16px;
  list-style: none;
  line-height: 1.8;
  color: #b5b5b5;
  font-family: "Reddit Mono", monospace;
}
body .stat li::before {
  content: "•";
  color: #000;
  display: inline-block;
  width: 20px;
  margin-left: -15px;
  position: relative;
  top: 4px;
  font-size: 26px;
  line-height: 0;
}
body .stats {
  flex: 1;
  padding: 1rem;
  margin: 192px 0 0 !important;
}
body .stats h1 {
  display: flex;
  font-family: "Doto", serif;
  justify-content: center;
  font-size: var(--font-7xl);
  margin: 24px 0;
  text-transform: uppercase;
  word-break: normal;
}
body .stats-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 960px;
  margin: auto;
}
body .stats-container h1 {
  text-align: center;
}

/* HOME PAGE - DARK THEME */
body.dark-mode {
  background-color: #101010;
}
body.dark-mode .category {
  box-shadow: 8px 16px 16px hsla(0, 0%, 0%, 0.25);
}
body.dark-mode .category-subtitle p {
  color: var(--color-grey-3);
}
body.dark-mode .contact p,
body.dark-mode .contact ul {
  color: var(--color-grey-1);
}
body.dark-mode .contact-bullets ul {
  color: var(--color-grey-3);
}
body.dark-mode .dark {
  display: block !important;
}
body.dark-mode .footer-text-thanks {
  padding: 48px;
  text-align: center;
}
body.dark-mode .footer-text-thanks h1 {
  color: var(--color-grey-4);
}
body.dark-mode .footer-text-thanks h2 {
  color: var(--color-grey-5);
}
body.dark-mode .intro-text {
  color: var(--color-grey-1);
}
body.dark-mode .menu-list a {
  text-shadow: var(--text-shadow-1);
}
body.dark-mode .menu-list a:hover {
  color: var(--color-white);
}
body.dark-mode .navbar-logo h1 {
  color: var(--color-grey-3);
}
body.dark-mode .navbar-logo h1:hover {
  color: var(--color-white);
}
body.dark-mode .navbar-logo h1:hover:after {
  background-color: var(--color-white);
}
body.dark-mode .navbar-menu i {
  color: var(--color-grey-3);
}
body.dark-mode .navbar-menu i:hover {
  color: var(--color-white);
}
body.dark-mode .neon-blue {
  animation: pulsate-blue 0.11s ease-in-out infinite alternate;
}
body.dark-mode .project-title h1 {
  text-shadow: inherit;
}
body.dark-mode .stat {
  background-color: #2F313D;
}
body.dark-mode .stats h1 {
  color: var(--color-green);
}

@media screen and (min-width: 100px) and (max-width: 755px) {
  .stats-container {
    flex-direction: column !important;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1279px) {
  .stats-container {
    flex-direction: column !important;
  }
}
