/* THEME - LIGHT */
body {
  background-color: #eeeeed;
  display: grid;
}
body #menu-button i {
  color: var(--color-grey-3);
}
body #menu-button i:hover {
  color: var(--color-grey-5);
}
body .navbar-logo h1 {
  color: var(--color-grey-1);
}
body .navbar-logo h1:hover {
  color: var(--color-grey-3);
}
body .navbar-logo h1:hover:after {
  background-color: var(--color-grey-3);
}
body .page-header {
  margin: 0 !important;
}
body .page-header-excerpt {
  background-color: #000;
  text-align: right;
}
body .page-header-excerpt p {
  color: var(--color-grey-3) !important;
}
body .page-header-title h1 {
  color: var(--color-grey-5);
}
body .page-header-title i {
  color: var(--color-grey-1);
}

/* THEME - DARK */
body.dark-mode {
  background-color: #111112;
  display: grid;
}
body.dark-mode #menu-button i {
  color: var(--color-grey-1);
}
body.dark-mode #menu-button i:hover {
  color: var(--color-white);
}
body.dark-mode .navbar-logo h1 {
  color: var(--color-grey-1);
}
body.dark-mode .navbar-logo h1:hover {
  color: var(--color-white);
}
body.dark-mode .navbar-logo h1:hover:after {
  background-color: var(--color-white);
}
body.dark-mode .page-header {
  margin: 0 !important;
}
body.dark-mode .page-header-title h1 {
  color: var(--color-white);
}
body.dark-mode .page-header-title i {
  color: var(--color-green);
}
