/* THEME - LIGHT */

.cli-command
  padding: 24px
.cli-section
  font-family: "Courier Prime", monospace
.cli-section
  h1
    color: white
  h2
    font-family: "Cutive Mono", monospace
    font-size: var(--font-l)
    padding: 96px 0 48px 
  p
    padding: 24px
.header-simple-title
  i
    color: var(--color-green)
    margin: 0 36px 0 0
.page-section
  margin: 128px 0
.script-subtitle
  color: var(--color-grey-medium)
  font-family: "Cutive Mono", monospace
  font-size: var(--font-l)
  a
    color: var(--color-green)
.script-title
  letter-spacing: 0.5rem
  font-family: "JetBrains Mono", monospace
  font-family: "Cutive Mono", monospace
  font-family: 'Satoshi', sans-serif
  font-family: "Doto", serif
  font-size: var(--font-xxl)

body
  background-color: var(--color-terminal-bg-blue)
  display: grid
  #menu-button
    i
      color: var(--color-grey-light)    
  .cli-command
    p
      color: var(--color-white)
  .cli-section
    h1
      color: var(--color-white)
    h2
      color: var(--color-grey-medium)
  .navbar-logo
    color: var(--color-white)
  .page-header
    margin: 0 !important
  .page-header-excerpt
    background-color: #000
    text-align: right
    p
      color: var(--color-green) !important
  .page-header-title
    h1
      color: var(--color-grey-medium)
    i 
      color: var(--color-grey-medium)
      
/* THEME - DARK */

body.dark-mode
  background-color: #000C09      
  display: grid
  .cli-command
    background-color: #013D27
    border-radius: 12px
    p
      color: var(--color-green)
  #menu-button
    i
      color: var(--color-white)
  .navbar-logo
    color: var(--color-green)
  .page-header
    margin: 0 !important
  .page-header-title
    h1
      color: var(--color-white) 
    i 
      color: var(--color-orange)


