/* THEME - LIGHT */

.cli-command
  padding: 24px
.cli-section
  font-family: "Courier Prime", monospace
.page-section
  margin: 128px 0
  .cli-section
    h1
     font-size: var(--font-l)
     padding: 24px 0
    h2
      font-size: var(--font-l)
      padding: 96px 0 48px 
    p
      padding: 24px

body
  background-color: var(--color-terminal-bg-blue)
  display: grid
  #menu-button
    i
      color: var(--color-grey-light)
  .cli-section
    h1
      color: var(--color-white)
    h2
      color: var(--color-terminal-2)
    p
      color: var(--color-terminal-1)
  .page-header
    margin: 0 !important
  .page-header-excerpt
    background-color: #000
    text-align: right
    p
      color: var(--color-grey-medium) !important
  .page-header-title
    h1
      color: var(--color-grey-medium)
    i 
      color: var(--color-grey-medium)
  .navbar-logo
    h1
      color: var(--color-grey-light)
      &:after
        background-color: var(--color-grey-light)
      
/* THEME - DARK */

body.dark-mode
  background-color: #101010
  display: grid
  .cli-command
    background-color: #000
  #menu-button
    i
      color: var(--color-white)
  .navbar-logo
    h1
      color: var(--color-green-terminal)
      &:after
        background-color: var(--color-green-terminal)
  .page-header
    margin: 0 !important
  .page-header-title
    h1
      color: var(--color-white) 
    i 
      color: var(--color-orange)


