/* THEME - LIGHT */

body
  background-color: #fff
  display: grid

  #menu-button
    i
      color: var(--color-grey-3)
      &:hover
        color: var(--color-grey-5)    

  .page-header
    margin: 0 !important

  .page-header-excerpt
    background-color: #101010
    text-align: right
    p
      color: var(--color-grey-3) !important

  .page-header-title
    h1
      color: var(--color-grey-3)
    i 
      color: var(--color-grey-1)

  .navbar-logo
    h1
      color: var(--color-grey-3)
      &:hover
        color: var(--color-grey-5)    
        &:after
          background-color: var(--color-grey-3)
      


/* THEME - DARK */

body.dark-mode
  background-color: #000
  display: grid

  #menu-button
    i
      color: var(--color-grey-1)
      &:hover
        color: var(--color-white)    

  .navbar-logo
    h1
      color: var(--color-grey-1)
      &:hover
        color: var(--color-white)    
        &:after
          background-color: var(--color-grey-1)

  .page-header
    margin: 0 !important

  .page-header-title
    h1
      color: var(--color-white) 
    i 
      color: var(--color-green)