/* THEME - LIGHT */
.cli-command {
  padding: 24px;
}

.cli-section {
  font-family: "Courier Prime", monospace;
}

.cli-section h1 {
  color: white;
}
.cli-section h2 {
  font-family: "JetBrains Mono", monospace;
  font-size: var(--font-l);
  padding: 96px 0 48px;
}
.cli-section p {
  padding: 24px;
}

.header-simple-title i {
  color: var(--color-green);
  margin: 0 36px 0 0;
}

.page-section {
  margin: 128px 0;
}

.script-subtitle {
  color: var(--color-grey-light);
  font-family: "JetBrains Mono", monospace;
  font-size: var(--font-l);
}
.script-subtitle a {
  color: var(--color-green);
}

.script-title {
  letter-spacing: 0.5rem;
  font-family: "JetBrains Mono", monospace;
  font-family: "JetBrains Mono", monospace;
  font-family: "Satoshi", sans-serif;
  font-family: "Doto", serif;
  font-size: var(--font-xxl);
}

body {
  background-color: var(--color-terminal-bg-blue);
  display: grid;
}
body #menu-button i {
  color: var(--color-grey-light);
}
body .cli-command {
  background-color: #1818C4;
}
body .cli-command p {
  color: var(--color-white);
}
body .cli-section h1 {
  color: var(--color-white);
}
body .cli-section h2 {
  color: var(--color-grey-light);
}
body .navbar-logo {
  color: var(--color-white);
}
body .page-header {
  margin: 0 !important;
}
body .page-header-excerpt {
  background-color: #000;
  text-align: right;
}
body .page-header-excerpt p {
  color: var(--color-green) !important;
}
body .page-header-title h1 {
  color: var(--color-grey-medium);
}
body .page-header-title i {
  color: var(--color-grey-medium);
}

/* THEME - DARK */
body.dark-mode {
  background-color: #000C09;
  display: grid;
}
body.dark-mode .cli-command {
  background-color: #013D27;
  border-radius: 12px;
}
body.dark-mode .cli-command p {
  color: var(--color-green);
}
body.dark-mode #menu-button i {
  color: var(--color-white);
}
body.dark-mode .navbar-logo {
  color: var(--color-green);
}
body.dark-mode .page-header {
  margin: 0 !important;
}
body.dark-mode .page-header-title h1 {
  color: var(--color-white);
}
body.dark-mode .page-header-title i {
  color: var(--color-orange);
}
