/* LIGHT */
body {
  background-color: var(--color-grey-3);
}
body .badge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 450px;
  text-align: center;
}
body .badge h3 {
  color: #BFE4E2;
  font-family: "Reddit Mono", monospace;
  font-size: var(--font-l);
  margin: 24px 0 12px;
}
body .badge p {
  color: var(--color-white);
  font-family: "Reddit Mono", monospace;
  font-size: var(--font-s);
}
body .badge img {
  transition: 0.3s;
}
body .badge img:hover {
  transform: scale(1.1);
}
body .effect-glitch {
  color: var(--color-blue);
}
body .img-fullsize figcaption {
  color: var(--color-grey-5);
}
body .navbar-logo h1 {
  color: var(--color-blue-light);
}
body .navbar-logo h1:hover {
  color: var(--color-white);
}
body .navbar-logo h1:hover:after {
  background-color: var(--color-white);
}
body .navbar-menu i {
  color: var(--color-blue-light);
}
body .navbar-menu i:hover {
  color: var(--color-white);
}
body .project-section-desc p {
  color: #fff;
}
body .project-section-title h4 {
  color: var(--color-grey-3);
}
body .project-section-desc,
body .project-header,
body .project-section p {
  color: var(--color-white);
}
body .project-links a {
  color: var(--color-blue-light);
}
body .project-links a:hover {
  color: var(--color-white);
}
body .project-subtitle {
  color: #fff;
  text-shadow: var(--text-shadow-3);
}
body .project-title i {
  color: var(--color-blue-light);
}

/* DARK */
body.dark-mode {
  background-color: var(--color-blue-storm);
  color: var(--color-white);
}
body.dark-mode .img-fullsize figcaption {
  color: var(--color-grey-3);
}
body.dark-mode .project-section-desc a {
  color: var(--color-blue);
}
body.dark-mode .project-section-desc,
body.dark-mode .project-section p {
  color: var(--color-blue-light);
}
body.dark-mode .project-subtitle {
  color: var(--color-grey-1);
}
body.dark-mode .project-links a {
  color: var(--color-blue-light);
}
