/* BOOKMARKS - LIGHT */

body
  background-color: #6B7A60
        
  .navbar-logo 
    h1
      color: var(--color-grey-light)
      &:hover
        color: var(--color-white)    
        &:after
          background-color: var(--color-white)

  .navbar-menu
    i
      color: var(--color-grey-light)
    i:hover
      color: var(--color-white)
    i:active
      opacity: 0.8

  #navbar-theme-toggle
    opacity: 0.71
    &:hover
      opacity: 1.0

  .page-header-excerpt
    background-color: #7B8A6F
    p
      color: var(--color-white)

  .page-header-title
    h1
      color: var(--color-white)
    i
      color: var(--color-yellow)

  .section-header
    h5
      color: var(--color-white)

  .remedy-category
    break-inside: avoid
    display: flex
    font-family: "Courier Prime", monospace
    flex-direction: column
    padding: 36px 0 
    a
      padding: 4px 0 4px 12px
    h1
      position: sticky !important 
      top: 0 !important

  .remedy-glossary
    display: flex
    flex-wrap: wrap
    margin: 12px 0 72px
    a
      background: none
      border: 3px solid var(--color-yellow)   
      border-radius: 8px 0 8px 0
      color: var(--color-yellow)  
      font-family: "JetBrains Mono", monospace
      font-size: var(--font-l)
      font-weight: 900
      padding: 12px
      margin: 4px
      &:hover
        animation: blinker 1s linear infinite
        background: var(--color-yellow)      
        border: 3px solid var(--color-yellow)
        border-radius: 8px 0 8px 0
        color: var(--color-remedy-green-light)

  .remedy-list
    color: var(--color-remedy-green-dark)
    padding: 0 44px

  .remedy-list-item
    margin: 0 0 24px
    p
      border: 2px solid var(--color-remedy-green-medium)
      border-radius: 12px
      display: inline-block
      margin: 12px 0
      padding: 4px 24px

  .remedy-list-title
    display: flex
    flex-direction: row
    align-items: center
    gap: 16px
    h3
      font-weight: 900
      padding: 12px 0

  .remedy-section-title
    display: flex
    flex-direction: column
    h2
      color: var(--color-white)
      font-size: var(--font-xl)
      padding: 24px 16px 24px 0
      text-transform: uppercase

  .remedy-section-subtitle
      color: var(--color-grey-light)
      font-size: var(--font-m)
      font-style: italic
      line-height: 1.4rem
      margin: 0 0 24px 44px
      text-shadow: var(--text-shadow-3)

  .remedy-section
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 0%
    padding: 36px 0 0
    h3
      color: var(--color-grey-light)
      font-size: var(--font-l)
    a:hover
      color: #fff
      animation: blinker 1s linear infinite
    span
      opacity: 0.29

  .remedy-tag
    background-color: #6B7A60
    border-radius: 3px
    color: var(--color-grey-light)
    display: inline-block
    letter-spacing: 0
    margin: 16px 16px 16px 0
    opacity: 0.5
    padding: 4px 12px

  .remedy-title
    color: var(--color-yellow)
    h1
      font-size: var(--font-xl)
      font-weight: 900
      padding: 4px 0 
      text-decoration: underline 
    p
      color: var(--color-remedy-green-medium)
      font-size: var(--font-l)
      text-shadow: var(--text-shadow-3)

  .bookmark-old
    a
      color: var(--color-grey-light)
      text-decoration: line-through
      &:hover
        animation: blinker 1s linear infinite
        opacity: 0.5



/* BOOKMARKS - DARK */

body.dark-mode 
  background-color: var(--color-remedy-green-dark)

  .navbar-logo 
    h1
      color: var(--color-remedy-green-light)
      &:after
        background-color: var(--color-remedy-green-light)
      &:hover
        color: var(--color-yellow)    
        &:after
          background-color: var(--color-yellow)

  .navbar-menu
    i
      color: var(--color-remedy-green-light)
    i:hover
      color: var(--color-yellow)
    i:active
      opacity: 0.7

  #navbar-theme-toggle
    fill: var(--color-remedy-green-light)
    &:hover
      fill: var(--color-yellow)

  .page-header-excerpt
    background: #343A2F
    p
      color: var(--color-grey-light)

  .page-header-title
    i
      color: var(--color-remedy-green-light)

  .remedy
    h2
      color: var(--color-remedy-green-light)
    p
      color: var(--color-remedy-green-light)

  .remedy-list
    color: var(--color-grey-light)

  .remedy-tag
    background-color: var(--color-remedy-green-light)

  .remedy-title
    p
      color: var(--color-remedy-green-light)

