/* THEME - LIGHT */
body {
  background-color: var(--color-grey-light);
}

#menu-button i {
  color: var(--color-grey-dark);
}

.page-header-excerpt {
  background-color: var(--color-white);
}
.page-header-excerpt p {
  color: var(--color-grey-medium) !important;
}

.project-title h1 {
  color: var(--color-grey-medium) !important;
}
.project-title i {
  color: var(--color-grey-medium);
}

.project-title i {
  color: var(--color-black);
}

/* THEME - DARK */
body.dark-mode {
  background-color: #242536;
  color: white;
}
body.dark-mode #menu-button i {
  color: var(--color-white);
}
body.dark-mode .page-header-excerpt {
  background-color: #2b2d42;
}
body.dark-mode .page-header-excerpt p {
  color: var(--color-grey-light) !important;
}
body.dark-mode .project-title i {
  color: var(--color-white);
}
