/* BOOKMARKS - LIGHT */
.site-main {
  margin: 72px 0 0;
}

body {
  background-color: var(--color-purple);
}
body .bookmark {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 12px 72px 12px 0;
}
body .bookmark a {
  color: var(--color-blue-light);
}
body .bookmark a:hover {
  color: #fff;
  animation: blinker 1s linear infinite;
}
body .bookmark li {
  font-family: "Courier Prime", monospace;
}
body .bookmark h2 {
  padding: 0 16pxw;
}
body .bookmark-glossary {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px 0 72px;
}
body .bookmark-glossary a {
  background: var(--color-green);
  border: 3px solid var(--color-green);
  color: var(--color-blue-storm) !important;
  border-radius: 8px 0 8px 0;
  cursor: pointer;
  font-size: var(--font-l);
  font-weight: 900;
  padding: 12px;
  margin: 4px;
  font-family: "Cutive Mono", monospace;
}
body .bookmark-glossary a:hover {
  animation: blinker 1s linear infinite;
  background: none;
  border: 3px solid var(--color-green);
  color: var(--color-green) !important;
}
body .bookmark-section {
  margin-left: 1rem;
  text-indent: -1rem;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
body .bookmark-section h2 {
  color: var(--color-green);
  font-family: "Courier Prime", monospace;
  font-size: var(--font-xl);
  font-weight: 900;
  padding: 0 0 1vh;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.29);
}
body .bookmark-section li {
  font-size: var(--font-l);
  margin-left: 1rem;
  text-indent: -1rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.29);
}
body .bookmark-section a {
  padding: 4px 0 4px 12px;
}
body .bookmark-old a {
  text-decoration: line-through;
}
body .bookmark-old a:hover {
  animation: blinker 1s linear infinite;
  opacity: 0.5;
}
body .page-header-excerpt {
  background-color: #7385F6;
}
body .page-header-excerpt p {
  color: var(--color-white);
}
body .page-header-title h1 {
  color: var(--color-white);
}
body .section-header h5 {
  color: var(--color-white);
}

/* BOOKMARKS - DARK */
body.dark-mode {
  background-color: var(--color-blue-storm);
}
body.dark-mode .bookmark a {
  color: var(--color-purple);
}
body.dark-mode .bookmark-glossary {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0 72px;
}
body.dark-mode .bookmark-glossary a {
  color: var(--color-blue-storm);
}
body.dark-mode .page-header-excerpt {
  background-color: #191D26;
}
body.dark-mode .page-header-excerpt p {
  color: var(--color-grey-light);
}
body.dark-mode .page-header-title h1 {
  color: var(--color-white);
}
body.dark-mode .section-header h5 {
  color: var(--color-white);
}
