/* THEME - LIGHT */

body
  background-color: #ececec

.effect-glitch
  color: var(--color-purple)

.header-simple-title
  color: var(--color-grey-light)

.navbar-menu
  i
    color: var(--color-grey-medium)
    &:hover
      color: var(--color-grey-dark)

.quote-container
  break-inside: avoid

.quote
  padding: 0 0 72px
  text-align: right

.quote-text
  background-color: whitesmoke
  border-radius: 16px 16px 0 16px
  box-shadow: 4.0px 8.0px 10.0px hsl(0deg 0% 0% / 0.1)
  color: var(--color-grey-medium)
  font-family: "Reddit Mono", monospace
  font-family: "Lusitana", serif
  font-style: italic
  font-weight: 400
  letter-spacing: 1.2px
  line-height: 1.8rem
  margin-bottom: 12px
  padding: 36px
  text-align: left

.quote-by
  color: var(--color-grey-medium)
  font-family: "Roboto Mono", monospace
  font-weight: 400
  font-style: normal

.quote-link 
  font-family: "Cutive Mono", "Courier Prime", monospace
  color: var(--color-purple)
  font-size: var(--font-m)
  line-height: 1.0rem
  margin: 8px 0
  text-align: right
  // text-shadow: var(--text-shadow-3)
  &:hover 
    animation: blinker 0.4s linear infinite

.page-header-excerpt
  background-color: whitesmoke
  p
    color: var(--color-grey-medium)

.page-header-title
  h1
    color: var(--color-grey-medium) 

.page-header-excerpt,
.page-header-image
  box-shadow: 4.0px 8.0px 10.0px hsl(0deg 0% 0% / 0.1)



/* THEME - DARK */

body.dark-mode 
  background-color: var(--color-black) 
  color: white

  .quote
    background-color: var(--color-black) 

  .quote-by
    color: var(--color-grey-medium)

  .page-header-excerpt
    background-color: #1D212C
    p
      color: var(--color-grey-medium)

  .quote-link 
    a 
      color: var(--color-blue-light)

  .quote-text
    background-color: #1D212C
    color: var(--color-grey-light) 