/* QUOTES - LIGHT */
body
  background-color: #1F4483 !important
  .project-desc p
    color: var(--redteam-blue-light)
  .project-hashtag
    color: var(--color-grey-medium)
  .project-list
    a
      text-shadow: 2px 4px 3px rgba(0,0,0,0.29)

/* QUOTES - DARK */
body.dark-mode 
  background-color: #09111C !important
  color: white

body.dark-mode .bg-glass-blue
  background: red !important

body.dark-mode .quote-text
  color: var(--color-blue-light)

body.dark-mode .page-header-excerpt
  background: #170509 !important !important
  p
    color: var(--color-blue-light) !important
    text-shadow: 0 1px #2A3889, -1px 0 #697BED, -1px 2px #2A3889, -2px 1px #697BED, -2px 3px #2A3889, -3px 2px #697BED, -3px 4px