/* THEME - LIGHT */
#menu-button
  i
    color: var(--color-grey-dark)
body
  background-color: var(--color-grey-light) 
.page-header-excerpt
  background-color: var(--color-white) 
  p
    color: var(--color-grey-medium) !important
.project-title
  h1
    color: var(--color-grey-medium) !important
  i 
    color: var(--color-grey-medium) 
.project-title
  i 
    color: var(--color-black) 



/* THEME - DARK */

body.dark-mode
  background-color: #242536
  color: white
  #menu-button
    i
      color: var(--color-white)
  .page-header-excerpt
    background-color: #2b2d42
    p
      color: var(--color-grey-light) !important
  .project-title
    i 
      color: var(--color-white) 
