/* LIGHT */
body {
  background-color: #265E55;
  background-color: var(--color-turqoise-medium);
}
body .badge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 450px;
  text-align: center;
}
body .badge h3 {
  color: #BFE4E2;
  font-family: "Reddit Mono", monospace;
  font-size: var(--font-l);
  margin: 24px 0 12px;
}
body .badge p {
  color: var(--color-white);
  font-family: "Reddit Mono", monospace;
  font-size: var(--font-s);
}
body .badge img {
  transition: 0.3s;
}
body .badge img:hover {
  transform: scale(1.1);
}
body .img-gallery {
  margin: 48px 0 0;
}
body .img-fullsize figcaption {
  color: var(--color-grey-dark);
}
body .menu-category-title h2 {
  text-shadow: var(--text-shadow-2);
}
body .menu-category-title i {
  color: var(--color-grey-light);
}
body .menu-list a {
  text-shadow: var(--text-shadow-3);
}
body .navbar-logo h1 {
  color: var(--color-white);
}
body .navbar-logo h1:hover {
  color: var(--color-white);
}
body .navbar-logo h1:hover:after {
  background-color: var(--color-white);
}
body .navbar-menu i {
  color: var(--color-grey-light);
}
body .navbar-menu i:hover {
  color: var(--color-grey-medium);
}
body .page-section {
  padding: 24px 0;
}
body .project-header {
  color: var(--color-grey-medium);
}
body .project-links a {
  color: #fff;
  text-shadow: var(--text-shadow-2);
}
body .project-overview p {
  color: var(--color-grey-medium);
}
body .project-section {
  background-color: #AEF4E9;
}
body .project-section p {
  color: var(--color-grey-medium);
}
body .project-section-title h3 {
  color: var(--color-turqoise-medium);
  text-shadow: var(--text-shadow-3);
}
body .project-subtitle h2 {
  color: var(--color-grey-medium);
}
body .project-tag {
  background-color: #AEF4E9;
  color: var(--color-grey-medium);
}
body .project-title h1 {
  color: #AEF4E9;
  color: var(--color-white);
  text-shadow: var(--text-shadow-5);
}
body .project-title i {
  color: var(--color-grey-light);
}

/* DARK */
body.dark-mode {
  background-color: #040D19;
}
body.dark-mode .img-fullsize figcaption {
  color: var(--color-grey-medium);
}
body.dark-mode .navbar-logo h1 {
  color: var(--color-grey-medium);
}
body.dark-mode .navbar-logo h1:hover {
  color: var(--color-white);
}
body.dark-mode .navbar-logo h1:hover:after {
  background-color: var(--color-white);
}
body.dark-mode .navbar-menu i {
  color: var(--color-grey-medium);
}
body.dark-mode .navbar-menu i:hover {
  color: var(--color-white);
}
body.dark-mode .project-header h2 {
  color: #BFE4E2;
  color: var(--color-grey-light);
}
body.dark-mode .project-section {
  background-color: #071426;
}
body.dark-mode .project-overview p {
  color: var(--color-grey-light);
}
body.dark-mode .project-links a {
  color: var(--color-turqoise-medium);
}
body.dark-mode .project-links a:hover {
  color: #1AFFDB;
}
body.dark-mode .project-section {
  background-color: var(--color-cyber-bg) !important;
}
body.dark-mode .project-section-desc p {
  color: var(--color-grey-medium);
}
body.dark-mode .project-section-desc a {
  color: var(--color-grey-light);
}
body.dark-mode .project-section-title h3 {
  color: var(--color-white);
}
body.dark-mode .project-title h1 {
  color: var(--color-white);
}
body.dark-mode .project-title i {
  color: var(--color-turqoise-medium);
}
