:root 
  --color-grey-medium: #565656
  --color-grey-light: #C8C8C8
  --color-cyber-turqoise-superlight: #C0E4E2
  --color-cyber-turqoise-light: #7DCAC2
  --color-blue-dodger: #1e90ff
  --color-blue-dodger: #3860C8
  --color-green-jazzercise: #b6e12a
  --color-green-hyperpop: #17f9a6
  --color-pgh-yellow-highlight: #facc15
  --color-pgh-blue: #00539B
  --color-blue-storm: #1D212C
  --color-blue-baltic-sea: #221F29
  --color-retro-aqua: #00939B
  --color-retro-aqua-highlight: #00E1FF
  --color-retro-nostr: #8566ff
  --color-retro-orange: #ea673e
  --color-cyber-bg: #071426
  --color-title-hashtag: #888888
  --color-title-light: #ececec
  --color-retro-nostr-text: #7164FF
  --color-retro-nostr-bg: #06004D
  --color-grey-0: #D0D0D0
  --color-grey-1: #A59FAD
  --color-grey-2: #D0D0D0
  --color-grey-3: #D0D0D0
  --color-grey-4: #D0D0D0
  --color-grey-5: #D0D0D0
  --font-xs: 0.7rem !important
  --font-s: 0.9rem !important
  --font-m: 1.1rem !important
  --font-l: 1.3rem !important
  --font-xl: 1.6rem !important
  --font-xxl: 1.9rem !important
  --font-xxxl: 2.2rem !important

.border-blue,
.border-green,
.border-red,
.border-orange,
.border-purple,
.border-yellow,
.border-white
  border-style: solid
  border-left:  none 
  border-width: 0 1px 2px 2px !important

.blue,
.blue a,
.blue i
  color: #00E1FF !important
.border-blue
  border-image: linear-gradient(to top, #5EEBD5 0%, #093A32 100%) 1

.green,
.green a,
.green i
  color: #00FF73 !important
.border-green
  border-image: linear-gradient(to top, #00FF73 0%, #1C3013 100%) 1
 
.red,
.red a,
.red i
  color: #D9044C !important
.border-red
  border-image: linear-gradient(to top, #D9044C 0%, #3C1A12 100%) 1 !important
.orange,
.orange a,
.orange i
  color: #ea673e !important
.border-orange
  border-image: linear-gradient(to top, #ea673e 0%, #342008 100%) 1

.purple,
.purple a,
.purple i
  color: #8566ff !important
.border-purple
  border-image: linear-gradient(to top, #8566ff 0%, #24204C 100%) 1

.yellow,
.yellow a,
.yellow i
  color: #facc15 !important
.border-yellow
  border-image: linear-gradient(to top, #facc15 0%, #3B320E 100%) 1

.white,
.white a,
.white i
  color: #ececec !important
.border-white
  border-image: linear-gradient(to top, #ececec 0%, #3B3B3B 100%) 1

.neon
  animation: pulsate 0.11s ease-in-out infinite alternate

.neon-green
  animation: pulsate-green 0.11s ease-in-out infinite alternate

/* BACKGROUNDS */

.bg-glass
  background: rgba(230, 230, 230, .05)
  border-radius: 12px

.bg-glass-cyber
  background: rgba(60, 94, 213, .045)

.bg-glass-blue
  background: rgba(0, 225, 237, .045)

.bg-glass-green
  background: rgba(150, 247, 109, .038)

.bg-glass-red
  background: rgba(217, 47, 4, .045)

.bg-glass-orange
  background: rgba(247, 147, 26, .04)

.bg-glass-purple
  background: rgba(113, 100, 255, .045)

.bg-glass-yellow
  background: rgba(247, 204, 21, .035)

.bg-glass-white
  background: rgba(255, 255, 255, .035)

.bg-glass-original
  background: rgba(255, 255, 255, .04)
  border-radius: 12px

/*.bg-home
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url('/images/header.jpg') !important
  background-color: var(--bg-color)
  background-repeat: no-repeat
  background-position: top
  height: 100vh
  width: 100vw
  position: fixed
  z-index: -9999*/

@keyframes blink-animation
  to
    opacity: 0

@keyframes bg-blink-animation
  to
    background-color: transparent

@keyframes blinker 
  50% 
    opacity: 0.5

@media screen and (prefers-reduced-motion: reduce) 
  html 
    scroll-behavior: auto

/**
  border: 1px solid orange !important*/