@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #d6c3c9;
    --color-title: #e0e7ff;
    --color-base: #ececec;
    --color-light: #aaa;
    --color-border: #595959;
    --color-code-bg: #303030;
    --color-bg-dark: #070712;
    --color-bg: #0a0a16;
    --color-bg-light: #0F0F21;
    --color-bg-menu: #121222;
    --color-pgh-red: #da373d;
    --color-pgh-yellow: #ffb81c;
    --color-pgh-yellow-highlight: #FFD940;
    --color-pgh-blue: #00539B;
    --color-retro-aqua: #00939B;
    --color-retro-aqua-highlight: #00E1ED;
    --color-retro-nostr: #8566ff;
    --color-retro-orangecoin: #ea673e;
    --font-xxs: 0.4rem !important;
    --font-xs: 0.8rem !important;
    --font-s: 1.0rem !important;
    --font-m: 1.2rem !important;
    --font-l: 1.4rem !important;
    --font-xl: 1.8rem !important;
    --font-xxl: 2.2rem !important;
    --bg-quote: hsla(186, 33%, 94%, 1), linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #d6c3c9;
    --color-title: #e0e7ff;
    --color-base: #ececec;
    --color-light: #aaa;
    --color-border: #595959;
    --color-code-bg: #303030;
    --color-bg-dark: #070712;
    --color-bg: #0a0a16;
    --color-bg-light: #0F0F21;
    --color-pgh-red: #da373d;
    --color-pgh-yellow: #ffb81c;
    --color-pgh-yellow-highlight: #FFD940;
    --color-pgh-blue: #00539B;
    --color-retro-aqua: #00939B;
    --color-retro-aqua-highlight: #00E1ED;
    --color-retro-nostr: #8566ff;
    --color-retro-orangecoin: #ea673e;
    --font-xs: 0.8rem !important;
    --font-s: 1.0rem !important;
    --font-m: 1.2rem !important;
    --font-l: 1.4rem !important;
    --font-xl: 1.8rem !important;
    --font-xxl: 2.2rem !important;
    --bg-quote: hsla(186, 33%, 94%, 1), linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  }
}
/* font-family: "Special Gothic Expanded One", sans-serif
 * font-family: "Open Sans", sans-serif
 * font-family: "Yellowtail", sans-serif
 * font-family: "Cutive Mono", monospace 
 * font-family: "Courier Prime", monospace*/
