@media (prefers-color-scheme:light) 
    :root 
      --color-primary: #d6c3c9
      --color-title: #e0e7ff
      --color-base: #ececec
      --color-light: #aaa
      --color-site-section: #717171
      --color-border: #424242
      --color-code-bg: #303030
      --color-bg-dark: #070712
      --color-bg: #0a0a16
      --color-bg-light: #0F0F21
      --color-bg-menu: #121222
      --color-pgh-red: #da373d
      --color-pgh-yellow: #ffb81c
      --color-pgh-yellow-highlight: #facc15
      --color-pgh-blue: #00539B
      --color-retro-aqua: #00939B
      --color-retro-aqua-highlight: #00E1ED
      --color-retro-nostr: #8566ff
      --color-retro-orangecoin: #ea673e
      --font-xxs: 0.4rem !important
      --font-xs: 0.8rem !important
      --font-s: 1.0rem !important
      --font-m: 1.1rem !important
      --font-l: 1.3rem !important
      --font-xl: 1.7rem !important
      --font-xxl: 2.2rem !important
      --bg-quote: hsla(186, 33%, 94%, 1), linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%)

@media (prefers-color-scheme:dark) 
    :root 
      --color-primary: #d6c3c9
      --color-title: #e0e7ff
      --color-base: #ececec
      --color-light: #aaa
      --color-site-section: #717171
      --color-border: #424242
      --color-code-bg: #303030
      --color-bg-dark: #070712
      --color-bg: #0a0a16
      --color-bg-light: #0F0F21
      --color-pgh-red: #da373d
      --color-pgh-yellow: #ffb81c
      --color-pgh-yellow-highlight: #facc15
      --color-pgh-blue: #00539B
      --color-retro-aqua: #00939B
      --color-retro-aqua-highlight: #00E1ED
      --color-retro-nostr: #8566ff
      --color-retro-orangecoin: #ea673e
      --font-xs: 0.8rem !important
      --font-s: 1.0rem !important
      --font-m: 1.1rem !important
      --font-l: 1.3rem !important
      --font-xl: 1.7rem !important
      --font-xxl: 2.2rem !important
      --bg-quote: hsla(186, 33%, 94%, 1), linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%)

.blue
  color: var(--color-retro-aqua-highlight) !important
  a,i
    color: var(--color-retro-aqua-highlight) !important
.border-blue
  border: 1px solid rgba(0, 225, 237, .29)
  border-left: 22px solid rgba(0, 225, 237, .29)

.purple
  color: #7164FF !important
  a,i
    color: #7164FF !important
.border-purple
  border: 1px solid rgba(113, 100, 255, .29)
  border-left: 11px solid rgba(113, 100, 255, .29)
.green
  color: #96f76d !important
  a,i
    color: #96f76d !important
.border-green
  border: 1px solid rgba(150, 247, 109, .29)
  border-left: 11px solid rgba(150, 247, 109, .29)

.red
  color: #d92f04 !important
  a,i
    color: #d92f04 !important
.border-red
  border: 1px solid rgba(217, 47, 4, .29)
  border-left: 11px solid rgba(217, 47, 4, .29)

.orange
  color: #F7931A !important
  a,i
    color: #F7931A !important
.border-orange
  border: 1px solid rgba(247, 147, 26, .29)
  border-left: 11px solid rgba(247, 147, 26, .29)

.yellow
  color: #facc15 !important
  a,i
    color: #facc15 !important
.border-yellow
  border: 1px solid rgba(247, 204, 21, .29)
  border-left: 11px solid rgba(250, 204, 21, .29)

.white
  color: #ececec !important
  a,i
    color: #ececec !important
.border-white
  border: 1px solid rgba(113, 100, 255, .29)
  border-left: 11px solid rgba(113, 100, 255, .29)

.border-purple,
.border-green,
.border-red,
.border-orange,
.border-yellow,
.border-white
  -webkit-background-clip: padding-box  
  background-clip: padding-box

