:root {
  --white: #ececec;
  --grey: #E9E9E9;
  --color-blue-superlight: #D7EAFD;
  --color-blue-light: #A1D9FE;
  --color-blue-medium: #649BF9;
  --color-blue-dark: #2A3889;
  --color-purple-light: #697BED;
  --color-pink-medium: #DEB0FD;
  /* colors that work well in both dark & light themes */
  --theme-grey: #627b9d;
  --redteam-blue-light: #7EB3FF;
  --redteam-blue-dark: #17212F;
  --color-black-steelers: #101820;
  --color-grey-dark: #2C2C2C;
  --color-grey-medium: #757575;
  --color-grey-light: #C8C8C8;
  --color-cyber-turqoise-superlight: #C0E4E2;
  --color-cyber-turqoise-light: #6ECFCD;
  --color-cyber-turqoise-medium: #3CB4AC;
  --color-cyber-turqoise-medium: #00a197;
  --color-blue-dodger: #1e90ff;
  --color-blue-dodger: #3860C8;
  --color-green-jazzercise: #b6e12a;
  --color-green-hyperpop: #17f9a6;
  --color-yellow-pgh: #facc15;
  --color-pgh-blue: #00539B;
  --color-blue-storm: #1D212C;
  --color-retro-aqua: #00939B;
  --color-retro-aqua-highlight: #00E1FF;
  --color-retro-nostr: #7164FF;
  --color-retro-orange: #ea673e;
  --color-cyber-bg: #071426;
  --color-title-hashtag: #888888;
  --color-title-light: #ececec;
  --color-grey-0: #D0D0D0;
  --color-grey-1: #A59FAD;
  --color-grey-2: #D0D0D0;
  --color-grey-3: #D0D0D0;
  --color-grey-4: #D0D0D0;
  --color-grey-5: #D0D0D0;
  --font-xxxs: 0.4rem !important;
  --font-xxs: 0.6rem !important;
  --font-xs: 0.8rem !important;
  --font-s: 1.0rem !important;
  --font-m: 1.2rem !important;
  --font-l: 1.4rem !important;
  --font-xl: 1.6rem !important;
  --font-xxl: 1.8rem !important;
  --font-xxxl: 2.2rem !important;
  --box-shadow-1: 4px 8px 10px hsla(0, 0%, 0%, 0.2);
  --text-shadow-1: 2px 4px 3px rgba(0,0,0,0.29);
  --text-shadow-2: 2px 4px 3px rgba(0,0,0,0.2);
}

.br-top {
  border-radius: 24px 24px 0 0;
}

.br-top-left {
  border-radius: 0 16px 0 0;
}

.border-blue,
.border-green,
.border-red,
.border-orange,
.border-purple,
.border-yellow,
.border-white {
  border-style: solid;
  border-right: none;
  border-width: 0 1px 2px 2px !important;
}

.blue,
.blue a,
.blue i {
  color: #00E1FF !important;
}

.border-blue {
  border-image: linear-gradient(to right, #00E1FF 0%, #093A32 100%) 1;
}

.green,
.green a,
.green i {
  color: #00FF73 !important;
}

.border-green {
  border-image: linear-gradient(to right, #00FF73 0%, #1C3013 100%) 1;
}

.red,
.red a,
.red i {
  color: #D9044C !important;
}

.border-red {
  border-image: linear-gradient(to right, #D9044C 0%, #3C1A12 100%) 1 !important;
}

.orange,
.orange a,
.orange i {
  color: #ea673e !important;
}

.border-orange {
  border-image: linear-gradient(to right, #ea673e 0%, #342008 100%) 1;
}

.purple,
.purple a,
.purple i {
  color: #8566ff !important;
}

.border-purple {
  border-image: linear-gradient(to right, #8566ff 0%, #24204C 100%) 1;
}

.yellow,
.yellow a,
.yellow i {
  color: #facc15 !important;
}

.border-yellow {
  border-image: linear-gradient(to right, #facc15 0%, #3B320E 100%) 1;
}

.white,
.white a,
.white i {
  color: #ececec !important;
}

.border-white {
  border-image: linear-gradient(to right, #ececec 0%, #3B3B3B 100%) 1;
}

.black,
.black a,
.black i {
  color: #000 !important;
}

.border-black {
  border-image: linear-gradient(to right, #facc15 0%, #3B320E 100%) 1;
}

@keyframes pulsate {
  0%, 3%, 5%, 12%, 14%, 21%, 26%, 39%, 44%, 47%, 58%, 66%, 75%, 88%, 92%, 100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #5271ff, 0 0 20px #5271ff, 0 0 20px #5271ff, 0 0 60px #5271ff, 0 0 80px #5271ff;
  }
}
@keyframes flicker {
  0%, 3%, 5%, 12%, 14%, 21%, 26%, 39%, 44%, 47%, 58%, 66%, 75%, 88%, 92%, 100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff, 0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
  }
  0%, 2%, 4%, 7%, 13%, 17%, 25%, 31%, 46%, 52%, 59%, 78%, 91%, 95% {
    text-shadow: none;
  }
}
.neon {
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

@keyframes blink-animation {
  to {
    opacity: 0;
  }
}
@keyframes bg-blink-animation {
  to {
    background-color: transparent;
  }
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
/* GAME OVER EFFECT */
.effect-game-over:hover {
  animation-name: glitch;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  cursor: pointer !important;
}
.effect-game-over:hover p {
  color: var(--color-green-hyperpop) !important;
}

@keyframes glitch {
  0% {
    color: #fff;
  }
  25% {
    color: #A59FAD;
    text-shadow: 2px 2px 2px #A59FAD;
    transform: translate(-2px, 1px);
  }
  40% {
    color: #fff;
    text-shadow: none;
    transform: translate(0, 0);
  }
  50% {
    color: #A59FAD;
    text-shadow: 5px 5px 2px blue, -5px -5px 2px red;
    transform: translate(0px, 5px);
  }
  70% {
    color: #fff;
    text-shadow: none;
    transform: translate(0, 0);
  }
  80% {
    color: #565656;
    text-shadow: 0 0 20px #565656;
    transform: translate(-2px, 1px);
  }
  100% {
    color: #fff;
    text-shadow: none;
  }
}
