@media (prefers-color-scheme:light) 
    :root 
      --color-primary: #d6c3c9
      --color-title: #e0e7ff
      --color-base: #ececec
      --color-light: #aaa
      --color-site-section: #717171
      --color-border: #424242
      --color-code-bg: #303030
      --color-bg-dark: #070712
      --color-bg: #0a0a16
      --color-bg-light: #0F0F21
      --color-bg-menu: #121222
      --color-pgh-red: #da373d
      --color-pgh-yellow: #ffb81c
      --color-pgh-yellow-highlight: #facc15
      --color-pgh-blue: #00539B
      --color-retro-aqua: #00939B
      --color-retro-aqua-highlight: #00E1ED
      --color-retro-nostr: #8566ff
      --color-retro-orangecoin: #ea673e
      --font-xxs: 0.4rem !important
      --font-xs: 0.8rem !important
      --font-s: 1.0rem !important
      --font-m: 1.1rem !important
      --font-l: 1.3rem !important
      --font-xl: 1.7rem !important
      --font-xxl: 2.2rem !important
      --bg-quote: hsla(186, 33%, 94%, 1), linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%)

@media (prefers-color-scheme:dark) 
    :root 
      --color-primary: #d6c3c9
      --color-title: #e0e7ff
      --color-base: #ececec
      --color-light: #aaa
      --color-site-section: #717171
      --color-border: #424242
      --color-code-bg: #303030
      --color-bg-dark: #070712
      --color-bg: #0a0a16
      --color-bg-light: #0F0F21
      --color-pgh-red: #da373d
      --color-pgh-yellow: #ffb81c
      --color-pgh-yellow-highlight: #facc15
      --color-pgh-blue: #00539B
      --color-retro-aqua: #00939B
      --color-retro-aqua-highlight: #00E1ED
      --color-retro-nostr: #8566ff
      --color-retro-orangecoin: #ea673e
      --font-xs: 0.8rem !important
      --font-s: 1.0rem !important
      --font-m: 1.1rem !important
      --font-l: 1.3rem !important
      --font-xl: 1.7rem !important
      --font-xxl: 2.2rem !important
      --bg-quote: hsla(186, 33%, 94%, 1), linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%)

.blue
  color: var(--color-retro-aqua-highlight) !important
  i
    color: var(--color-retro-aqua-highlight) !important

.purple
  color: #7164FF !important
  i
    color: #7164FF !important

.green
  color: #96f76d !important
  i
    color: #96f76d !important

.red
  color: #d92f04 !important
  i
    color: #d92f04 !important

.green-border
  border: 1px solid #96f76d !important

.orange
  color: #F7931A !important
  i
    color: #F7931A !important

.white
  color: #ececec !important
  i
    color: #ececec !important



#ux
  .site-category-list
    a
      color: var(--color-retro-aqua-highlight) !important
  .site-category-image
    img
      border-top: 4px solid var(--color-retro-aqua-highlight) !important
      border-right: 4px solid var(--color-retro-aqua-highlight) !important
      border-bottom: none
      border-left: 4px solid var(--color-retro-aqua-highlight) !important

#design
  .site-category-image
    img
      border-top: 4px solid #96f76d !important
      border-right: 4px solid #96f76d !important
      border-bottom: none
      border-left: 4px solid #96f76d !important
  .site-category-list
    a
      color: #96f76d !important
  .site-category-excerpt
    border-top: none
    border-right: 4px solid var(--color-code-bg) !important
    border-bottom: 4px solid var(--color-code-bg) !important
    border-left: 4px solid var(--color-code-bg) !important

#gadgets
  .site-category-list
    a
      color: #d92f04 !important
  .site-category-image
    img
      border-top: 4px solid #d92f04 !important
      border-right: 4px solid #d92f04 !important
      border-bottom: none
      border-left: 4px solid #d92f04 !important

#gadgets
  .site-category-list
    a
      color: #d92f04 !important
  .site-category-image
    img
      border-top: 4px solid #d92f04 !important
      border-right: 4px solid #d92f04 !important
      border-bottom: none
      border-left: 4px solid #d92f04 !important

#otherstuff
  .site-category-list
    a
      color: #7164FF !important
  .site-category-image
    img
      border-top: 4px solid #7164FF !important
      border-right: 4px solid #7164FF !important
      border-bottom: none
      border-left: 4px solid #7164FF !important
