@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #d6c3c9;
    --color-title: #e0e7ff;
    --color-base: #ececec;
    --color-light: #aaa;
    --color-site-section: #717171;
    --color-border: #424242;
    --color-code-bg: #303030;
    --color-bg-dark: #070712;
    --color-bg: #0a0a16;
    --color-bg-light: #0F0F21;
    --color-bg-menu: #121222;
    --color-pgh-red: #da373d;
    --color-pgh-yellow: #ffb81c;
    --color-pgh-yellow-highlight: #facc15;
    --color-pgh-blue: #00539B;
    --color-retro-aqua: #00939B;
    --color-retro-aqua-highlight: #00E1ED;
    --color-retro-nostr: #8566ff;
    --color-retro-orangecoin: #ea673e;
    --font-xxs: 0.4rem !important;
    --font-xs: 0.8rem !important;
    --font-s: 1.0rem !important;
    --font-m: 1.1rem !important;
    --font-l: 1.3rem !important;
    --font-xl: 1.7rem !important;
    --font-xxl: 2.2rem !important;
    --bg-quote: hsla(186, 33%, 94%, 1), linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #d6c3c9;
    --color-title: #e0e7ff;
    --color-base: #ececec;
    --color-light: #aaa;
    --color-site-section: #717171;
    --color-border: #424242;
    --color-code-bg: #303030;
    --color-bg-dark: #070712;
    --color-bg: #0a0a16;
    --color-bg-light: #0F0F21;
    --color-pgh-red: #da373d;
    --color-pgh-yellow: #ffb81c;
    --color-pgh-yellow-highlight: #facc15;
    --color-pgh-blue: #00539B;
    --color-retro-aqua: #00939B;
    --color-retro-aqua-highlight: #00E1ED;
    --color-retro-nostr: #8566ff;
    --color-retro-orangecoin: #ea673e;
    --font-xs: 0.8rem !important;
    --font-s: 1.0rem !important;
    --font-m: 1.1rem !important;
    --font-l: 1.3rem !important;
    --font-xl: 1.7rem !important;
    --font-xxl: 2.2rem !important;
    --bg-quote: hsla(186, 33%, 94%, 1), linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%), -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  }
}
.border-blue,
.border-green,
.border-red,
.border-orange,
.border-purple,
.border-yellow,
.border-white {
  border-width: 8px !important;
  border-style: solid;
  padding: 5px;
}

.blue,
.blue a,
.blue i {
  color: var(--color-retro-aqua-highlight) !important;
}

.border-blue {
  border-image: linear-gradient(to right, #00E1FF 0%, #96f76d 100%) 1;
}

.green,
.green a,
.green i {
  color: #96f76d !important;
}

.border-green {
  border-image: linear-gradient(to right, #96f76d 0%, #d92f04 100%) 1;
}

.red,
.red a,
.red i {
  color: #d92f04 !important;
}

.border-red {
  border-image: linear-gradient(to right, #d92f04 0%, #F7931A 100%) 1 !important;
}

.orange,
.orange a,
.orange i {
  color: #F7931A !important;
}

.border-orange {
  border-image: linear-gradient(to right, #F7931A 0%, #7164FF 100%) 1;
}

.purple,
.purple a,
.purple i {
  color: #7164FF !important;
}

.border-purple {
  border-image: linear-gradient(to right, #7164FF 0%, #facc15 100%) 1;
}

.yellow,
.yellow a,
.yellow i {
  color: #facc15 !important;
}

.border-yellow {
  border-image: linear-gradient(to right, #facc15 0%, #424242 100%) 1;
}

.white,
.white a,
.white i {
  color: #ececec !important;
}

.border-white {
  border-image: linear-gradient(to right, #ececec 0%, #000 100%) 1;
}

.border-purple,
.border-green,
.border-red,
.border-orange,
.border-yellow,
.border-white {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.neon {
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

.neon-green {
  animation: pulsate-green 0.11s ease-in-out infinite alternate;
}

@keyframes blink-animation {
  to {
    opacity: 0;
  }
}
@keyframes bg-blink-animation {
  to {
    background-color: transparent;
  }
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
