@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600)
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Raleway:400,200,600)
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Hammersmith+One|Exo|Quicksand|Changa+One|Squada+One|Orbitron)

/* ADD VARIABLES */



#contact
  margin-top: -15px !important
  z-index: 5000
  background: #F5F5F5 
  position: fixed
  float: left
  width: 100%
  padding: 20px 0 15px
  -webkit-box-shadow: 0px 3px 15px 2px #000
  box-shadow: 0px 3px 15px 2px #000
  text-align: center
  font-family: Raleway, Quicksand, Oswald,Raleway, san-serif
  font-weight: 700px 
  color: gray 
  font-size: 20px
  a
    color: gray !important
  a:hover
    color: red !important

#contact 
  box-shadow: 0px 30px 30px 5px #F5F5F5

#gallery
  max-width: 900px
  margin: 100px auto 50px  
  width: 100%
  img
    width: 100%
    margin: 0 auto
    float: left
  img, > .img
    -webkit-box-shadow: 2px 1px 8px 1px #A8A8A8
    box-shadow: 2px 1px 8px 1px #A8A8A8
    margin-bottom: 15px !important

.galleryBreak
  width: 900px
  height: 65px 
  text-align: center
  color: #BABABA
  font-size: 28px

div
  &.images-container
    clear: both
    position: relative
    width: 900px
    > img
      cursor: pointer !important
      width: 900px
      display: block
      position: absolute
      /* transitions
      -webkit-transition: all .4s ease
      -moz-transition: all .4s ease
      -ms-transition: all .4s ease
      -o-transition: all .4s ease
      transition: all .4s ease
  > img
    &.normal
      filter: alpha(opacity = 100)
      /* IE stuff
      opacity: 1
      z-index: 2
    &.hover
      filter: alpha(opacity = 0)
      /* IE stuff
      opacity: 0
      z-index: 1
  &:hover > img
    &.normal
      filter: alpha(opacity = 0)
      opacity: 0
      z-index: 1
    &.hover
      filter: alpha(opacity = 100)
      opacity: 1
      z-index: 2

/* solution 2: css2 solution, hide/show elements by class

/* hover

html
  color: #333333
  margin: 0
  padding: 0
  font-family: 'Open Sans'

body
  margin: 0
  padding: 0
  font-family: 'Open Sans'

#header
  max-width: 900px
  margin: 0 auto
  padding: 0
  height: 500px

h1
  color: red
  text-align: center
  font-weight: 400
  font-size: 35px
  text-decoration: none
  margin-top: 15px !important
  margin-bottom: 15px !important

h2
  color: #9E9E9E
  font-weight: 700
  font-family: Hammersmith One, Quicksand, Oswald, san-serif !important
  letter-spacing: -2px !important
  text-transform: uppercase
  font-size: 28px !important
  width: 900px
  margin-bottom: 0
  line-height: 30px

h3
  text-transform: uppercase
  font-size: 19px
  font-weight: 200
  font-family: Raleway, san-serif
  font-weight: 900px
  color: #1F1F1F
  margin: 0 0 15px 0 !important
  line-height: 22px

*
  cursor: default

h4
  font-weight: 200
  font-family: Raleway, san-serif
  font-weight: 700px
  text-align: center
  margin: 0 !important
  padding: 0 !important

h5
  color: #000
  font-family: Raleway, san-serif
  font-weight: 500
  margin: 0 0 10px 0
  font-size: 16px !important
  letter-spacing: -0.5x

#slider
  position: relative
  overflow: hidden
  margin: 20px auto 0 auto
  border-radius: 4px
  ul
    position: relative
    margin: 0
    padding: 0
    height: 200px
    list-style: none
    li
      position: relative
      display: block
      float: left
      margin: 0
      padding: 0
      width: 500px
      height: 300px
      background: #ccc
      text-align: center
      line-height: 300px

a
  &.control_prev, &.control_next
    position: absolute
    top: 40%
    z-index: 999
    display: block
    padding: 4% 3%
    width: auto
    height: auto
    background: #2a2a2a
    color: #fff
    text-decoration: none
    font-weight: 600
    font-size: 18px
    opacity: 0.8
    cursor: pointer
  &.control_prev:hover, &.control_next:hover
    opacity: 1
    -webkit-transition: all 0.2s ease
  &.control_prev
    border-radius: 0 2px 2px 0
  &.control_next
    right: 0
    border-radius: 2px 0 0 2px

.slider_option
  position: relative
  margin: 10px auto
  width: 160px
  font-size: 18px

/* SLIDER

body
  -webkit-font-smoothing: antialiased
  font: normal 15px / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #232525
  padding-top: 10px

.marginRight
  div
    margin-right: 3%

.columnHalf img
  float: left !important
  margin: 5px !important
  width: 90%
  margin-bottom: 5px !important

#slides
  display: none

.container
  margin: 0 auto



.textBox
  padding: 0 0 25px 

/* YOUTUBE RESPONSIVE

.video-container
  position: relative
  padding-bottom: 56.25%
  padding-top: 30px
  height: 0
  overflow: hidden
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

/* MODAL */

.modalDialog
  position: fixed
  font-family: Arial, Helvetica, sans-serif
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding-top: 5px
  background: rgba(0, 0, 0, 0.8)
  z-index: 99999
  opacity: 0
  -webkit-transition: opacity 400ms ease-in
  -moz-transition: opacity 400ms ease-in
  transition: opacity 400ms ease-in
  pointer-events: none
  margin: 0 auto
  &:target
    margin: 0 auto
    opacity: 1
    pointer-events: auto
  > div
    position: relative
    margin: 0 auto
    padding: 5px 20px 13px 20px
  h2
    color: white
  h3 
    color: white
  img
    display: block
    margin: auto
  width: 100%
  div
    max-width: 900px
    margin: 0 auto
  img
    max-width: 900px
    -webkit-box-shadow: 0px 3px 25px 2px black !important
    box-shadow: 0px 3px 25px 2px black !important
  h2
    margin-bottom: 10px
    text-align: left
.close 
  line-height: 22px
  position: absolute
  right: 20px
  top: 25px 
  text-align: center
  width: 24px
  font-weight: bold
  background: red
  &:hover
    color: white !important
    padding: 3px
    margin-top: 2px


a
  padding: 5px 3px 3px
  margin-left: -3px
  &:link, &:visited
    color: #000 !important
    text-decoration: none
    font-weight: 600
  &:hover, &:active
    text-decoration: none
    font-weight: 600
    cursor: pointer !important
    // Firefox
    color: red !important
    // Chrome, Safari?
    background: -webkit-linear-gradient(#fff, #424242)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.columnHalf
  &:hover  
    cursor: default


@media all and (max-width: 820px)
  h2
    font-size: 45px !important

#otherProjects
  text-align: center !important

#close
  img:hover
    display: none !important

.note 
  text-align: center
  margin-top: -5px
  h5
    color: gray !important

.arrow-up 
  display: inline-block
  width: 0
  height: 20px
  border-left: 6px solid transparent
  border-right: 6px solid transparent
  border-bottom: 6px solid gray
  margin-bottom: 2px

.arrow-down
  display: inline-block
  width: 0
  height: 20px
  border-left: 6px solid transparent
  border-right: 6px solid transparent
  border-top: 6px solid gray
  margin-bottom: -18px

.columnHalfLeft 
  height: 1000px
  width: 49%
  float: left

.columnHalfRight
  height: 1000px
  width: 49%
  float: left

.modalImage > img
  display: none !important

#columns