:root {
  --font-stack-1: "Noto Serif Makasar", serif;
  --font-stack-2: "Jost", sans-serif;
  --font-stack-3: "Belanosima", sans-serif;
  --font-stack-4: "Abel", sans-serif;
  --black:#151E3F;
  --orange:#F45552;
  --yellow:#facc15;
  --steel:#636363;
  --midnight:#8A817C;
  --white:#F4F3EE;
  --offwhite:#aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  cursor: pointer !important;
}

.nav a {
  color: grey;
}

a:hover {
  color: #facc15 !important;
}

body {
  font-family: var(--font-stack-1);
  font-weight: 400;
  color: var(--offwhite);
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  color: var(--white);
}

h2 {
  font-family: var(--font-stack-4);
  color: var(--yellow-700);
  text-transform: uppercase;
}

h3 {
  font-family: var(--font-stack-3);
  color: var(--white);
  line-height: 3.5rem;
  outline: 2px solid transparent;
}

h4 {
  font-family: var(--font-stack-4);
}

p {
  line-height: 2.1rem;
  margin: var(--gutter-small) 0;
}

p, h1, h2, h3, h4, h5, li {
  cursor: default;
}

a {
  cursor: pointer;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  background-color: var(--midnight);
  border-radius: 50%;
  z-index: 10;
  visibility: hidden;
  transition: all 0.4s;
}
.back-to-top:hover {
  -webkit-filter: invert(0.8);
  filter: invert(0.8);
}
.back-to-top:active {
  -webkit-filter: invert(1);
  filter: invert(1);
}

#contact a {
  color: var(--green);
}

.contact a {
  color: var(--green);
  text-decoration: none;
}
.contact a:hover {
  color: var(--green);
  text-decoration: underline;
}
.contact a:active {
  color: var(--white);
}

.invert {
  filter: invert(100%) grayscale(100%) opacity(0.8) !important;
}

/* doesnt work ? */
/*.client__logos>img:hover
 * display: flex
 * justify-content: space-between
 * filter: opacity(1)*/
.fas {
  margin-left: 10px;
}

.footer__social-image {
  height: 4rem;
}

.header-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("./images/header.jpg");
  background-size: cover;
  background-attachment: static;
}

/*.link__text
 * position: relative
 * display: inline-block
 * text-decoration: none
 * border-bottom: 1px solid var(--steel)
 * &::after
 *  content: ''
 *  display: block
 *  position: absolute
 *  top: 0
 *  left: 0
 *  right: 100%
 *  background: var(--white)
 *  height: 100%
 *  z-index: -1
 *  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9)
 * &:focus
 *  outline: none
 * &:hover::after, &:focus:after
 *  right: 0
 *  background: var(--green)
 * &:hover
 *  color: var(--green)*/
 * span
 *  padding-left: 1rem
 *  font-family: sans-serif */
.material-symbols-outlined {
  color: var(--yellow);
}

.row {
  max-width: 1280px;
  margin: 0 auto;
}

.spacer {
  height: 0;
}

.text__dark {
  color: #000;
}
.text__dark h3 {
  color: #000;
}

.work__image-box img {
  box-shadow: var(--black) 0px 10px 20px -10px;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  max-width: 100%;
}
.work__image-box img:not(:last-child) {
  margin-bottom: 5rem;
}

.work__links {
  font-family: var(--font-stack-3);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.work__links a {
  color: var(--grey);
  cursor: pointer;
}
.work__links i {
  color: var(--grey);
}

/*@font-face
 * font-style: normal
 * font-weight: 400*/
@media (max-width: 900px) {
  .about__photo-container img {
    max-width: 66%;
  }
  .about__content {
    flex-direction: column-reverse;
    align-items: initial;
  }
  .header__text {
    padding: 4rem 3rem;
  }
  .row {
    padding: 0;
  }
  .container {
    align-items: initial;
    flex-direction: column;
    margin-bottom: 0;
    padding: 2rem 0 6rem;
  }
  .work__image-box {
    padding: 1rem 0 0;
  }
  .work__links {
    padding-bottom: 20px;
  }
  .work__text {
    padding: 4rem 8rem;
    flex: 0 0 25%;
  }
}
