/* LIGHT */
body
  background-color: #4E82BE
  .bg-glass-blue
    background: rgba(0, 225, 237, 0.647)
  .project-desc
    p
      color: var(--color-grey-dark)
  .project-section 
    p
      color: var(--color-grey-dark)
  .project-desc
    p
      color: var(--color-grey-light) 
  .project-title h1,
  .project-subtitle,
  figcaption
    color: var(--color-grey-light) 
  .project-title
    h1
      color: var(--color-white)
    i
      color: var(--color-grey-light)

/* DARK */
body.dark-mode 
  background-color: #000 
  color: white
  .project-title 
    animation: pulsate 0.11s ease-in-out infinite alternate
    h1
      color: var(--color-white)
  figcaption
    color: var(--color-grey-medium)
  .project-title
    i
      color: #4E82BE