/* LIGHT */
body {
  background-color: #4E82BE;
}
body .bg-glass-blue {
  background: rgba(0, 225, 237, 0.647);
}
body .project-desc p {
  color: var(--color-grey-dark);
}
body .project-section p {
  color: var(--color-grey-dark);
}
body .project-desc p {
  color: var(--color-grey-light);
}
body .project-title h1,
body .project-subtitle,
body figcaption {
  color: var(--color-grey-light);
}
body .project-title h1 {
  color: var(--color-white);
}
body .project-title i {
  color: var(--color-grey-light);
}

/* DARK */
body.dark-mode {
  background-color: #000;
  color: white;
}
body.dark-mode .project-title {
  animation: pulsate 0.11s ease-in-out infinite alternate;
}
body.dark-mode .project-title h1 {
  color: var(--color-white);
}
body.dark-mode figcaption {
  color: var(--color-grey-medium);
}
body.dark-mode .project-title i {
  color: #4E82BE;
}
