/* CYBERGRAD - LIGHT */
body {
  background-color: var(--color-yellow-pgh) !important;
}

.project-list a {
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.21);
}

.bg-glass-blue {
  background: rgba(0, 225, 237, 0.647);
}

.project-links a {
  color: var(--color-black);
}

.project-subtitle {
  text-shadow: none;
}

.project-section p {
  color: var(--color-grey-medium);
}

.project-title i {
  color: var(--color-black);
}

/* CYBERGRAD - DARK */
body.dark-mode {
  background-color: var(--color-black) !important;
  color: white;
}

body.dark-mode .project-list a {
  text-shadow: none;
  color: var(--color-blue);
}

body.dark-mode .project-title i {
  color: var(--color-yellow-pgh);
}

body.dark-mode .project-links a {
  color: var(--color-yellow-pgh);
}
