/* CYBERGRAD - LIGHT */
body {
  background-color: #FFE606;
}
body .bg-glass-blue {
  background: rgba(0, 225, 237, 0.647);
}
body .project-links a {
  color: #fff;
  text-shadow: var(--text-shadow-3);
}
body .project-section p {
  color: var(--color-grey-dark);
}
body .project-desc p {
  color: var(--color-grey-dark);
}
body .project-subtitle,
body figcaption {
  color: var(--color-grey-dark);
}
body .project-title h1 {
  color: var(--color-grey-dark);
}
body .project-title i {
  color: var(--color-grey-dark);
}

/* CYBERGRAD - DARK */
body.dark-mode {
  background-color: var(--color-black);
  color: white;
}
body.dark-mode .project-title {
  animation: pulsate 0.11s ease-in-out infinite alternate;
}
body.dark-mode .project-title h1 {
  color: var(--color-white);
}
body.dark-mode figcaption {
  color: var(--color-grey-medium);
}
body.dark-mode .project-desc p {
  color: var(--color-grey-medium);
}
body.dark-mode .project-links a {
  color: #FFDF00;
}
body.dark-mode .project-title i {
  color: #FFDF00;
}
body.dark-mode .project-subtitle {
  color: var(--color-grey-medium);
}
