/* CYBERGRAD - LIGHT */
body
  background-color: #FFE606
  .bg-glass-blue
    background: rgba(0, 225, 237, 0.647)
  .project-links
    a
      color: #fff
      text-shadow: var(--text-shadow-3)
  .project-section 
    p
      color: var(--color-grey-dark)
  .project-section-desc
    p
      color: var(--color-grey-dark) 
  .project-subtitle,
  figcaption
    color: var(--color-grey-dark) 
  .project-title
    h1
      color: var(--color-grey-dark)
    i
      color: var(--color-grey-dark)

/* CYBERGRAD - DARK */
body.dark-mode 
  background-color: var(--color-black)
  color: white
  .project-title 
    animation: pulsate 0.11s ease-in-out infinite alternate
    h1
      color: var(--color-white)
  figcaption
    color: var(--color-grey-medium)
  .project-section-desc
    p
      color: var(--color-grey-medium)
  .project-links
    a
      color: #FFDF00
  .project-title
    i
      color: #FFDF00
  .project-subtitle
    color: var(--color-grey-medium) 