/* CYBERGRAD - LIGHT */
body
  background-color: #FFE606
  .bg-glass-blue
    background: rgba(0, 225, 237, 0.647)
  .project-links
    a
      color: #fff
      text-shadow: var(--text-shadow-3)
  .project-section 
    p
      color: var(--color-grey-5)
  .project-section-desc
    p
      color: var(--color-grey-5) 
  .project-subtitle,
  figcaption
    color: var(--color-grey-5) 
  .project-title
    h1
      color: var(--color-grey-5)
    i
      color: var(--color-grey-5)

  .navbar-logo 
    h1
      color: var(--color-grey-3)
      &:hover
        color: var(--color-grey-5)    
        &:after
          background-color: var(--color-grey-5)
    
  .navbar-menu
    i
      color: var(--color-grey-3)
      &:hover
        color: var(--color-grey-5)

/* CYBERGRAD - DARK */
body.dark-mode 
  background-color: var(--color-black)
  color: white

  .navbar-logo 
    h1
      color: var(--color-grey-3)
      &:hover
        color: var(--color-green)    
        &:after
          background-color: var(--color-green)
    
  .navbar-menu
    i
      color: var(--color-grey-3)
      &:hover
        color: var(--color-green)
  .project-title 
    animation: pulsate 0.11s ease-in-out infinite alternate
    h1
      color: var(--color-white)
  figcaption
    color: var(--color-grey-3)
  .project-section-desc
    p
      color: var(--color-grey-3)
  .project-links
    a
      color: #FFDF00
  .project-title
    i
      color: #FFDF00
  .project-subtitle
    color: var(--color-grey-3) 