/* CYBERGRAD - LIGHT */
body {
  background-color: var(--color-yellow-pgh);
}
body .bg-glass-blue {
  background: rgba(0, 225, 237, 0.647);
}
body .project-subtitle {
  text-shadow: none;
}
body .project-section p {
  color: var(--color-grey-dark);
}
body .project-desc,
body .project-title h1,
body .project-subtitle,
body figcaption {
  color: var(--color-grey-medium);
}

/* CYBERGRAD - DARK */
body.dark-mode {
  background-color: var(--color-black);
  color: white;
}
body.dark-mode .project-title {
  animation: pulsate 0.11s ease-in-out infinite alternate;
}
body.dark-mode .project-title h1 {
  color: var(--color-white);
}
body.dark-mode figcaption {
  color: var(--color-grey-medium);
}
