/* LIGHT MODE */

body
   background-color: #E1F1FF !important
   color: blue
*
  color: var(--color-title-hashtag)


/* DARK MODE */

body.dark-mode 
  background-color: var(--color-cyber-bg) !important
  color: white

/*.site-page-title
  color: red !important*/