/* CYBERGRAD - LIGHT */
body
   background-color: var(--color-cyber-turqoise-medium) !important
   background-color: var(--color-cyber-turqoise-light) !important
   color: blue

/* CYBERGRAD - DARK */
body.dark-mode 
  background-color: var(--color-cyber-bg) !important
  color: white

/*.page-title
  color: red !important*/