/* CYBERGRAD - LIGHT */
body {
  background-color: var(--color-turqoise-medium) !important;
}

.project-list a {
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.21);
}

.bg-glass-blue {
  background: rgba(0, 225, 237, 0.647);
}

.project-subtitle {
  text-shadow: none;
}

.project-section p {
  color: var(--color-grey-medium);
}

/* CYBERGRAD - DARK */
body.dark-mode {
  background-color: var(--color-cyber-bg) !important;
  color: white;
}

/*.page-title
 * color: red !important*/
body.dark-mode .project-list a {
  text-shadow: none;
  color: var(--color-blue);
}
